
    
  



@{ViewBag.Title = "Guide to taxis and private hire";}
@{ViewBag.Keywords = "TfL,black taxis, cabs, private hire";}
@{ViewBag.Url = "/modes/taxis-and-minicabs/what-to-expect-from-your-journey";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/taxis-and-minicabs/index">Taxis & minicabs</a></li>
                
            
            
                <li><span class="last-breadcrumb">Guide to taxis and private hire</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Guide to taxis and private hire</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about what to expect from your taxi and private hire journey. <BR>
        
      </div>
    
    <div class="on-this-page">
      <p>London has the world's oldest regulated taxi service, with a great tradition of quality, value and safety. Our taxi drivers must pass the world-famous <a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Knowledge of London</a>, and our taxi and private hire drivers must pass Disclosure and Barring Service (DBS) checks (previously known as a Criminal Records Bureau, or CRB checks), as well as medical fitness checks.</p>
<h2>Black taxis &amp; private hire - the difference</h2>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/black-taxi2.jpg" alt="Black taxi image 2" />
    </div>
     
</div>
 
</div>
 <div>

<div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/private-hire-image3.jpg" alt="Private hire image 3" />
    </div>
     
</div>
 
</div>
 
</div>
 <div>

<p>Black taxis are purpose-built vehicles which can be any colour, not just black. Private hire vehicles cover a wide range of vehicles, including minicabs, chauffeur and executive cars and limousines. </p>
</div>
 <div>

<h2>Black taxis </h2>
<p>There are quite a few differences between black taxis and private hire vehicles. Black taxis:</p>
<ul>
    <li>Are also called hackney carriages, or black cabs, although they can be any colour</li>
    <li>Have a 'for hire' light on their roof. This means they can be hailed on the street or from a <a href="/info-for/taxis-and-private-hire/taxi-ranks">taxi rank</a> </li>
    <li>Can be <a href="/modes/taxis-and-minicabs/book-a-taxi">pre-booked</a> </li>
    <li>Accept card and contactless payments without surcharge</li>
    <li>Must carry assistance dogs free of charge and are 100% wheelchair accessible. Taxis have an induction hearing loop, high-visibility grab handles, and minimum vehicle dimensions for safer access; and must carry wheelchair users. <a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Find out more</a></li>
    <li>Have <a href="/modes/taxis-and-minicabs/taxi-fares">fares</a> which are regulated and set by us and are calculated by meter (known as the taximeter</li>
    <li>Are purpose-built vehicles specially designed to navigate London's tricky streets</li>
    <li>Drivers must pass enhanced Disclosure &amp; Barring Service (DBS) background checks and regular medical checks</li>
</ul>
<h2>What to look out for - black taxis</h2>
<h3>A green or yellow badge</h3>
<p>If you want to know if the taxi and driver you're using is licensed by us, these are the things to look out for:</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/green-badge2.jpg" alt="Green badge image 2" />
    </div>
     
</div>
 
</div>
 <div>

<div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/yellow-badge2.jpg" alt="Yellow badge image 2" />
    </div>
     
</div>
 
</div>
 
</div>
 <div>

<p>Drivers must have a badge and they must wear it while working. A badge shows that they have passed the <a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Knowledge of London</a> exam. Drivers with a green badge are licensed to pick passengers up anywhere in London and drivers with a yellow badge specialise in local suburban areas</p>
<h3>A green or yellow licence</h3>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/green-licence2.jpg" alt="Green licence image 2" />
    </div>
     
</div>
 
</div>
 <div>

<div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/yellow-licence22.jpg" alt="Yellow licence 22" />
    </div>
     
</div>
 
</div>
 
</div>
 <div>

<p>Your driver must display one of these licences in the front and rear windscreens of their taxi. This licence shows the driver's badge number. If it is green, it means that you have an All London taxi driver and if it is yellow, your driver can work in local suburban areas. </p>
<h3>The taxi plate</h3>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/tfl-licence.jpg" alt="Taxi licence" />
    </div>
     
</div>
 <div>

<p>As well as the driver's badge number, your taxi must display this white plate on the back of the vehicle. As well as the vehicle's licence number, it shows the licence expiry date, vehicle registration number, and number of passengers the vehicle is licensed to carry.</p>
<h2>Private hire vehicles</h2>
<ul>
    <li>Are a wide range of vehicles including minicabs, chauffeur and executive cars and limousines</li>
    <li>Must be pre-booked through a <a href="/info-for/taxis-and-private-hire/licensing/licence-checker">TfL-licensed private hire operator</a>, who must provide a booking confirmation to a passenger before their journey starts; the booking confirmation must contain, as a minimum:
    <ul>
        <li>The vehicle registration mark</li>
        <li>The driver's first name</li>
        <li>The driver's private hire licence number, as shown on the ID the driver is wearing</li>
        <li>Where the passenger can receive it, a photo of driver</li>
    </ul>
    </li>
    <li>Cannot ply for hire or use taxi ranks</li>
    <li>Must give you an accurate fare estimate before your journey starts (unless you've pre-agreed a fixed fare). We don't regulate private hire fares, although they are typically distance based </li>
    <li>Are no more than 10 years old (to help improve air quality)</li>
    <li>Must carry assistance dogs free of charge, and if they are designated as wheelchair accessible vehicles must carry wheelchair users. <a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Find out more</a></li>
    <li>Drivers must pass enhanced Disclosure &amp; Barring Service (DBS) background check and regular medical checks</li>
</ul>
<h2>What to look out for - private hire vehicles</h2>
<p>If you want to know if the vehicle and driver you're using is licensed by us, there are a number of things to look out for:</p>
<h3>Private hire ID</h3>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/driver-badge.jpg" alt="Private hire vehicle ID image" />
    </div>
     
</div>
 <div>

<p>Private hire drivers must wear their ID, like this, while working.  This shows the driver's name, photo and licence number.</p>
<h3>Yellow disc</h3>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/drivers-disc.jpg" alt="Licence disc image" />
    </div>
     
</div>
 <div>

<p>Private hire vehicles must have licence discs displayed on the front and rear windscreens. They will show: the TfL licence number, licence expiry date, vehicle's registration number, and the number of passengers the vehicle is allowed to carry. Vehicles and drivers are licensed separately, so make sure to check both. </p>
<h3>Pre-booked sticker </h3>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/pre-booked-image.png" alt="Pre-booked ticket image" />
    </div>
     
</div>
 <div>

<p>Sometimes, private hire vehicles will have a pre-booked sticker on display. This is optional and <strong>should not</strong> be taken as proof that it is a licensed vehicle. </p>
</div>
 <div>

<h2>Accessibility</h2>
<p>Taxi and private hire drivers are obliged to carry assistance dogs for no extra charge. Our taxis are also wheelchair accessible, and enable the user to  travel easily around London - <a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">find out more</a>. </p>
<p>If a taxi driver helps you to enter or leave their vehicle, or secure your wheelchair in the passenger compartment, they should not leave the meter running. Drivers who refuse to help with wheelchairs or assistance dogs face prosecution. If this has happened to you, please <a href="https://tfl.gov.uk/forms/12396.aspx">contact us</a>.</p>
<p>Black taxis are designed with a range of accessibility features specifically included to help disabled and elderly customers. These include: an induction hearing loop, high visibility grab handles and minimum vehicle dimensions to enable safe access.</p>
<p>If you have mobility impairments and have trouble using public transport, you may be able to get subsidised taxi and minicab travel in London. The two schemes are called <a href="/modes/taxis-and-minicabs/taxicard-and-capital-call">Taxicard and Capital Call</a>.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="cJTgxATt-ZU" data-video-caption="An accessible taxi journey"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Your feedback</h2>
<p>If you have a complaint, comment, or just want to let us know that your driver provided a great service, please <a href="https://tfl.gov.uk/forms/12396.aspx">let us know</a>. </p>
<p>If you are making a complaint, please include the driver's licence number or vehicle registration number, if possible. This helps us to identify them.  </p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/taxis-and-minicabs/index" class="heading">
                    <h2 id="sub-menu-heading">Taxis & minicabs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/book-a-taxi">Find a taxi or minicab</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxi-fares">Taxi fares</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxicard-and-capital-call">Taxicard</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/what-to-expect-from-your-journey">Guide to taxis and private hire</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What people need to know about taxis and private hire before their journey";}
        
            
        


 