
    
  



@{ViewBag.Title = "Cycleways";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/cycleways";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes and maps</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycleways</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycleways</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Cycleways are routes that link communities, businesses and destinations across London in one cycle network. They used to be called Cycle Superhighways and Quietways.
        
      </div>
    
    <div class="on-this-page">
      <p>We're creating 450km of new Cycleways by 2024 so that&nbsp;more Londoners will live near the cycle network.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="rkGNlRPZQP8" data-video-caption="Cycleways"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Find a Cycleway</h2>

<p>Our cycle map shows open and proposed cycle routes, as well as <a href="/modes/cycling/santander-cycles">Santander Cycle</a> docking stations across London.&nbsp;</p>

<p>We're still launching Cycleways, so you'll see current Cycle Superhighways and Quietways on our map. These will be replaced with Cycleways in future.</p>
</div>
 <div class="vertical-button-container">



<a href="https://tfl.gov.uk/maps/cycle"  class="plain-button">See our cycle map</a>

</div>
<div>

<h2>Future Cycleways&nbsp;</h2>

<p>We're building lots of new Cycleways to connect people and places across London. Here's the first Cycleways we're working on:&nbsp;</p>

<h3>Wembley and Willesden Junction</h3>

<p>We're working with the London Borough of Brent on plans for a new Cycleway. This is part of our Healthy Streets improvements between Wembley and Willesden Junction via Stonebridge and Harlesden.&nbsp;</p>

<p>We want to hear from you, so we can understand how you travel and any travel issues in Wembley Central, Tokyngton, Stonebridge, Harlesden and Kensal Green.</p>

<p><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v2W9H-9d6k6mkqCJwlU0a35ByHfacylFlHPjGjqULUpUQ1owSkdMQTFSMUhGOTE3RUpINDI3Wk1DOS4u">Complete our survey</a> (by 22 March 2020).</p>

<p>We'll present our proposal at a public consultation in late 2020 or early 2021. For more information, contact <a href="mailto:wembleywillesdenjct&#64;tfl.gov.uk">wembleywillesdenjct&#64;tfl.gov.uk</a> or <a href="tel:0343 222 1234">0343 222 1234</a>.</p>

<h3>Camden and Tottenham Hale&nbsp;</h3>

<p>A 12km route connecting Tottenham Hale, Seven Sisters and the Nag's head. We'll consult on this route in summer 2020.&nbsp;</p>

<h3>Lea Bridge and Dalston&nbsp;</h3>

<p>A 3km route connecting Lea Bridge, the City and Tottenham at Dalston.&nbsp;&nbsp;</p>

<p>We've consulted on this route. <a href="https://consultations.tfl.gov.uk/cycling/dalston-to-lea-bridge/">See our plans</a>.&nbsp;</p>

<h3>Hackney and Isle of Dogs&nbsp;</h3>

<p>A 7.5km route connecting Hackney to the Isle of Dogs via Westferry, Mile End and Victoria Park.&nbsp;</p>

<p>We've consulted on this route. <a href="https://consultations.tfl.gov.uk/cycling/hackney-to-isle-of-dogs/">See our plans</a>.&nbsp;</p>

<h3>Ilford and Barking Riverside&nbsp;</h3>

<p>A 7km route connecting Ilford to Barking Riverside via Barking Town.&nbsp;</p>

<p>We've consulted on the first phase of this route. <a href="https://consultations.tfl.gov.uk/cycling/barking-riverside/">See our plans</a>. We'll consult on the second phase soon.&nbsp;</p>

<h3>Greenwich and Woolwich&nbsp;</h3>

<p>This route will connect to <a href="/travel-information/improvements-and-projects/cycle-superhighway-4">Cycleway 4</a>, linking Tower Bridge and Woolwich.&nbsp;&nbsp;</p>

<p>We're consulting on this route. <a href="https://consultations.tfl.gov.uk/cycling/greenwich-to-woolwich/">See our plans and give your views</a>.</p>

<h3>West Kensington, Hammersmith, Chiswick and Brentford</h3>

<p>This route will connect to <a href="/travel-information/improvements-and-projects/cycle-superhighway-9">Cycleway 9</a>. We've consulted on this route. <a href="https://consultations.tfl.gov.uk/roads/cs9/?cid=cs9">See our plans</a>.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/2019/10/06/cycling-routes/?intcmp=58775" >
        <img src="/cdn/static/cms/images/promos/cycleway-2_rdax_400x200.jpg" alt="Two women using Santander Cycles, cycling along Cycleway 2 - a seperate cycle lane next to the road" />
        
        <div class="text-link">
             <h2>Explore Cycleways</h2>
            <p>Discovering London on two wheels is a great way to see the city</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycle-skills?intcmp=2386" >
        <img src="/cdn/static/cms/images/promos/cycle-training-web_rdax_400x200.jpg" alt="Group of cyclists on a cycle training course lined up together" />
        
        <div class="text-link">
             <h2>Cycle skills</h2>
            <p>Book free cycle training to improve your skills</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes and maps</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycleways">Cycleways</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-skills">Cycle skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycles-on-public-transport">Cycles on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/cycle-superhighway-11" class="plain-button">Cycle Superhighway 11</a>
<a href="/corporate/publications-and-reports/cycling" class="plain-button">Cycling reports and publications</a>
<a href="http://content.tfl.gov.uk/cycling-action-plan.pdf" class="plain-button">Cycling action plan</a>
<a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking" class="plain-button">Encouraging cycling and walking</a>
<a href="/travel-information/improvements-and-projects/acton-to-wood-lane-improvements" class="plain-button">Acton to Wood Lane improvements</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "See all our cycleways across London that create one cycle network.";}
        
            
        


 