
    
  



@{ViewBag.Title = "The Emirates Air Line experience";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/emirates-air-line/the-emirates-air-line-experience";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/emirates-air-line/index">Emirates Air Line </a></li>
                
            
            
                <li><span class="last-breadcrumb">The Emirates Air Line experience</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The Emirates Air Line experience</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Take to the air on London's only cable car and enjoy a truly unique experience in east London.
        
      </div>
    
    <div class="on-this-page">
      <p>Emirates Air Line crosses the River Thames between Greenwich Peninsula and the Royal Docks, just five minutes from the O2 by North Greenwich Tube station. Cabins arrive every 30 seconds and flights are approximately 10 minutes each way.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="t8sjz_fCif0" data-video-caption="Take to the air"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Discovery experience tickets
</h2>
<p>Why not try the Discovery experience tour for a round trip with added extras. You can use Oyster pay as you go to buy tickets at discounted prices.</p>
<p>The Discovery experience includes a non-stop round-trip, an on-board video tour, free entrance to Emirates Aviation Experience and a souvenir in-flight guide. Oyster pay as you go customers will need to collect a Boarding Pass from the ticket office.</p>
<h2>The Emirates Aviation Experience </h2>
<p>London's newest public attraction, the <a href="http://www.aviation-experience.com/">Emirates Aviation Experience</a>, is the first of its kind globally. Located next to the Emirates Air Line Greenwich Peninsula terminal, it gives visitors an insight into the operations and modern achievements of commercial air travel. Using state-of-the-art technology, interactive displays and life-size aircraft models, this immersive experience has something for people of all ages.</p>
<h2>On-board video tour </h2>
<p>To add context to the breath-taking views we've included a new on-board tour as part of the Discovery experience. The audio and visual complements the journey through a series of fascinating hidden stories about the sights of East London. It highlights a selection of our most famous London landmarks including the Thames Barrier and Royal Docks, explains the vibrant history behind the creative art scene, covers the Olympic legacy and gives a flavour of East London's exciting plans for the future.</p>
<h2>Night flight experience</h2>
<p>Enjoy a stunning night flight experience on the Emirates Air Line. </p>
<p>After 19:00 each day, flight durations are extended to approximately 25 minutes (12-13 minutes each way) so you can enjoy an even more relaxing trip across the Thames. From Sunday to Thursday, passengers are able to fly until 21:00 and on Friday and Saturday nights until 23:00.</p>
<p>Whether you're having a night out with friends or indulging in a romantic evening sunset, the Emirates Air Line is a must do experience. Discover a unique perspective of London's captivating night sky including the reflections of the O2 and the awe-inspiring lights of Canary Wharf.</p>
<p>There is no additional charge for night flights - so what better way to see the city come alive after dark from the highest observation point on the River Thames?</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="eKut8sYx2DQ" data-video-caption="Emirates Air Line night flights"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Champagne flight experience</h2>

<p>Enjoy a glass of champagne in your own private cabin on the cable car, whilst soaring 90 metres above the River Thames.</p>

<p>You will be met at the cable car by a member of staff, where you will&nbsp;board your own private cabin with a glass of champagne. You'll then enjoy a non-stop return trip on the cable car (approximately 20 minutes), accompanied by music and a souvenir in-flight guide.</p>

<p><a href="http://emiratesairline.gttix.com/emirates-air-line-champagne-flights?cid=champagne-flights">Find out more and buy tickets online</a>.</p>

<h2>Explore London tickets</h2>

<p>Try our fantastic combined ticket package &#45; enjoy a breathtaking flight on the Emirates Air cable car, scenic Thames Clippers boat trips along the <a href="/modes/river/index">River Thames</a> and relaxing <a href="/modes/cycling/santander-cycles">Santander Cycles&nbsp;</a> bike rides &#45; a stunning way to see London's sights and landmarks. Save up to 20% when you buy online.</p>

<p><a href="/modes/river/explore-london-tickets">Find out more and buy tickets online.</a></p>

<h2>Museum and river packages</h2>

<p>Combine&nbsp;a flight&nbsp;over the&nbsp;Thames&nbsp;with a river trip and&nbsp;museum&nbsp;visit&nbsp;by buying a combined ticket for Emirates Air Line, Thames Clippers and London Transport Museum.</p>

<p>The 'three in one' ticket&nbsp;provides a Discovery Experience&nbsp;on the Emirates Air Line (including non-stop return), a single journey on Thames Clippers and entry to London Transport Museum. An adult single ticket costs &pound;27.50 and a child single ticket costs &pound;8.25. Tickets are available online only.</p>

<p>You can also buy a <a href="https://booking.thamesclippers.com/thames-clippers-tickets/joint-tickets/emirates-airline.html">combined ticket</a> for Thames Clippers and Emirates Air Line.</p>

<p><a href="http://www.thamesclippers.com/whats-on-discounts/london-transport-museum-emirates-air-line-river-joint-ticket-packages">Find out more and buy tickets online.</a></p>

<h2>The area</h2>

<p>North Greenwich is a bustling tourist spot, ideal for a day trip out with family or friends. There is a wide variety of things to do and see with sightseeing attractions such as the Cutty Sark and local history spots like the National Maritime Museum. You could also walk part of the Thames path and see the Thames Barrier.</p>

<p>From Royal Docks you can visit Newham City Farm, the Museum of London Docklands and the ExCeL.</p>

<p>Find more <a href="http://www.emiratesairline.co.uk/local-attractions/">things to do in the local area</a> on the Emirates Air Line website.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/emirates-air-line/index" class="heading">
                    <h2 id="sub-menu-heading">Emirates Air Line <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/emirates-air-line/opening-hours-frequency">Location & opening hours</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/emirates-air-line/the-emirates-air-line-experience">The Emirates Air Line experience</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/emirates_air_line" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/emirates_air_line" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/visiting-london/index" class="plain-button">Visiting London</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://emiratesairline.gttix.com/emirates-air-line-tickets" class="plain-button">Book tickets online</a>
<a href="http://www.emiratesairline.co.uk/" class="plain-button">Emirates Air Line</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Enjoy great views and a unique ride across the Thames on Emirates Air Line. Running between North Greenwich and Royal Victoria Docks.";}
        
            
        


 