
    
  



@{ViewBag.Title = "Direct Vision Standard and HGV Safety Permit";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></li>
                
            
            
                <li><span class="last-breadcrumb">Direct Vision Standard and HGV Safety Permit</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Direct Vision Standard and HGV Safety Permit</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Direct Vision Standard (DVS) and safety permit for heavy goods vehicles (HGVs) requires all lorries over 12 tonnes gross vehicle weight to be granted a permit to enter or operate in Greater London. The scheme was created to improve the safety of all road users, including pedestrians, cyclists and motorcyclists.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We continue to work with vehicle manufacturers to assign star ratings for their vehicles. Check to see if we hold your star rating and apply.&nbsp;<a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/apply-for-an-hgv-safety-permit">Find information and guidance about the application process.</a></p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/" class="primary-button" >Check star rating and apply</a>

    </div>
</div> 
 
</div>
 <div>

<p>The Direct Vision Standard&nbsp;measures how much an HGV&nbsp;driver can see directly through their cab windows. This indicates the level of risk to vulnerable road users, such as people walking and cycling, near the vehicle.</p>

<p>The Direct Vision Standard and HGV Safety Permit for HGVs is part of the <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Mayor of London's Vision Zero plan</a> to eliminate all deaths and serious injuries on London's transport network by 2041.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="i-P20wdrcAQ" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<h2>HGV Safety Permit and requirements</h2>

<p>From 26 October 2020, all HGVs more than 12 tonnes (GVW) entering or operating in Greater London will need to hold a valid HGV Safety Permit.</p>

<p>The HGV Safety Permit scheme will cover Greater London and be in operation 24 hours a day, every day of the year.</p>

<p>Applying is free of charge.</p>

<p>For more information about the HGV Safety Permit scheme and to see a map of where it will be enforced, read the&nbsp;guidance for operators.</p>
</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hgv-safety-permit-guidance-for-operators-entering-london.pdf">
    <div class="document-download-text">
        <p>HGV Safety Permit - guidance for operators entering London </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.70MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.70 -->
 <div>

<h3>DVS star rating and Safe System</h3>

<p>HGV operators need to apply for a permit for their vehicles. You will be granted a permit if the vehicle meets the minimum DVS star rating.</p>

<p>If your vehicle does not meet the minimum DVS star rating, you will need to make your vehicle safer by fitting it with Safe System improvements.</p>

<p><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/dvs-star-ratings-and-safe-system">What you need to know about DVS star ratings and Safe System improvements.</a></p>

<h3>Enforcement and penalties</h3>

<p>From 26 October 2020, if you drive an HGV within Greater London without a valid permit you may receive a penalty charge notice (PCN) of up to &pound;550 (reduced to &pound;275 if paid within 14 days).</p>

<p>We can also revoke or suspend a permit if a vehicle that has been granted a permit is later found to be in breach of the permit terms.</p>

<p><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Read the conditions of the HGV Safety Permit.</a></p>

<h3>Vehicles from outside of the UK</h3>

<p>Vehicles registered outside the UK more than 12 tonnes&nbsp;gross vehicle weight&nbsp;entering or operating in London will also need to hold a valid permit. You can apply for a permit as usual. Where we ask for your registration documents, such as a V5C log book, we accept foreign equivalents.</p>

<h3><a id="progressive" name="progressive"></a>Progressive Safe System</h3>

<p>The Safe System will be reviewed and consulted on in 2022 and will take into account any additional technology or safety equipment not currently available.</p>

<p>Any new equipment or technology proposed for the Progressive Safe System must be retrofittable to HGVs, industry recognised and readily available on the market at the time.</p>

<p>From October 2024, HGVs rated below three stars will need to feature the Progressive Safe System.</p>

<h2>Changes to LEZ standards from 26 October 2020</h2>

<p>From 26 October 2020, <a href="https://tfl.gov.uk/modes/driving/low-emission-zone/changes-to-the-lez">Low Emission Zone (LEZ) emissions standards will be tougher.</a> Heavy vehicles including lorries, buses and coaches will need to meet Euro VI (NOx and PM) emissions standards or pay a daily charge to drive within the Greater London area.</p>

<h2>Contact HGV Safety Permit</h2>

<p>If you have any questions about your application or existing permit, you can make an enquiry.</p>

<p>You'll be able to upload documents to support your enquiry.</p>

<p>Provide as much detailed information as possible to help us provide a prompt response. If you have one, include your permit application number. These can be found at the top of emails we send you.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.gov.uk/modes/driving/dvs-contact-us" class="secondary-button no-hover" >Make an enquiry</a>

    </div>
</div> 
 
</div>
 <div>

<h2>More information</h2>

<p>Find out more about <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/direct-vision-for-hgvs-research-and-tools">Direct Vision Standard research</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/driving-near-vulnerable-users">Driving near vulnerable users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme">Safer Lorry Scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/work-related-road-risk">Work Related Road Risk </a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/dvs-star-ratings-and-safe-system">DVS star ratings and Safe System improvements</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/apply-for-an-hgv-safety-permit">Guidance for the HGV Safety Permit</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/direct-vision-for-hgvs-research-and-tools">Direct Vision for HGVs Research and Tools</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "All lorries over 12 tonnes gross vehicle weight need to be granted a permit to enter or operate in Greater London. The scheme was created to improve the safety of all road users.";}
        
            
        


 