
    
  



@{ViewBag.Title = "Safer Lorry Scheme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></li>
                
            
            
                <li><span class="last-breadcrumb">Safer Lorry Scheme</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Safer Lorry Scheme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Mayor and TfL are committed to making London's roads safer for all. In a further step towards our ambition to see the Capital's roads free from death and serious injury, the Safer Lorry Scheme has been launched in collaboration with London Councils and Heathrow Airport.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/safer-hgv-zone_rdax_400x457.jpg" alt="Safer HGV zone - signage" />
        <span class="caption">This signage will be installed at the boundaries of the scheme</span>
        
        
    </div>
    <p>This scheme uses a combination of powers held by these bodies to deliver a simple, quick and complete solution across all roads in London.</p>

<p>It ensures that only lorries with basic safety equipment fitted will be allowed on London's roads. Under London's scheme, most vehicles that are currently exempt from national legislation for basic safety equipment will have to be retrofitted. This includes construction vehicles, which are involved in a disproportionate number of fatal collisions involving cyclists and pedestrians.</p>

<p>Under the scheme, vehicles over 3.5 tonnes that are currently exempt will be required to:</p>

<ul>
	<li>Be fitted with Class V and Class VI mirrors giving the driver a better view of cyclists and pedestrians around their vehicles</li>
	<li>Be fitted with side guards to protect cyclists from being dragged under the wheels in the event of a collision</li>
</ul>

<p>The scheme operates across London, 24 hours a day, seven days a week, covering the same area as the Low Emission Zone (<a href="http://www.tfl.gov.uk/maps/low-emission-zone">see a map of this area</a>). It came into force on 1 September 2015.</p>

<p>The scheme is enforced by the Metropolitan Police Service, City of London Police and the Driver and Vehicle Standards Agency.</p>

<ul>
	<li>Drivers found to be in charge of a non-compliant vehicle may be issued with a &pound;50 Fixed Penalty Notice</li>
	<li>The offence also carries a potential fine of &pound;1000 at Magistrate's court</li>
	<li>The Traffic Commissioner, who has the power to modify or suspend operator licenses, will also be notified of companies operating vehicles in breach of the scheme</li>
</ul> 
 </div>
 
<div>



<h2>Useful documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-safer-lorry-scheme.pdf">
    <div class="document-download-text">
        <p>Safer Lorry Scheme poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safer-lorries-scheme-traffic-regulation-order-2015.pdf">
    <div class="document-download-text">
        <p>Full wording of the scheme's Traffic Regulation Orders</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/list-of-vehicles-exempted-safer-lorries-scheme.pdf">
    <div class="document-download-text">
        <p>List of vehicles exempted from the scheme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/exemption-of-trailers-with-sliding-bogies.pdf">
    <div class="document-download-text">
        <p>Exemption for trailers with sliding bogies</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/exemption-for-hgvs-with-indirect-vision-devices.pdf">
    <div class="document-download-text">
        <p>Exemption for HGVs fitted with indirect vision devices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safer-lorry-scheme-class-v-and-vi-mirrors.pdf">
    <div class="document-download-text">
        <p>Vehicle compliance guide: class V and VI mirrors </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 305KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safer-lorry-scheme-side-guards.pdf">
    <div class="document-download-text">
        <p>Vehicle compliance guide: side guards </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 420KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 
</div>

</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/safer-lorries-scheme-mirror.jpg" alt="Guidance on mirrors" />
                <figcaption>
<span class="figure-title">Guidance on mirrors</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/safer-lorries-scheme-guards.jpg" alt="Guidance on side guards" />
                <figcaption>
<span class="figure-title">Guidance on side guards</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Background</h2>

<p>One of the Mayor and TfL's top priorities is to reduce the number of people killed or seriously injured on London's roads by 40% by 2020 and action is being taken to prioritise the safety of the most vulnerable road users: pedestrians, cyclists and motorcyclists.</p>

<p>At present, heavy goods vehicles (HGVs/lorries) are involved in a disproportionate number of fatal collisions involving cyclists and pedestrians. In 2013, HGVs were involved in 9 out of 14 incidents leading to cyclist fatalities.</p>

<p>Following a request from the Mayor, a feasibility study was conducted to consider the various ways of improving lorry safety in London. Based on its recommendations, TfL and London Councils held a six-week consultation over summer 2014 into their plans to introduce the Safer Lorry Scheme.</p>

<p>TfL reviewed all of the feedback provided and wrote a consultation report. The report sets out the findings of the consultation in full, with 90%of respondents supporting the plans.</p>

<p>After considering the feedback from the consultation, TfL, together with London Councils and Heathrow Airport, decided to progress the proposal. A statutory consultation on the Traffic Regulation Orders (TROs) required for the scheme took place in November 2014.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/driving-near-vulnerable-users">Driving near vulnerable users</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme">Safer Lorry Scheme</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/work-related-road-risk">Work Related Road Risk </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Making London's roads safer for all";}
        
            
        


 