
    
  



@{ViewBag.Title = "Taking the taxi driving test";}
@{ViewBag.Keywords = "Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london/taking-the-taxi-driving-test";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taking the taxi driving test</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taking the taxi driving test</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        All licensed taxi drivers must pass a taxi driving test. 
        
      </div>
    
    <div class="on-this-page">
      <p>A taxi driver should be able to show that they're considerate, safety conscious and have a high degree of vehicle control skills to make sure that customers travel in comfort and safety.</p>
<h3>Know your vehicle</h3>
<p> Knowing your vehicle is vital to providing a safe, comfortable journey for your customers. You should be familiar with the facilities in the taxi, such as the swivel seat and the intermediate step. You also need to know how to correctly load, secure and unload a wheelchair.</p>
<p>Training in this specialist equipment is important and should take place in a London black cab so that you have practical experience and confidence with the equipment in the taxi you drive.</p>
<p>There are a number of <a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">training providers</a> that can help you learn how the specialist equipment in your taxi works and how you can prepare for driving a taxi.</p>
      
           
      


<h2>Taxi driving test information</h2>
<p>We have put in place a temporary arrangement to license Knowledge applicants who pass their final (Stage 6) examination but who have not had the opportunity to sit the Driver and Vehicle Standards Agency (DVSA) test. Licences will be issued with a condition requiring them to pass a driving assessment once the new arrangements have been finalised.</p>
<p>The information on this page is for reference only and refers to the test provided by the DVSA. The DVSA no longer provide the taxi driving test and we are exploring alternatives as a matter of urgency.</p>
<p>The previous test, which took about one hour, included a driving test in a licensed taxi. Drivers were asked to carry out a series of driving manoeuvres. At the end of the test the examiner asked a series of questions from the Highway Code on road signs.</p>
<p>You can get more information about the previous taxi driving test in the short film, Taking the Taxi Driving Test.</p>

 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="B4AEnmt2o5c" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="taking-the-taxi-driving-test---video-transcript-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Taking the taxi driving test-Taking the taxi driving test - video transcript"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="taking-the-taxi-driving-test---video-transcript-heading" class="accordion-heading">Taking the taxi driving test - video transcript</div>
            </div>
            <div id="taking-the-taxi-driving-test---video-transcript-content" class="start-hidden" role="region" aria-labelledby="taking-the-taxi-driving-test---video-transcript-heading">

        <p>As well as a general overall level of competency the examiner will be looking for evidence that you can drive safely in a congested area.</p>
        <p>You will also need to know how to use the facilities such as the swivel seat and the wheelchair ramp to assist those with a disability.</p>
        <p>Okay Trevor, the first thing we're going to do is get you to read a number plate.</p>
        <p>So if you just stop here for a moment.</p>
        <p>Okay, so see the vehicles there ahead of you there, if you can read the number on the vehicle on the far left for me.</p>
        <p>Most people when they arrive at the test centre to take a test they will feel quite apprehensive, after all they are coming for a test.</p>
        <p>However, they probably won't feel the same nerves that they felt when they took their original L test because these are experienced drivers and usually they've got a fair amount of confidence.</p>
        <p>They are quite worried at the fact they've been driving for several years and then all of a sudden somebody's going to be staring at them and watching every move they make whilst they drive and whilst they load the wheelchair on to the vehicle.</p>
        <p>So yes I think a certain amount of nerves would be expected and quite often people do perform very well even though they are slightly nervous at the time.</p>
        <p>The reason why it's important to have this test is it's vitally important for road safety that the fare paying passengers can get from A to B both in comfort and in safety.</p>
        <p>Because these are experienced drivers they may have picked up some habits so it does no harm for these drivers to have a look at their own driving and sort of do a bit of self assessment if you like.</p>
        <p>And get some driver training behind them so that when they're taking passengers from A to B those passengers have confidence in the service that they're providing.</p>
        <p>The test in its entirety is about an hour. The first part or the largest part of that is probably about 38 to 40 minutes, would be the driving element of the test.</p>
        <p>So there's some general driving on a variety of road and traffic conditions.</p>
        <p>I'll ask them to do two manoeuvres, one of which will be what they call a taxi manoeuvre exercise, which is a manoeuvre where the candidate chooses which way they want to turn the vehicle round and from that I will then choose a second manoeuvre accordingly.</p>
        <p>Now with the general driving I might ask them to do an emergency stop and there will be several times during that drive where I'll pull them up at the side of the road either to see them move off from behind a parked car.</p>
        <p>Or move off on a hill or just normal stop as if they were picking up or dropping off a fare paying passenger.</p>
        <p>After that element of the test the next part would naturally be the wheelchair exercise.</p>
        <p>So during this exercise the candidate would have to demonstrate how they would load an empty wheelchair in and out of the vehicle using the ramps, using the harnesses and the seatbelts that are supplied.</p>
        <p>The DSA would provide the wheelchair for this exercise but the main point of this is that they imagine that there was somebody in this wheelchair and they can load it safely and with due concern to the passenger that might be in that chair.</p>
        <p>Following that there are some questions both on the Highway Code and matters relating to the safety of the vehicle.</p>
        <p>I also ask the candidate to identify some traffic signs, and that's it then, after that then I would give the candidate the results of the test and that would be over.</p>
        <p>Okay, that's the end of the test and I'm very pleased to say you've passed.</p>
        <p>Thank God for that.</p>
        <p>Congratulations.</p>
        <p>Thank you.  That's great.</p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-driver-licence">Apply for a taxi driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/apply-for-a-taxi-vehicle-licence">Apply for a taxi vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/information-for-fleet-owners">Information for fleet owners</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london">Learn the Knowledge of London</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/learn-the-knowledge-of-london/taking-the-taxi-driving-test">Taking the taxi driving test</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/taxi-top-advertising">Taxi top advertising</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence">Apply for a private hire driver licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-vehicle-licence">Apply for a private hire vehicle licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/private-hire-operator-licence">Apply for a private hire operator licence</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/topographical-assessment">Topographical assessment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/existing-licensee">Existing licensee</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/health-and-wellbeing">Health and wellbeing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licensing-information">Licensing information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing/licence-checker">Licence checker</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "All licensed taxi drivers must pass a taxi driving test. ";}
        
            
        


 