
    
  



@{ViewBag.Title = "Supplier skills";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/supplier-relations/supplier-skills";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></li>
                
            
            
                <li><span class="last-breadcrumb">Supplier skills</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Supplier skills</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about the skills we need in the future and how suppliers can help.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Our Supplier Skills programme</h2>

<p>Our Supplier Skills Team (SST) work in partnership with the supply chain to address skills shortages in the transport and engineering sectors. The team helps suppliers to employ people with the right skills and focuses on addressing under-representation in the industry. This allows us to create employment opportunities and contribute to economic regeneration within London and across the UK.</p>

<p>Since the project was initiated in 2009, the SST has supported the supply chain to<br />
create over 5,500 apprenticeships and 5,000 jobs for unemployed Londoners.</p>
</div>
 <div>

<h2>Our Supplier Skills team</h2>

<p>Established in 2009, the SST was created to ensure that we employ people with the right skills for our contracts and support the supply chain to deliver successfully. The SST do this by supporting the business through each stage of the procurement process, which includes:</p>

<ul>
	<li>Implementing and evaluating contract requirements</li>
	<li>Supporting suppliers from the beginning to the end of their contract</li>
	<li>Working with suppliers on a voluntary basis to help them maximise the skill and employment opportunities which may arise while working on one of our contracts</li>
	<li>Helping suppliers to secure government funding for apprenticeship programmes</li>
	<li>Identifying appropriate learning frameworks and training providers</li>
	<li>Helping job-seeking candidates via a partnership with the Department for Work and Pensions' (DWP) work programme</li>
</ul>

<p>Using its relationships with a wide network of charities and employability programmes, the Supplier Skills team also address the under-representation of women and people from BAME backgrounds in the industry and provides training and employment opportunities for groups such as ex-offenders and ex-military personnel.</p>

<h3>Strategic Labour Needs and Training</h3>

<p>Strategic Labour Needs and Training (SLNT) is part of our Responsible Procurement programme. When suppliers are invited to tender, they are asked to outline how they plan to incorporate at least one SLNT output for every one million (services) or three million (works/infrastructure) of contract spend.</p>

<p>By embedding the following SLNT outcomes into supplier contract requirements, we aim to generate skills and influence employment outcomes:</p>

<p>SLNT output</p>

<ul>
	<li>One apprenticeship start</li>
	<li>One unemployed job start</li>
	<li>20 days of industry placement positions or taster days</li>
	<li>20 days of schools engagement activities</li>
</ul>

<p>At least 50% of SLNT outputs on each contract must be an apprenticeship or a workless job start to make sure that new entrants gain access to the industry on each project.</p>

<p>Suppliers also run placements and go in to schools to talk about what they do. This helps to spark interest and encourage understanding in young people about science, technology, engineering, and maths (STEM) subjects, and their role in the transport sector.</p>

<p><a href="http://www.dragonawards.org.uk/case_studies/winners_videos/enterprise_and_employment_award/index.html">A short film</a> about our entry features two apprentices, who had previously been in youth offender institutes, completing the Route into Work programme and moving into roles with Telent and Cleshar.</p>

<h2>Skills Shortages</h2>

<p>Transport and infrastructure sectors in the UK are facing significant skills shortages. HM Treasury's <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/464354/NIP_for_skills_final_web.pdf">National Infrastructure Plan for Skills</a>, published in September 2015 forecast an anticipated shortage of 55,000 skilled workers by 2020. To address this, the Department of Transport issued its <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/495900/transport-infrastructure-strategy-building-sustainable-skills.pdf">Transport Infrastructure Skills Strategy</a> in January 2016, which committed to the creation of 30,000 transport infrastructure apprenticeships between 2016 and 2020. We aim to make a significant contribution to this target.</p>
</div>
 <div>

<h2>Recent activity</h2>

<h3>2019</h3>

<h3>Apprenticeship fair</h3>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/tyra-poole.jpg" alt="Picture of Tyra Poole" />
        
        
        
    </div>   
 </div>
 <div>

<p>The Supplier Skills Team hosted the annual apprenticeship fair on 7 March as part of National Apprenticeship Week. The fair was the biggest yet, hosting 30 of TfL's suppliers who exhibited their apprenticeship opportunities to over 600 individuals looking to make the steps into a career in our industry.</p>

<p>There were more than 500 jobs and apprenticeships on offer, as well as more than 1,500 training opportunities. Over 1,700 expressions of interest were registered by candidates with TfL suppliers in the roles that sparked their interest on the day. The Supplier Skills Team encouraged candidates to begin applying for the roles and will follow up with suppliers to ensure the fair delivers employment opportunities for those in attendance.</p>

<p>On the day, the audience heard from Yousra Hameed and Tyra Poole (pictured centre and right) about their determination and hard work to overcome barriers to employment and who found jobs through the supplier skills team's interventions. Assistant Commercial Manager Stuart Coates explained: "The event encourages attendees to have a&nbsp; conversation and make the step towards a rewarding career in our industry. We also encouraged attendees to get involved with our upcoming pre-employment programmes, which further assist TfL and its supply chain address underrepresentation and skills shortages.&quot;</p>

<h3>2018</h3>

<h3>BAME into Transportation and Engineering&nbsp;(BiTE) programme</h3>

<p>In November 2018, the SST delivered the BiTE programme, in collaboration with several referral partners, which put 16 candidates from diverse backgrounds through 10 days of pre-employment training. This was followed by 10 days' work experience with one of the following key TfL suppliers: Cleshar, Thales, FLO and Bombardier.</p>

<p>All candidates were encouraged to apply for the available roles on offer with these suppliers, with a guarantee of an interview or assessment.&nbsp; So far, 3 candidates have been given the opportunity of employment after taking part in the programme and the remaining candidates are in the application process.&nbsp;<br />
&nbsp;</p>

<p>&nbsp;</p>
</div>
 <div>

<h3>Procura+ Network Award</h3>

<p>In October 2018, the SST was very pleased to receive the runner-up award for the best procurement initiative at the Procura+ Awards in Nijmegen, The Netherlands. Procura+ is a network of European public authorities that collaborate and exchange to champion and deliver sustainable procurement outcomes.</p>

<p>The award recognised TfL's Supplier Skills Program for pioneering the implementation of skills and employment requirements in the procurement process with its strategic labour needs and training (SNT) approach,&nbsp;and for supporting TfL suppliers to create more than 5,500 apprenticeship starts, helping more than 5,000 unemployed citizens get back into work and integrate more than 100 ex-offenders into the supply chain's workforce since its creation.<br />
&nbsp;</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/procura-award.jpg" alt="Procura" />
        
        
        
    </div>   
 </div>
 <div>

<h3>Women into Construction</h3>

<p>The TfL supplier skills team (SST) was delighted to receive recognition at the Women into Construction 10th anniversary celebration event in summer 2018. Over the last four years, around forty candidates from Women into Construction have participated in pre-employment and work experience programmes run in partnership by the SST and key TfL suppliers.</p>

<p>Elle Jamison successfully completed the Women into Construction and Transportation Industry (WiCTI) programme, including a work placement on the Bank station capacity upgrade programme. Elle's work placement manager said: &quot;Although we do have a number of female engineers on the Bank station project, the WICTI programme enhanced the culture of inclusivity, especially for single parents. Elle's motivation, eagerness to learn and keenness to do tasks were positive attributes that really stood out. Elle was offered a 10-week paid work placement.&quot;<br />
&nbsp;</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/citb-award.jpg" alt="CITB" />
        
        
        
    </div>   
 </div>
 <div>

<h3>Route into Work programme</h3>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="XYlyhGefe18" data-video-caption="Route into Work "></li>
  
  </ul>
</div>
</div>
 <div>

<p>The SST works with the London Transport Museum to provide the Route into Work training programme: a three-day, accredited, pre-employment course for young people who are not in education, employment or training (NEET).</p>
<p>Run at the museum itself, the course uses the heritage of London's transport to engage future transport workers. At the end of the course, young people show their presentation to a TfL supply chain employer who, in turn, presents their apprenticeship or employment opportunities.</p>
</div>
 
<div>



<h2>Case studies</h2>


<p>Find out more about how we work with suppliers and contractors. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/long-term-unemployed-case-study.pdf">
    <div class="document-download-text">
        <p>STM Security </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 383KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/initial-steps-to-employment-case-study.pdf">
    <div class="document-download-text">
        <p>Women drivers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mastering-skills-case-study.pdf">
    <div class="document-download-text">
        <p>Transport Museum</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 394KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/engineering-standards-challenge">Engineering Standards Challenge</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations/supplier-skills">Supplier skills</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/traffic-management">Traffic management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/zero-harm-forum">Zero Harm Forum</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:supplierskills&#64;tfl.gov.uk">supplierskills&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.reed.co.uk/" class="plain-button">Reed</a>
<a href="http://www.seetec.co.uk/" class="plain-button">Seetec</a>
<a href="http://www.shaw-trust.org.uk/" class="plain-button">Shaw Trust</a>
<a href="https://www.maximusuk.co.uk/" class="plain-button">Maximus</a>
<a href="http://www.ingeus.co.uk/" class="plain-button">Ingeus</a>
<a href="http://www.peopleplusinc.com/" class="plain-button">People Plus</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Supplying TfL and the skills required";}
        
            
        


 