
    
  



@{ViewBag.Title = "Passengers and accessibility";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/passengers-and-accessibility";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">Passengers and accessibility</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Passengers and accessibility</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Know your responsibilities when picking up passengers with accessibility needs and returning passenger lost property
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Wheelchairs</h2>

<p>Taxis and wheelchair-accessible private hire vehicles are a vital resource for mobility impaired people in London. Section 165 of the Equality Act 2010 obliges drivers of wheelchair-accessible taxis and private hire vehicles to carry wheelchair users and provide mobility assistance without additional charge.</p>

<p>Drivers of taxis and designated wheelchair-accessible private hire vehicles have a legal duty to:</p>

<ul>
	<li>Transport the passenger while in the wheelchair</li>
	<li>Not make any additional charge for doing so</li>
	<li>If the passenger chooses to sit in a passenger seat, to transport the wheelchair</li>
	<li>Take such steps as are necessary to ensure that the passenger is transported in safety and reasonable comfort</li>
	<li>Give the passenger such mobility assistance as is reasonably required &#45; which the Equality Act 2010 defines as:
	<ul>
		<li>To enable the passenger to get into or out of the vehicle</li>
		<li>If the passenger wishes to remain in the wheelchair, to enable the passenger to get into and out of the vehicle while in the wheelchair</li>
		<li>If the passenger does not wish to remain in the wheelchair, to load the wheelchair into or out of the vehicle</li>
		<li>To load the passenger's luggage into or out of the vehicle</li>
	</ul>
	</li>
</ul>

<p>Non-compliant drivers are liable to prosecution and fines of up to &pound;1,000. The driver's continued fitness to hold a licence may also be reviewed.</p>

<p>The only grounds for exemption are medical, or that a physical condition makes it impossible or unreasonably difficult for a driver to comply with these duties. Applications for exemptions must be made to us. Drivers must carry their exemption certificate with them in order for the exemption to be valid.</p>

<p>Find out more from the&nbsp;<a href="https://www.gov.uk/government/publications/access-for-wheelchair-users-to-taxis-and-private-hire-vehicles">Department for Transport (DfT)&nbsp;guidance</a>.</p>

<h3>Designated wheelchair-accessible vehicles</h3>

<p>A taxi or private hire vehicle is &quot;designated&quot; as wheelchair-accessible for the purposes of section 165 of the <a href="http://www.legislation.gov.uk/ukpga/2010/15">Equality Act 2010</a> if it appears on a list maintained under section 167. All licensed London taxis are designated by default. We maintain a list of designated taxis, which is available on request, and private hire vehicles, which is available here.</p>

<h3>Is my private hire vehicle a wheelchair-accessible vehicle (WAV)?</h3>

<p>Private hire vehicles are designated as WAVs at the point of the vehicle licensing inspection and this is noted on the vehicle licence.</p>

<p>Vehicles that have been manufactured and type-approved as WAV, or vehicles that have been permanently adapted or modified to carry passengers remaining in their wheelchair, will be considered for exemptions.</p>

<p>If you believe your private hire vehicle is WAV, but this is not noted on your vehicle licence, please contact our vehicle inspections team on 0343 222 5555 to arrange for your vehicle to be inspected.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap 03.2020.pdf" href="/cdn/static/cms/documents/designated-vehicles-02.03.2020.pdf">
    <div class="document-download-text">
        <p>List of private hire vehicles designated as wheelchair-accessible</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            03.2020.PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>
<p>If you disagree with the decision that your vehicle is wheelchair-accessible, you may appeal the decision, but you must do so within 28 days of your vehicle first being designated by us as being wheelchair-accessible. To appeal, write to Westminster Magistrates' court, stating that you wish to appeal against the decision and apply for a summons against us. The address of the court is 181 Marylebone Road, London, NW1 5BR and the telephone number is 020 3126 3056.</p>
<p>Private hire operators who have wheelchair accessible vehicles can be searched for using the <a href="https://tfl.gov.uk/forms/12389.aspx">online form</a>.</p>
<h3>Fares</h3>
<p><strong>Taxis: </strong>The DfT's guidance states that the requirement not to charge a wheelchair user extra means that, in practice, a meter should not be left running while the driver performs duties required by the Act, or the passenger enters, leaves or secures their wheelchair within the passenger compartment.</p>
<p><strong>Private Hire: </strong>Operators have responsibilities under the general provisions of the Act not to discriminate when providing a service - that includes not charging passengers more because they are disabled.</p>
</div>
 <div>

<h2>Assistance dogs</h2>
<p>Taxi and private hire drivers have an important role to play in helping people with assistance dogs to travel around London. Read the <a href="http://www.legislation.gov.uk/ukpga/2010/15">Equality Act 2010</a> for more detailed information about your obligations. </p>
<p>Watch our short video on what taxi and private hire drivers must do when a passenger has an assistance dog:</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="3IJH2cWhCTU" data-video-caption="Assistance dogs and PHV drivers"></li>
  
  </ul>
</div>
</div>
 <div>

<p>Did you know:</p>
<ul>
    <li>Taxi and private hire drivers can't refuse a passenger because they have an assistance dog</li>
    <li>Passengers can't be charged more for a taxi or private hire journey because they have an assistance dog</li>
    <li>Assistance dogs must be seated with their owners at all times</li>
    <li>It's illegal to refuse to carry a passenger with an assistance dog. Drivers doing so could risk losing their licence or face a fine</li>
    <li>There are different types of assistance dogs providing a wide range of support to older and disabled people. Not all assistance dogs wear a jacket and there are other assistance dogs in addition to those shown in our film and on the poster and leaflet. Taxi drivers, private hire operators and drivers should be aware that some passengers may have a health condition that is not obvious or visible but will still have an assistance dog.</li>
</ul>
<p>The only grounds on which drivers can be exempted from these duties are medical. Applications for exemptions must be made to us. Drivers must display the exemption notice and carry their exemption certificate with them in order for the exemption to be valid</p>
<p>Between February 2015 and November 2017, we have successfully prosecuted 27 minicab drivers for refusing to carry passengers accompanied by assistance dogs, resulting in fines totalling &pound;9,705, costs awarded to TfL to the value of &pound;13,471 and &pound;1,855 paid in compensation to the victims.</p>
<p>Find out more from our <a href="/transport-accessibility/assistance-dogs">guidance for passengers</a> about their rights regarding assistance dogs. </p>
<p>We also produce a leaflet which contains more information  about seven types of assistance dogs and your responsibilities to passengers who need to travel with them. This leaflet was produced for the private hire trade but it is relevant to both taxi and private hire trades.</p>
<h3>Assistance dogs booklet and poster</h3>
</div>
 
<div class="module-grid clearfix">

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-dogs-assistance-leaflet.pdf">
    <div class="document-download-text">
        <p>Assistance dogs booklet </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.39 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-assistance-dogs-ad.pdf">
    <div class="document-download-text">
        <p>Assistance dogs poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 832KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 
</div>

</div>
 
</div>
 <div>

<h2>Lost property</h2>

<p>If your passenger has left an item in your vehicle, then taxi drivers should take the item to the TfL Lost Property Office (LPO), a Metropolitan Police Station, or a City of London Police station.</p>

<p>From 28&nbsp;October 2019, the LPO will be located at Pelham Street, South Kensington. It will be open from 08:30 - 16:00 Monday to Friday.</p>

<h3>Guidance</h3>

<ul>
	<li>Taxi drivers should hand in items as soon as possible and within 24 hours of them being left in their vehicle</li>
	<li>Upon drop-off, taxi drivers will be issued a receipt for the item</li>
	<li>Taxi drivers who wish to claim items that haven't been collected can do so in the first two weeks of the month, four months after they deposited the item e.g. an item deposited in January can be reclaimed from 1 - 14th May.</li>
</ul>

<p>There is off-street parking at the LPO which is available whilst taxi drivers are dropping-off or collecting lost property. Taxi drivers must ensure that they press the button by the roller shutter and inform the on-site security team of their ID and their reason for visiting</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Know your responsibilities when picking up passengers with accessibility needs.  ";}
        
            
        


 