
    
  



@{ViewBag.Title = "London Underground & rail protection";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/london-underground-and-rail-protection";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning & construction</a></li>
                
            
            
                <li><span class="last-breadcrumb">London Underground & rail protection</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Underground & rail protection</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out what to do if you're thinking about carrying out works near London Underground.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Our role</h2>
<p>The Infrastructure Protection (IP) team works with neighbouring external third parties to help them deliver their projects, while protecting London Underground from work on, or near, its railway and property.</p>
<p>The IP team are also responsible for protecting the railway from streetworks and abnormal loads, and advise on planning applications and other property matters.</p>
<p>Watch our video here:</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="0hGoJMTBOEg" data-video-caption="Intrastructure protection"></li>
  
  </ul>
</div>
</div>
 <div>

<h3>What we do and why</h3>
<p>London Underground has a statutory obligation to protect the railway and often it is your obligation to work with us on projects that might affect the railway.</p>
<p>We may need to work with you on your project if your works are near any of our structures or property.</p>
<p>We will need to review your proposals in detail if they involve working on our property, altering any of our assets (including changes to loading) or pose a risk to the London Underground network.</p>
<h2>Outside party works</h2>
<p>If you are a neighbour with a project on or near us, our Outside Party engineers may need to be involved.</p>
<p>Examples of types of project we need to discuss are: </p>
<ul>
    <li>extensions including basements to private property near our shallow tunnels </li>
    <li>major redevelopments over our deep Tube network or adjacent to stations</li>
    <li>minor private property maintenance such as tree surgery near our tracks</li>
</ul>
<p>Our involvement will depend on your proposals and their potential impact. We will: </p>
<ul>
    <li>review your proposals</li>
    <li>provide guidance on design, construction and LU requirements</li>
    <li>advise on risk to and from the railway</li>
    <li>arrange access to LU property </li>
    <li>organise protection if required</li>
</ul>
<p>Follow the Infrastructure Protection Outside Party process:</p>
<ul>
    <li>Initial enquiries - email location enquiries with a location plan and outline of your proposals</li>
    <li>Review proposals - provide us with details of the scheme. Download our Further Information Questionnaire, below</li>
    <li>Not affected - we can issue a letter confirming we are not affected by your proposals if required</li>
    <li>Property matters - see location enquiries and property, below</li>
    <li>Design issues / Risk assessments / Method statements - if we confirm that Infrastructure Protection will need to be involved in your project, our engineers will help to ensure the risk to the railway is as low as reasonably practicable by reviewing your design and construction methodology and providing advice and guidance</li>
</ul>
<p><a href="mailto:locationenquiries&#64;tfl.gov.uk">Notify us of Outside Party works</a></p>
<ul>
</ul>
<ul>
</ul>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/special-conditions-for-outside-parties.pdf">
    <div class="document-download-text">
        <p>Guidance to outside parties on or near the railway</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 296KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/infrastructure-protection-further-information-questionnaire.xlsx">
    <div class="document-download-text">
        <p>Further Information Questionnaire</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 12KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/streetworks-in-the-vicinity-of-london-underground-structures.pdf">
    <div class="document-download-text">
        <p>Streetworks near our structure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 <div>

<h2>Streetworks</h2>
<p>Statutory Undertakers and those working under the New Roads and Streetwork Act may adversely affect our assets. It is your obligation to notify us of works that might impact these <a href="http://www.gov.uk">Streets of Engineering Difficulty (SED) or Special Interest (SI)</a></p>
<p>Download the guidance document above for Streetworks near our structures. </p>
<p>Notify us of Streetworks by emailing <a href="mailto:lulcedip&#64;tfl.gov.uk">lulcedip&#64;tfl.gov.uk <br />
</a></p>
<h2>Abnormal loads</h2>
<p>Many of our structures support London's road network. If you are transporting an abnormal load or setting up a crane in the street above our assets you will need to notify us, so we can check and advise of any route restrictions relating to our infrastructure.</p>
<p>For notification details, including notice periods and required information, visit the <a href="https://www.gov.uk/search?q=abnormal+loads">gov.uk abnormal loads page</a>.</p>
<p>Notify us by emailing <a href="mailto:lulcedip&#64;tfl.gov.uk">lulcedip&#64;tfl.gov.uk</a> (or call 020 7027 9206 for assistance).</p>
<h2>Location enquiries &amp; property</h2>
<p>Our boundaries are not always obvious and many of our assets are below ground. If you are in any doubt about whether your proposed project is near our property please contact us. We can then advise you of anything you may need to be aware of and whether we need to be involved in your project.</p>
<p>Some properties close to our railway may once have been owned by London Underground. There may be restrictive covenants on the property or other legal obligations placed its owners. We can advise what these may be and how they can be dealt with.</p>
<p>Contact us by emailing <a href="mailto:locationenquiries&#64;tfl.gov.uk">locationenquiries&#64;tfl.gov.uk</a></p>
<h2>Planning applications</h2>
<p>We will normally receive notification of any planning applications for projects that may affect our railway. We review each one and may ask the planning authority to place obligations on the applicant. We may object if we believe the works will have an adverse effect on our property or operations.</p>
<p>Contact us by emailing <a href="mailto:locationenquiries&#64;tfl.gov.uk">locationenquiries&#64;tfl.gov.uk</a></p>
<p>For proposed developments that are of strategic importance, visit the <a href="/info-for/urban-planning-and-construction/our-role-in-planning">TfL Planning Applications</a> page.</p>
<h2>Other railway networks</h2>
<p>London Underground is responsible for most of what you see on the Tube map but ownership is not always as it appears. We can advise if you are unsure and tell you who the appropriate body is.</p>
<p><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Other TfL Rail Systems contacts<br />
</a></p>
<p><a href="http://www.networkrail.co.uk">Network Rail Asset Protection page</a></p>
<p>If you work for, or on behalf of, Network Rail please email <a href="mailto:locationenquiries&#64;tfl.gov.uk">locationenquiries&#64;tfl.gov.uk</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning & construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/travel-plans">Travel plans</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/highway-licences">Highway licences</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/roadworks-and-street-faults">Roadworks & street faults</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/london-underground-and-rail-protection">London Underground & rail protection</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/lane-rental-scheme">Lane rental scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning & construction contacts</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out what to do if you're thinking about carrying out works near London Underground. ";}
        
            
        


 