
    
  



@{ViewBag.Title = "Blue Badge (disabled) parking";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></li>
                
            
                
                <li><span class="last-breadcrumb">Blue Badge (disabled) parking</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Blue Badge (disabled) parking</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>The Transport for London Road Network (TLRN), known as 'red routes', operates every day.</p>
        
      </div>
    
    <div class="on-this-page">
      
        <h2>Blue Badge parking on the red route</h2>
        <p>We set aside some parking bays exclusively for holders of a valid disabled persons' parking permit (Blue Badge).</p>
        <p>Vehicles that are being used by Blue Badge holders and displaying a Blue Badge can also park in parking bays that are available to anyone. </p>
        <p>Blue Badge holders can often stop or park where others cannot.</p>
    
      
           
      <div>


        <h2>Why do we have Blue Badge parking bays?</h2>
        <p> We provide 'Blue Badge only' parking bays to make parking more accessible for users of the Blue Badge parking scheme.</p>
        <p>Blue Badge parking bays are an essential part of the red route as they allow parking to be controlled and&nbsp; more accessible. </p>
        <p>Their availability is limited and some are only available during specified periods when their use will not cause any major disruption to our busy road network.</p>
        <p>We often limit the amount of time you can park at popular locations so that other drivers can also use the bays during the hours they are available.</p>
        <h3>What you can do&nbsp;</h3>
        <ul>
            <li> You can sometimes park where you see the 'Blue Badge Parking' sign - it depends on the day of the week and time of day. Please remember to display your Blue Badge and check the sign to see how long you can stay - usually a maximum of three hours is allowed</li>
            <li>Park where you see the 'P' parking sign. However, you must leave the bay when it is no longer available for parking use. For example, if the sign shows that parking is permitted between 10am and 4pm, you cannot park before 10am and you must leave the bay by 4pm. Please remember to display your Blue Badge. There is no restriction on the length of time you may park between the permitted hours shown on the sign when your Blue Badge is displayed</li>
            <li>You can stop on double red or a single red line to pick up or set down a Blue Badge holder. Please remember to display the Blue Badge, and that the vehicle must move off as soon as possible. Always check the signs and the time to see what is and is not permitted as this varies across the red route network.</li>
        </ul>
        <p> Always display your Blue Badge and time clock on the dashboard of your vehicle so that it can be clearly seen and ensure the dashboard is clear of other items.</p>
        <h3>What you can't do</h3>
        <ul>
            <li> Park (wholly or partly) on a double red line at any time*</li>
            <li>Park on a single red line during the restricted times which are indicated on the sign</li>
            <li>Stop or park any time at a bus stop, within the road markings indicating the place where a bus may stop or on a zig-zag line</li>
            <li>Park in a bay that is reserved for loading unless the bay also permits parking for Blue Badge holders for a period of time. Always check the signs</li>
            <li>Park in a bay when the times shown on the sign indicate it is not available. For example, if the sign shows that parking is permitted between 10am and 4pm, you cannot park before 10am and you must leave the bay by 4pm</li>
            <li>Park in a disabled bay without displaying your Blue Badge</li>
        </ul>
        <p>
        *You can stop on double or single red lines to set down or pick up the Blue
        Badge holder, as long as you display the applicable badge correctly and move
        off promptly.
        </p>
        <ul>
        </ul>
        <p>These are not exhaustive lists. Contact us for more information or if you are unsure.</p>
    
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/blue-badge-holders-guide.pdf">
    <div class="document-download-text">
        <p>Blue Badge holders guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 801KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 
</div>

</div>
 <div>


        <h2>Understanding red route signs and lines </h2>
        <h3>Parking bays</h3>
        <p>Please remember that not all bays permit parking &#45; some may be reserved for other activities, for example, loading only or taxis only. </p>
        <p>Examples of the different parking bays and red lines can be seen in the gallery below.</p>
    
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/ruc-cdn/static/cms/images/red-bay.jpg" alt="Red bays" />
                <figcaption>
<span class="figure-title">Red bays</span>
<span class="figure-description">If a bay is marked out by a red dotted line, it means it can only be used outside peak traffic hours, these can vary in each area and even each road. If the bay is reserved for disabled parking only, please remember to always display your badge.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/ruc-cdn/static/cms/images/white-line-bays.jpg" alt="White bays" />
                <figcaption>
<span class="figure-title">White bays</span>
<span class="figure-description">If a bay is marked out by a white dotted line, it generally means it can be used throughout the day.  There may be a maximum time limit for parking, always check the signs. If the bay is reserved for disabled parking only, please display your badge.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/ruc-cdn/static/cms/images/single-red-line.jpg" alt="Single red lines" />
                <figcaption>
<span class="figure-title">Single red lines</span>
<span class="figure-description">Single red lines also mean no stopping, but only during the hours shown on the sign. Vehicles being used by a Blue Badge holder can pick up or set down the holder at any time. Remember to display your badge, and that the vehicle must move off quickly.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/ruc-cdn/static/cms/images/double-red-bus.jpg" alt="Double red lines" />
                <figcaption>
<span class="figure-title">Double red lines</span>
<span class="figure-description">Double red lines mean no stopping at any time. Vehicles being used by a Blue Badge holder can stop to pick up or set down the holder at any time. Please remember to display your badge, and that the vehicle must move off as soon as possible..</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>


        <p>For other road signs please visit the <a href="http://https://www.gov.uk/highway-code">Highway Code website.</a></p>
        <h2>Penalty Charge Notices (PCNs)</h2>
        <p>Any vehicle parked on the red route when it is not permitted can cause an obstruction and lead to congestion. We want to deter all drivers from breaking the rules so that disabled and parking bays are used correctly and kept free of parked vehicles outside their hours of operation.</p>
        <p>A PCN may be issued to you at the time of contravention by a Civil Enforcement Officer. However, we may also use CCTV cameras to enforce restrictions on the red route and if this is the case you will receive the PCN later by post.</p>
        <p><a href="/modes/driving/red-routes/penalty-charge-notices">Find out more about penalty charges</a>.</p>
    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public">Loading for the public</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions">Yellow box junctions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/banned-turns">Banned turns</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/bus-lanes">Bus lanes</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/parking">Parking</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking">Blue Badge (disabled) parking</a></div>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/red-lines-and-no-stopping">Red lines and no stopping</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Some red route parking bays are set aside for Blue Badge (disabled) parking";}
        
            
        


 