
    
  



@{ViewBag.Title = "Loading for the public";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/red-routes">Red routes</a></li>
                
            
                 <li><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></li>
                
            
                
                <li><span class="last-breadcrumb">Loading for the public</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Loading for the public</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>We help you transport and deliver goods on the Transport for London Road Network (TLRN), known as 'red routes'.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>Loading is the activity of moving goods to, or from, a vehicle. As a general guide, such goods, due to their weight or bulk, require the use of a vehicle to transport them.</p>

<p>We will allow reasonable time for collecting goods and checking paperwork, however, as soon as the loading process is complete, the vehicle must be moved.</p>

<p>The goods must be ready for collection or delivery when you enter the loading bay.</p>

<p>If you are a business moving freight then you may want to visit our pages on <a href="/info-for/deliveries-in-london/">Deliveries in London</a>.</p>

<h2>Loading bays</h2>

<p>Loading bays are an essential part of the red route network as they&nbsp;allow businesses and the general public to make and receive vital, and often bulky deliveries. Availability of these bays is limited and for specified periods only to restrict disruption to our busy road network.&nbsp;Our priority is to keep London moving - not raising revenue through fines. To help you avoid an unnecessary fine, we have explained how loading bays work.</p>

<h2>What you should do</h2>

<ul>
	<li>Use a loading bay to collect pre-ordered goods or unload goods that require a vehicle to transport them (eg an item of furniture such as a chest of drawers)</li>
	<li>Plan in advance the collection of pre-ordered goods and check if loading is permitted at that time and location</li>
	<li>If you leave the vehicle unattended try to make it obvious that you are loading and unloading</li>
	<li>Tell any traffic warden or civil enforcement officer that you are loading</li>
	<li>You may use a parking bay instead if one is available but always check the sign as it will tell you when you can park and for how long</li>
	<li>If you are displaying a Blue Badge you may stop in the bay to drop off or pick up the Blue Badge holder only. Please display the Blue Badge clearly on the dashboard</li>
</ul>

<p>Please contact us if you are unsure whether the type of loading you want to undertake is covered by the exemption.</p>

<h2>What you shouldn't do</h2>

<ul>
	<li>Stop in the bay without loading or unloading &#45; the bay is not for waiting or parking</li>
	<li>Use the bay outside of the hours shown on the sign or for longer than permitted</li>
	<li>Use the bay to park or go shopping</li>
	<li>Use the bay to pick up and drop off passengers</li>
	<li>Remain in the bay when you have finished loading or unloading goods</li>
	<li>Move goods that do not require the use of a vehicle to transport (eg taking a suit to the dry cleaners or collecting a prescription)</li>
</ul>

<p>These are not exhaustive lists. If you are not sure you should contact us for more guidance.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="GxhMfrUNeyw" data-video-caption="How loading bays work"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Parking suspensions and dispensations</h2>
<p>Sometimes
it is necessary for us to suspend parking and/or loading bays on our network.
This means that the parking or loading bay is not available at all while the suspension
is in place. Check the bay first to see
if it is available and that it is not subject to this type of suspension.
</p>
<p>Consider if
it is more suitable for you to apply for a parking dispensation or a bay
suspension as these options may better suit your needs.</p>
<p>Find out more about <a href="/modes/driving/red-routes/dispensations">parking dispensations</a>.</p>
<h2>Understanding loading signs and lines
</h2>
<p>Our signs are quite distinct from
other road signs and generally have three parts to inform you of the
restrictions and exemptions in place at a particular bay.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/ruc-cdn/static/cms/images/red-route-sign-large.jpeg" alt="Red route sign" />
                <figcaption>
<span class="figure-title">Red route sign</span>
<span class="figure-description">The top of the sign tells you that you are on the red route. The middle tells you when the rules apply, the times differ in each borough so always check the sign. The bottom tells you the times and activity you can use the bay for.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/ruc-cdn/static/cms/images/red-bay.jpg" alt="Red bays" />
                <figcaption>
<span class="figure-title">Red bays</span>
<span class="figure-description">If a loading bay is marked out by a red dotted line, it means the bay can be used outside peak traffic hours. However, peak traffic hours often vary in each area and even each road. Red bays have more restrictions so you should always check the signs.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/ruc-cdn/static/cms/images/white-line-bays.jpg" alt="White bays" />
                <figcaption>
<span class="figure-title">White bays</span>
<span class="figure-description">If a red route loading bay is marked out by a white dotted line, it generally means that the bay can be used throughout the day. However, there is usually a maximum time limit &#45; always check the signs. </span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Penalty Charge Notices (PCNs)</h2>
<p>We want to deter
all drivers from breaking the rules and help keep loading bays available for
loading.</p>
<p>
A PCN may be issued to you at the time of contravention by a Civil
Enforcement Officer. However, we may
also use CCTV cameras to enforce restrictions on the red route and if this is
the case you will receive the PCN later by post.
</p>
<p>Find out more about <a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a>.</p>
<p>For
other road signs please visit the <a href="https://www.gov.uk/browse/driving/highway-code">Highway
Code website</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public">Loading for the public</a></div>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions">Yellow box junctions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/banned-turns">Banned turns</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/bus-lanes">Bus lanes</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/parking">Parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/blue-badge-disabled-parking">Blue Badge (disabled) parking</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes/red-lines-and-no-stopping">Red lines and no stopping</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/road-tips" class="plain-button">Road tips</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "How to use loading bays on the Transport for London Road Network ";}
        
            
        


 