
    
  



@{ViewBag.Title = "Maps & signs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/maps-and-signs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs and communities</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
                 <li><a href="/info-for/boroughs/legible-london">Legible London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Maps & signs</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Maps & signs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Legible London's clear and intuitive mapping is bringing a new way of walking to the Capital.
        
      </div>
    
    <div class="on-this-page">
      
        <p>Our maps and signs help people find their way by detailing the landmarks they'll pass on their journey and estimate the time it will take to reach their destination.</p>
    
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/monolith-royal-festival-hall.jpg" alt="Monolith at the Royal Festival Hall" />
                <figcaption>
<span class="figure-title">Monolith at the Royal Festival Hall</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/midilith-croydon.jpg" alt="Midilith in Croydon" />
                <figcaption>
<span class="figure-title">Midilith in Croydon</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/midilith-canal.jpg" alt="Midilith along a canal towpath" />
                <figcaption>
<span class="figure-title">Midilith along a canal towpath</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/river-interlith-westminster.jpg" alt="River interlith at Westminster" />
                <figcaption>
<span class="figure-title">River interlith at Westminster</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/interlith-paddington.jpg" alt="Interlith station totem at Paddington" />
                <figcaption>
<span class="figure-title">Interlith station totem at Paddington</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/midilith-west-hampstead.jpg" alt="Midilith at West Hampstead" />
                <figcaption>
<span class="figure-title">Midilith at West Hampstead</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/monolith-croydon.jpg" alt="Monolith in Croydon" />
                <figcaption>
<span class="figure-title">Monolith in Croydon</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/minilith-london-bridge.jpg" alt="Minilith at London Bridge" />
                <figcaption>
<span class="figure-title">Minilith at London Bridge</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/digilith-canary-wharf.jpg" alt="Digilith at Canary Wharf" />
                <figcaption>
<span class="figure-title">Digilith at Canary Wharf</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/monolith-south-kensington.jpg" alt="Monolith in South Kensington" />
                <figcaption>
<span class="figure-title">Monolith in South Kensington</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/directional-and-15-min-map.jpg" alt="Directional information and 15-minute map" />
                <figcaption>
<span class="figure-title">Directional information and 15-minute map</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/15-minute-map.jpg" alt="15-minute map" />
                <figcaption>
<span class="figure-title">15-minute map</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/15-min-5-min-maps.jpg" alt="15-minute and 5-minute map" />
                <figcaption>
<span class="figure-title">15-minute and 5-minute map</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/minilith-richmond.jpg" alt="Minilith outer in Richmond" />
                <figcaption>
<span class="figure-title">Minilith outer in Richmond</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Legible London product range</h2>

<p>There is a core product range of Legible London signs to suit the surrounding streetscape and users' information needs.</p>

<h3>Monoliths</h3>

<p>These wider signs include detailed directional information and a large walking map to illustrate a five-minute walk in any direction. They are used where groups of people can stand without blocking the path of others.</p>

<h3>Miniliths and midiliths</h3>

<p>These taller, narrower signs offer detailed information on the local area but are useful where pavement space is at a premium. Their height ensures they are visible from a distance and can be spotted above a crowd of people.</p>

<h3>Interlith totems</h3>

<p>These tall signs combine detailed directional information and walking maps with an illuminated beacon. Designed to be used at transport interchanges, such as stations and river piers, they condense the number of signs required at these locations.</p>

<h3>Finger posts</h3>

<p>These are more traditional signs pointing the way to places where a map-based sign may not be suitable.</p>

<p>All signs use high contrast colours so they can be read easily. Each sign is clearly identified with a yellow strip at the top and a walking&nbsp;person icon.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/legible-london-product-range.pdf">
    <div class="document-download-text">
        <p>Legible London product range</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/legible-london-product-brochure.jpg" alt="Legible London product range" />
    </div>

</a>

<!-- 4.13 -->
 
</div>

</div>
 <div>

<h2>Map features</h2>

<h3>'Heads-up' mapping</h3>

<p>Rather than having north at the top, on-street signage maps are 'heads-up', which means they're orientated to face the same way as the user is facing. This helps people understand their immediate environment more easily.</p>

<h3>Accessibility</h3>

<p>Important information is located between 90cm and 180cm above the ground so it can be easily read by most people. Among other things, the maps show steps, pavement widths and pedestrian crossings, which are important for visually-impaired people, wheelchair users and others with limited mobility.</p>

<h3>Time to walk</h3>

<p>Research shows people can more easily understand the proximity of places if they know how long it will take, rather than the distance they have to travel. This is why we use time as the scale for Legible London maps.</p>

<h3>Walk this way</h3>

<p>Directional information is used to point the way towards areas of London, as well as specific attractions.</p>

<h3>3D buildings</h3>

<p>Illustrations of key buildings are included to help people who struggle to read maps, including those with learning difficulties. They provide a literal representation of key landmarks and make the maps more intuitive.</p>

<h3>Planner map</h3>

<p>The planner,&nbsp;or 15-minute, map helps orientate the user by showing the proximity of 'villages' to each other. This helps give the user the confidence to try longer walking journeys. The 15-minute walking circle indicates places that can be reached within that time, when walking at an average pace.</p>

<h3>Finder map</h3>

<p>The finder, or five-minute, map is more detailed than the planner map and features a number of landmarks, to help guide the user towards specific streets and attractions. It includes a five-minute walking circle indicating places that can be reached within that time, when walking at an average pace.</p>

<h3>Integrated transport</h3>

<p>Bus stops, Tube stations, Santander Cycles docking stations&nbsp;and taxi ranks are all included.</p>

<h3>Street finder</h3>

<p>Street names are listed in alphabetical order to help people locate individual streets, as they would with other maps.</p>

<h2>Maintaining maps and signs</h2>

<p>The authority or organisation that funds and&nbsp;installs the Legible London signs in an area is also responsible for maintaining them - generally that's the borough they're in.</p>

<p>We maintain any Legible London signs on <a href="https://tfl.gov.uk/modes/driving/red-routes/red-route-maps">red routes</a>. We also maintain and update&nbsp;the Legible London base map. The sign map panels are pulled from this pan-London mapping database.</p>

<p>Send requests for map updates to <a href="mailto:legiblelondon&#64;tfl.gov.uk?subject=Map%20update%20request">legiblelondon&#64;tfl.gov.uk</a>. How often a map is updated depends on the scale and significance of the change, for example an improvement in pedestrian wayfinding and funding.</p>

<h3>Requesting new retail names</h3>

<p>The maps are designed for wayfinding only, not to advertise&nbsp;attractions. Adding a business to the base map is reviewed on a case by case basis. A business in a given area&nbsp;may be included on the map as a landmark for wayfinding if the area doesn't have many other landmarks, but would not be included automatically.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs and communities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Your borough</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Funding for your borough</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling toolkit</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/maps-and-signs">Maps & signs</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/walking-and-cycling-community-ideas">Walking and cycling community ideas</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/workplace-parking-levies">Workplace Parking Levies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/zero-emission-zones">Zero Emission Zones</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:legiblelondon&#64;tfl.gov.uk">legiblelondon&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Legible London maps and signs make it easy for pedestrians to find their way around the Capital";}
        
            
        


 