
    
  



@{ViewBag.Title = "Innovate TfL";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/innovate-tfl";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
            
                <li><span class="last-breadcrumb">Innovate TfL</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Innovate TfL</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Innovate TfL is a unique opportunity for Year 12 and 13 students to develop the skills employers want, and win work experience at TfL.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>


</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="vUh8ejLlRe8" data-video-caption="What the students think"></li>
  
  </ul>
</div>
</div>
 <div>

<p>Innovate TfL asks groups of young people in Years 12 and 13 to work together to come up with an innovative solution to a real TfL challenge.</p>

<p>Supported by TfL and their school, college or youth organisation and working in teams of four to six, the students must produce:</p>

<ul>
	<li>A filmed presentation in school (up to five minutes) with all team members contributing. The presentation will consist of a Powerpoint with students presenting to camera, and will be judged on content, not production values</li>
	<li>An 'advert' for their innovation (30 seconds), which could be animation, infographics or any medium viewed on a screen</li>
	<li>A design of their innovation in any medium they choose: physical model, computer aided design model, technical picture or an artistic impression</li>
</ul>

<p>Team members will be assigned roles that reflect the real world and the best teams will be shortlisted to attend a final event in central London with senior TfL staff, stakeholders and suppliers. All the finalists' presentations, adverts and designs will be showcased and the teams will answer questions from the TfL panel and supply chain experts before a winner is chosen.</p>

<p>We will provide you with:</p>

<ul>
	<li>Digital teacher/staff support pack, including posters, launch event pack (slides and lesson plan) and pupil packs.</li>
	<li>TfL 'Innovators' to support your launch event</li>
	<li>NEW for 2019-20: Innovators to feed back on students' early ideas</li>
</ul>

<p>Please note that TfL Innovators will be allocated on a first come, first served basis and may be limited by availability.</p>

<p>You will need to provide:</p>

<ul>
	<li>A member of staff to coordinate your students</li>
	<li>A completed registration form received by TfL no later than Friday 11 October 2019</li>
	<li>Arrange your Introduction to Innovate TfL in the new academic year</li>
	<li>Support for students entering Innovate TfL, including a minimum amount of time in school/college</li>
	<li>Work with TfL to provide feedback and evaluation data&nbsp;</li>
</ul>

<h3>Teams based outside London</h3>

<p>For schools or colleges outside of Greater London (the London Mayor's jurisdiction) we are very limited in providing Innovators but you can contact STEMNET to engage with STEM professionals who may support your launch event.</p>

<h3>Youth groups and charities</h3>

<p>We welcome teams from youth groups or youth charities, however, participants must be in Year 12 or 13 or be aged 16 to 19 years old if they are not in full-time education.&nbsp;Under-16s can't enter Innovate TfL as the work experience prize could include site visits and travel. However, TfL provides other <a href="/info-for/schools-and-young-people/index">activities for Key stage 4 and below</a>, or for Key stage 1-3 you can also <a href="http://www.ltmuseum.co.uk/learning/schools/">view the London Transport Museum's resources</a>.</p>

<h2>Benefits</h2>

<p><strong>Simulated work experience</strong>: The project is designed along real world principles, giving students simulated work experience which can be added to their CVs or personal statements.</p>

<p>Year 12 students can gain skills needed for the workplace and learn about career options, while Year 13 students will find the experience an invaluable opportunity before they finish Key Stage 5.</p>

<p><strong>Work experience and the final</strong>: All teams shortlisted for the final will win work experience at TfL. This will include half-day insight sessions on topics ranging from marketing to engineering and at least three days shadowing one area. There will also be employability support including CV and interview support.</p>

<p><strong>Work and life skills</strong>: Innovate TfL uses London's iconic transport network to inspire young people to develop their confidence and skills. These include team working, communication, project and time management, plus analytical, research, creative, numeracy and literacy skills.</p>

<p><strong>Complements the curriculum</strong>: Innovate TfL complements a wide range of subjects including engineering, technology and ICT, science, maths, creative subjects, design, English, humanities and business.</p>

<h2>Important dates</h2>

<ul>
	<li>11 October 2019: Registration</li>
	<li>End of September (new academic year): Innovate TfL starts</li>
	<li>09:00 13&nbsp;January 2020: Deadline for student submissions to be received by TfL</li>
	<li>January/February 2020: Finalists announced and TfL filming will be&nbsp;arranged in school/college</li>
	<li>February/March 2020: Final in TfL office, Stratford, London</li>
</ul>

<h2>Delivery methods</h2>

<p>Innovate TfL is designed to be delivered in school/college flexibly to suit your cohort of students. We recommend a blend of guided and independent learning following the introduction event in your school/college.</p>

<p>After the introduction to Innovate TfL we would suggest between one and two guided learning hours per week with one or two independent learning hours per week over a&nbsp;eight to ten&nbsp;week period, depending on your students and time available.</p>

<p>If you would like more information about the time commitment required please contact us at <a href="mailto:schools&#64;tfl.gov.uk">schools&#64;tfl.gov.uk</a>.</p>

<h2>How to register</h2>

<p>You can register for 2019-20&nbsp;by clicking&nbsp;the link below or completing the registration form and returning to <a href="mailto:schools&#64;tfl.gov.uk">schools&#64;tfl.gov.uk</a></p>

<p><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v2W9H-9d6k6mkqCJwlU0a0WvZzVm5YBItkgO_77TzoBUNlVITUdCQktPVjBYTVo0TkZNTTRFUlNZNi4u">Register for Innovate 2019-20</a></p>

<h2>New for 2019-20</h2>

<p>As a result of feedback we have introduced STEM Ambassadors to support each school, college or youth group. STEM Ambassadors will be assigned on a first-come-first-served basis and are limited in where they can travel to. If you are outside the Mayor of London's jurisdiction you may want to request STEM Ambassadors to support you via STEM Learning.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-school-challenge-registration.pdf">
    <div class="document-download-text">
        <p>Innovate TfL registration form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 289KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A unique opportunity for Year 12 and 13 students to develop the skills employers want, and win work experience at TfL";}
        
            
        


 