
    
  



@{ViewBag.Title = "Station architecture";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/art-and-design">Art & design</a></li>
                
            
            
                <li><span class="last-breadcrumb">Station architecture</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Station architecture</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Distinctive architecture is a feature of many Tube stations across the London Underground network. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/edgeware-road-032431-culture.jpg.jpg" alt="Edgeware Road station" />
                <figcaption>
<span class="figure-title">Edgeware Road station</span>
<span class="figure-description">Glazed, oxblood-red terracotta tiles were a signature feature of the architect Leslie</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/notting-hill-03-2388-culture.jpg.jpg" alt="Notting Hill station" />
                <figcaption>
<span class="figure-title">Notting Hill station</span>
<span class="figure-description">Architects thought that light and airy stations would encourage customers to use the Tube. </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/033988-gloucester-road-culture.jpg.jpg" alt="Gloucester Road station" />
                <figcaption>
<span class="figure-title">Gloucester Road station</span>
<span class="figure-description">Originally built as a sub-surface station, Gloucester Road station opened in 1868.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/southfield-station-culture.jpg.jpg" alt="Southfields station" />
                <figcaption>
<span class="figure-title">Southfields station</span>
<span class="figure-description">Southfield's brickwork and style reflect late 19th and early 20th century architecture. </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/baker-street-culture-02838.jpg.jpg" alt="Baker Street station" />
                <figcaption>
<span class="figure-title">Baker Street station</span>
<span class="figure-description">One of London's oldest tube stations, built in 1863, for the Metropolitan Railway. </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/t001-04504-charing-cross-art-panel-culture.jpg.jpg" alt="Charing Cross station" />
                <figcaption>
<span class="figure-title">Charing Cross station</span>
<span class="figure-description">David Gentleman's mural artworks at Charing Cross station. </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/jubilee-line-extension-station.jpg.jpg" alt="Jubilee line" />
                <figcaption>
<span class="figure-title">Jubilee line</span>
<span class="figure-description">Echoing the 1930s approach to architecture: bold and innovative design on the Jubilee line extension</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/9839-marble-arch-artpanel-culture.jpg.jpg" alt="Marble Arch station" />
                <figcaption>
<span class="figure-title">Marble Arch station</span>
<span class="figure-description">Artwork on the platform at Marble Arch Underground station.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/41-leytonstone-station-artworks-culture.jpg.jpg" alt="Leytonstone station" />
                <figcaption>
<span class="figure-title">Leytonstone station</span>
<span class="figure-description">Artworks at Leytonstone. </span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Early stations</h2>

<p>Many of London Underground's first stations featured light and airy architectural design. The look was new and fresh but also practical: as well as encouraging customers to venture below ground it also allowed locomotive smoke to disperse and disappear.</p>

<p>John Fowler, engineer to both the Metropolitan and District Railways, was responsible for many of the designs during this period.</p>

<p>Few of the original features of these stations still exist, but you can still see some of the imposing glazed roofs, distinctive yellow brick, and arches on District/Circle line platforms.&nbsp;</p>

<p><strong>See early station examples at: </strong>Paddington, Baker Street, Gloucester Road, Notting Hill Gate and Great Portland Street (originally called Portland Road).&nbsp;</p>

<h2>Underground expansion</h2>

<p>The original lines were substantially extended in the late 19th and early 20th centuries, usually at surface level and often in partnership with existing mainline railway companies. This partnership meant that many stations built during this period looked a lot like country and suburban mainline stations, with emphasis on pleasant brick buildings, decorative canopies and wrought iron detailing.</p>

<p><strong>See suburban-influenced stations at:</strong> The eastern end of the District line (particularly East Ham and Plaistow), the Wimbledon branch (Southfields) and other stations like Snaresbrook, Barkingside and High Barnet, which were originally part of the mainline network before being incorporated into the Tube at later dates.</p>

<h2>The first deep Tubes</h2>

<p>Technical developments, like electric traction, allowed deeper tunnels to be built. This, in itself, stopped the need for regular steam vents and paved the way for a new generation of station architecture.</p>

<p>One of the original 1890 electric Tube station buildings survives, at Kennington. However, the most distinctive style from this period was developed by Leslie Green in 1906/7. Green's signature featured oxblood coloured tiles, moulded detailing and spacious arches on the outside and green-tiled, florally designed ticket halls. This was used at over 40 stations on the original sections of the Piccadilly line.</p>

<p>At platform level these stations had individual tiling schemes incorporating the station name and directional signs.</p>

<p><strong>See Leslie Green's work on: </strong>The Piccadilly line (Holloway Road), the Northern Line (Chalk Farm), and Bakerloo line (Edgware Road).</p>

<h2>Metroland</h2>

<p>The Metropolitan Railway's development and extensions in the 1920s and 1930s helped fuel the development of new suburbs known as Metroland.</p>

<p>Stations designed by Charles Clark, had a cosy, domestic style which blended in with the surrounding suburban idyll. Typical examples include Croxley, Watford (both 1925) and Kingsbury (1932).</p>

<p>When it came to rebuilding city stations, like Farringdon and Willesden Green, Clarke's approach was slightly different. For these stations he used marble-white exteriors extensively.</p>

<p>The Underground Group were also extending lines into open country at this time to stimulate suburban development. The most notable was the Edgware extension in 1924 which featured stations designed by Stanley Heap.&nbsp;</p>

<p><strong>See Metroland designs at: </strong>Croxley, Watford, Kingsbury, Brent Cross and Hendon Central stations.</p>

<h2>Charles Holden</h2>

<p>In the early 1920s, Charles Holden joined the Underground Group as its consultant architect. His first major commission was the Morden extension of the Northern line in 1926. For this he developed a revolutionary, stripped classical style featuring white Portland stone, with large windows floodlit from inside at night.</p>

<p>Holden also redesigned a number of existing stations, like Piccadilly Circus in 1926, but arguably his greatest contribution were the iconic, modernist stations on the Piccadilly line extensions, north and west.</p>

<p>The major investment undertaken by the newly-formed London Transport after 1933, known as the New Works Programme also saw a series of new stations, overseen by Holden but often delivered by other architectural practices and these include Rayners Lane (R H Uren, 1938), Uxbridge (Bucknell, 1938) with fine stain glass windows by Erwin Bossanyi, and Loughton (J M Easton, 1940).</p>

<p><strong>See Holden's designs and influence at: </strong>stations on the Clapham to Morden line, Sudbury Town (1931), Arnos Grove (1932), Southgate and Oakwood (1933).&nbsp;</p>

<p><strong>Stations overseen by Holden but delivered by other architects: </strong>Rayners Lane (R H Uren, 1938), Uxbridge (Bucknell, 1938), with stained glass windows by Erwin Bossanyi, and Loughton (JM Easton, 1940).&nbsp;</p>

<h2>Post WW2 austerity and the Victoria line</h2>

<p>Post-war austerity meant that new stations were often less impressive and showed little design innovation -&nbsp; often being 'watered down' by the impact of austerity.</p>

<p>It wasn't until the Victoria line was built in the 1960s that a new design philosophy emerged, developed by the Design Research Unit. As the line connected mostly existing stations, the focus was on platform areas, which featured grey tiling and brushed stainless steel detailing. Benches were recessed into the wall beneath a tiled panel, with each station featuring a unique design by artists such as Edward Bawden and Hans Unger.</p>

<p><strong>Good examples of post-war austerity: </strong>Wanstead and White City (1948)</p>

<h2>The Eighties and beyond</h2>

<p>By the 1980s, emphasis had shifted away from construction and design to art on the Underground. Noted artists like David Gentleman and Eduardo Paolozzi were commissioned to create fresh and original works which can still be seen across central area station platforms.</p>

<p>In the late Nineties, however, the mood changed again. The opening of the Jubilee line extension stations (east of Westminster), revealed major architectural statements, echoing the confidence of the 1930s. Many of the stations featured bold use of space, light and robust materials - a number of which went on to win awards.</p>

<p><strong>Good examples of Eighties artworks on the Underground: </strong>David Gentleman murals at Charing Cross, Eduardo Paolozzi mosaics at Tottenham Court Road.</p>

<p><strong>Good examples of Nineties architecture: </strong>Canary Wharf (designed by Norman Foster, guidance by Roland Paoletti), Westminster (designed by Hopkins &amp; Partners, guidance by Roland Paoletti).</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/art-and-design" class="heading">
                    <h2 id="sub-menu-heading">Art & design<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture">Station architecture</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture/broadway">Broadway</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/harry-becks-tube-map">Harry Beck's Tube map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/the-roundel">The Roundel</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Distinctive architecture is a feature of many Tube stations across the London Underground network. ";}
        
            
        


 