
    
  



@{ViewBag.Title = "Motorcycling in London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/safety/road-safety-advice/motorcycling-in-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/safety/index">Safety</a></li>
                
            
                 <li><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></li>
                
            
            
                <li><span class="last-breadcrumb">Motorcycling in London</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Motorcycling in London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We take motorcycle safety seriously and are committed to ensuring motorcyclists stay safe on London's roads.
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      <div>

<h2>Preparing for your Compulsory Basic Training&nbsp;</h2>

<p>Are you about to take or renew your Compulsory Basic Training in order to ride a motorcycle? If so, this free, short online course will help you to feel more prepared and confident on the day, and includes essential information from the Highway Code.</p>

<p>Learn about road positioning, traffic signs and correct behaviour at junctions and roundabouts. Find out what a 'lifesaver' is and the importance of wearing proper protective clothing. The course can be completed on computer, tablet or mobile device.</p>

<p><a href="https://www.professionalcommunities.org.uk/mod/scorm/player.php?a=169&curren;torg=articulate_rise&amp;scoid=419&amp;sesskey=1jwjbEf1JB&amp;display=popup&amp;mode=normal">Start your course</a>&nbsp;(log in as a guest)</p>
</div>
 <div>

<h2>Approved training providers</h2>
<p>To ride a motorcycle or scooter, you'll need to complete your Compulsory Basic Training (CBT), which can only be provided by qualified instructors working for a training provider approved by the Driver and Vehicles Standards Agency (DVSA).</p>
<p>All approved training providers delivering CBT must include a classroom-based theory element, and a minimum of two hours' on-road riding at a maximum of two riders per trainer.</p>
<p>
The Motorcycle Industry Association (MCIA) offers an additional level of accreditation for training providers to highlight those that offer the highest standards of training and service. </p>
<p>To find an accredited training provider in London, visit the <a href="http://www.mciac.co.uk/find-an-mciac-accredited-training-school/">MCIA website</a>.</p>
</div>
 <div>

<h3>BikeSafe-London </h3>
<p>Sign up for a BikeSafe-London Rider Skills Day to boost your biking ability and improve your safety on the road. Run in partnership with the Metropolitan Police Service, these courses offer expert advice, including an observed ride on urban and rural roads with police motorcyclists. They will offer guidance on everything from cornering and filtering to spotting hazards and making yourself visible.</p>
<p>This course has already helped thousands of riders to improve their riding skills and confidence, helping to reduce motorcycle casualties on London's roads.</p>
<p>This one-day course costs &pound;45. Courses take place at the Ace Cafe, Bushey Sports Club, Chigwell Sports Club, Imber Court, The BikeShed and The Warren.</p>
<p>For more information and to book, visit the <a href="http://www.bikesafe-london.co.uk">BikeSafe-London website</a> or call 02476 408 034</p>
</div>
 <div>

<h2>Insurance discount</h2>
<p>The following companies offer a discount on their motorcycle insurance for riders who have completed either 1-2-1 Motorcycle Skills or BikeSafe-London.</p>
<ul>
    <li><a href="https://www.devittinsurance.com/tfl">Devitt Insurance</a></li>
</ul>
</div>
 <div>

<h3>Safer Motorcycling in London</h3>
<p>In addition to our high-quality training courses, we are working to improve motorcycle riding standards in the Capital in the following ways:</p>
<ul>
    <li>We are developing a new Fleet Operator Recognition Scheme (FORS) standard for those companies that make deliveries by motorcycle, to improve their operational standards. We will encourage all companies who operate their own motorcycle fleets, or use self-employed riders, to gain FORS accreditation and to send their riders on our Beyond CBT: Skills for Delivery Riders course</li>
    <li>We are seeking to improve the quality of the mandatory motorcycle training that riders must complete, by working with the Motorcycle Industry Association to increase the number of accredited training providers in London, as well as exploring how changes can be made to the way motorcyclists are licensed and the penalty offence system</li>
</ul>
</div>
 <div>

<h3>Additional training</h3>

<p>There are number of training courses offered by other organisations available to suit different abilities. Each is designed to make you a better and safer rider.</p>

<p><a href="https://www.iamroadsmart.com">IAM RoadSmart</a><br />
IAM RoadSmart offers a number of courses, including an&nbsp;Advanced Rider course,&nbsp;which are quality-assured by the DVSA.</p>

<p><a href="http://www.rospa.com/safety-training/on-road/advanced/motorcycle-course/">RoSPA Advanced Motorcycle Training</a><br />
Theory and practical instruction for responsible riding, which leads to RoSPA's nationally recognised Advanced Riding Test.</p>

<p><a href="https://www.gov.uk/enhanced-rider-scheme/overview">DVSA Enhanced Rider Scheme</a><br />
A scheme to check your motorcycle riding skills and provide training to help you improve.</p>

<p><a href="http://www.london-fire.gov.uk/Bikerdownlondon.asp">Biker Down!</a><br />
A scene management and immediate aid training course for riders, should they come across a motorcycle collision. Includes advice on maximising your visibility to other road users. The course is delivered by operational fire and ambulance responders to the public at fire stations across London.</p>
</div>
 <div class="accordion">


<h2>Motorcycle parking in London boroughs</h2>



<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="motorcycle-parking-in-individual-london-boroughs-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Motorcycling in London-Motorcycle parking in individual London boroughs"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="motorcycle-parking-in-individual-london-boroughs-heading" class="accordion-heading">Motorcycle parking in individual London boroughs</div>
            </div>
            <div id="motorcycle-parking-in-individual-london-boroughs-content" class="start-hidden" role="region" aria-labelledby="motorcycle-parking-in-individual-london-boroughs-heading">
<p><a href="https://www.lbbd.gov.uk/residents/parking-travel-and-roads/where-you-can-park/where-to-park/">Barking and Dagenham</a></p>

<p><a href="https://www.barnet.gov.uk/citizen-home/parking-roads-and-pavements/Parking/controlled-parking-zones.html">Barnet</a></p>

<p><a href="https://www.bexley.gov.uk/services/parking">Bexley</a></p>

<p><a href="https://www.brent.gov.uk/services-for-residents/parking/motorcycle-parking/ ">Brent</a></p>

<p><a href="http://www.bromley.gov.uk/info/200072/parking/587/motorcycle_parking ">Bromley</a></p>

<p><a href="http://chttps://www.camden.gov.uk/ccm/navigation/transport-and-streets/parking/where-to-park/#section-11">Camden</a></p>

<p><a href="https://www.cityoflondon.gov.uk/services/transport-and-streets/parking/Pages/motorcycle-bicycle.aspx">City of London</a></p>

<p><a href="https://www.croydon.gov.uk/transportandstreets/parking/car-parks/parkmotorbikes ">Croydon</a></p>

<p><a href="https://www.ealing.gov.uk/info/201178/parking/1289/motorcycle_parking ">Ealing</a></p>

<p><a href="https://new.enfield.gov.uk/services/parking/parking/parking-restrictions/ ">Enfield</a></p>

<p><a href="http://www.royalgreenwich.gov.uk/info/473/street_parking-zones/343/controlled_parking_zones ">Greenwich</a></p>

<p><a href="http://www.hackney.gov.uk/motorcycleparking.htm#.Vl3T3mNuews ">Hackney</a></p>

<p><a href="https://www.lbhf.gov.uk/parking/pay-and-display">Hammersmith and Fulham</a></p>

<p><a href="http://www.haringey.gov.uk/parking-roads-and-travel/parking/parking-and-traffic-enforcement/tips-sensible-parking#motorcycleandmopedparking ">Haringey</a></p>

<p><a href="http://www.harrow.gov.uk/info/200072/parking/1269/motorcycle_parking ">Harrow</a></p>

<p><a href="https://www.havering.gov.uk/Pages/Services/Car-parks.aspx ">Havering</a></p>

<p><a href="https://archive.hillingdon.gov.uk/article/19080/Motorcycle-parking-in-Hillingdon">Hillingdon</a></p>

<p><a href="https://www.hounslow.gov.uk/info/20082/parking_permits">Hounslow</a></p>

<p><a href="https://beta.islington.gov.uk/parking ">Islington</a></p>

<p><a href="https://www.rbkc.gov.uk/parking-transport-and-streets/parking-permits/motorcycle-parking ">Kensington and Chelsea</a></p>

<p><a href="http://www.kingston.gov.uk/info/200258/street_parking/621/motorcycle_parking ">Kingston</a></p>

<p><a href="http://www.lambeth.gov.uk/parking-transport-and-streets/parking/where-you-can-park-guide#motorbike-parking">Lambeth</a></p>

<p><a href="https://lewisham.gov.uk/myservices/parking/carparks/motorcycle-parking">Lewisham</a></p>

<p><a href="http://www.merton.gov.uk/transport-streets/parking/motorcyclebays.htm ">Merton</a></p>

<p><a href="https://www.newham.gov.uk/Pages/Services/Car-parks-and-on-street-pay-and-display.aspx#Motorcycleparking ">Newham</a></p>

<p><a href="https://www.redbridge.gov.uk/parking/">Redbridge</a></p>

<p><a href="http://www.richmond.gov.uk/motorcycle_parking ">Richmond</a></p>

<p><a href="http://www.southwark.gov.uk/parking/find-somewhere-to-park/parking-zones">Southwark 1</a></p>

<p><a href="http://www.southwark.gov.uk/parking/find-somewhere-to-park/parking-map">Southwark 2</a><br />
<br />
<a href="https://www.sutton.gov.uk/info/200195/parking/1244/surface_car_parks ">Sutton 1</a></p>

<p><a href="https://www.sutton.gov.uk/downloads/file/1140/map_of_pay_and_display_bays ">Sutton 2</a></p>

<p><a href="https://www.towerhamlets.gov.uk/lgnl/transport_and_streets/Parking/parking_zones_and_charges/parking_zones_and_charges.aspx">Tower Hamlets</a></p>

<p><a href="https://www.walthamforest.gov.uk/parking">Waltham Forest</a></p>

<p><a href="http://www.wandsworth.gov.uk/info/200459/parking_zones/361/parking_in_wandsworth/6 ">Wandsworth</a></p>

<p><a href="https://www.westminster.gov.uk/motorcycles-permits-and-parking ">Westminster</a></p>

            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Bus lanes</h2>
<p>As a motorcyclist you can use:</p>
<ul>
    <li>All bus lanes on the Transport for London Road Network (also known as red routes)</li>
    <li>Some bus lanes on other roads.</li>
</ul>
<p>Be aware that each London borough has its own rules about using bus lanes, so check the sign at the start of each bus lane.</p>
<p>Information and maps for using motorcycles in London's bus lanes</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/motorcyclesforbiddengallery.jpg" alt="An example of a sign showing a bus lane where motorcycles are not allowed." />
                <figcaption>
<span class="figure-title">An example of a sign showing a bus lane where motorcycles are not allowed.</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/hoursofoperationgallery.jpg" alt="Bus lane hours of operation. Buses, motorcycles, bikes, taxis can use at all times." />
                <figcaption>
<span class="figure-title">Bus lane hours of operation. Buses, motorcycles, bikes, taxis can use at all times.</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Personal protective equipment</h2>
<p>Helmets are required by law and must be worn at all times when riding a motorcycle. The SHARP rating system will help you to choose a helmet that fits correctly and which offers the best possible protection. More information can be found on the <a href="https://sharp.dft.gov.uk/">SHARP website</a>.</p>
<p>Although helmets are the only protective equipment required by law, it is strongly recommended that you wear other appropriate protective clothing when riding, such as sturdy trousers, jackets, gloves and boots.</p>
<p>For more information and to download the essential guide to protective gear for bikers, visit Gov.uk's page on <a href="https://www.gov.uk/motorcycle-helmet-law">Motorcycle helmet law</a>.</p>
<h2>Licensing</h2>
<p>In order to ride a motorcycle or scooter of any type, you must first obtain a provisional licence and complete a Compulsory Basic Training (CBT) course. There are then several licence categories covering different types of motorcycle and the age of the rider.</p>
<p><a href="https://www.gov.uk/guidance/the-highway-code/annex-2-motorcycle-licence-requirements">Find out more about motorcycle licence requirements</a>.</p>
<h2>Law </h2>
<p>Certain <a href="https://www.gov.uk/ride-motorcycle-moped/overview">legal requirements</a> must be obeyed when riding a motorcycle.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/travel-information/safety/index" class="heading">
                    <h2 id="sub-menu-heading">Safety<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/safety/staying-safe">Staying safe</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice/motorcycling-in-london">Motorcycling in London</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice/driving-and-cycling-safety">Driving & cycling safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice/driving-at-safe-speeds">Driving at safe speeds</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/status-updates/index" class="plain-button">Travel updates</a>
<a href="/help-and-contact/contact-us-about-streets-and-other-road-issues" class="plain-button">Report problems on the road</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/guidance/the-highway-code/annex-2-motorcycle-licence-requirements" class="plain-button">DVSA routes to learning</a>
<a href="https://www.gov.uk/guidance/the-highway-code" class="plain-button">Highway Code</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Promoting motorcycling safety and training in London";}
        
            
        


 