
    
  



@{ViewBag.Title = "Transforming cycling in London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/cycle-safey-innovations";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety">Reducing road danger</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></li>
                
            
            
                <li><span class="last-breadcrumb">Transforming cycling in London</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transforming cycling in London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Innovative designs are being implemented to transform cycling in London and to improve the environment for all road users.
        
      </div>
    
    
      <p>In order to keep London moving and meet future demand, our road network and the way we manage it needs to be modernised. As part of our plan to improve London's roads, innovative designs are being implemented to transform cycling in London and to improve the environment for all road users.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="jDYbhxbl0hQ" data-video-caption="Early release for cyclists"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="6AOWm-yKey8" data-video-caption="Two-stage turn manoeuvre"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="JFL-c7Sv9Q8" data-video-caption="Hold the left-turning traffic"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="C8owFWmUSw8" data-video-caption="Crossing the cycle track "></li>
  
  </ul>
</div>
</div>
 <div>

<p>Improvements to the Queen's Circus roundabout in Wandsworth highlight how we're using innovative designs to make cycling safer.</p>
<h3>Queen's Circus</h3>
<p>In partnership with the London borough of Wandsworth, Queen's Circus roundabout has been upgraded. This will improve the environment for all road users, including cyclists and pedestrians. Cyclists will be provided with their own dedicated lanes on the outside of the roundabout. The introduction of traffic signals will also keep turning motorists and circulating cyclists separate. There will also be new signalised crossing facilities for pedestrians. </p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="RWi2dijVgSo" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/cycle-safey-innovations">Transforming cycling in London</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/cycle-skills" class="plain-button">Cycle training</a>
<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Innovative designs are being implemented to transform cycling in London and to improve the environment for all road users.";}
        
            
        


 