


@{ViewBag.Title = "Exclusive areas";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/filming-and-photography">Filming & photography</a>
                </li>
                
                <li>
                    <a href="/info-for/media/filming-and-photography/filming-and-photography-on-tfl">Filming & photography on TfL</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Exclusive areas</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Exclusive areas</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Filmmakers can apply to use exclusive areas - areas of the Tube that are not usually open to members of the public. These images show a range of what's available.        
        
            
        
    </div>

<div class="on-this-page">
<p>As well as our operational Tube stations - and subject to script check - we can offer Aldwych, Bank (Waterloo &amp; City Line branch) or Charing Cross as an exclusive area.</p>
<p>Charges for exclusive areas currently start at &pound;2,000 per hour (plus VAT) for the station or &pound;3,000 per hour (plus VAT) with the additional use of your own train. Specialised staff, for example London Underground electricians, are not included.</p>

     
<div>

<h2>Aldwych</h2>
<p>This station has the most flexible access and does not have any restrictions with timings.</p>
</div>



 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!-- /info-for/media/filming-and-photography/47434.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/aldwych-ticket-hall.jpg" alt="Aldwych" />
                <figcaption>
<span class="figure-title">Aldwych</span>

                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47433.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/aldwych-lift.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47432.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/aldwych-platform.jpg" alt="Aldwych" />
                <figcaption>
<span class="figure-title">Aldwych</span>

                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47430.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/aldwych-unfinished-pedestrian-tunnel.jpg" alt="Aldwych" />
                <figcaption>
<span class="figure-title">Aldwych</span>

                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47431.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/aldwych-platform-signs.jpg" alt="Aldwych" />
                <figcaption>
<span class="figure-title">Aldwych</span>

                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47412.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/aldwych-emergency-stairs.jpg" alt="Aldwych" />
                <figcaption>
<span class="figure-title">Aldwych</span>

                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47429.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/aldwych-unfinished-platform.jpg" alt="Aldwych" />
                <figcaption>
<span class="figure-title">Aldwych</span>

                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47411.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/aldwych-driver.jpg" alt="Aldwych" />
                <figcaption>
<span class="figure-title">Aldwych</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div><div>

<h2>Bank (Waterloo and City line)</h2>
<p>The train on the Waterloo &amp; City line (W&amp;C) can be available:</p>
<ul>
    <li>11:00-15:00 Monday to Saturday on one platform, <strong>or</strong></li>
    <li>All day on Sundays (engineering work permitting)</li>
</ul>
<p>The W&amp;C line area at Bank station has two platforms with a set of travelators, a long staircase and a long passenger walkway. There is also a ticket hall area that is closed on Sundays - it leads to the Northern line via a set of escalators and/or 4 lifts.</p>
</div>



 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!-- /info-for/media/filming-and-photography/47494.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-bank-travelator.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47489.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-ticket-gates.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47493.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-entrance.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47492.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-platform-entrance.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47491.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-platform.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47490.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-train-on-platform.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47488.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-travelator.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47487.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-train.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47486.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-travelator-2.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47485.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-arch.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47484.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-steps.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47483.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-pedestrian-tunnel.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47482.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/w-and-c-tunnel-railings.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div><div>

<h2>Charing Cross</h2>
<p>The train at Charing Cross can be available:</p>
<ul>
    <li>11:30-16:00 Monday to Friday, <strong>or</strong></li>
    <li>All day at weekends with both the train and the station (engineering work permitting)</li>
</ul>
<p>The disused Jubilee line area has 2 platforms with 3 escalators, 2 of which can be put in to operation when an escalator engineer is present.</p>
<p>This area is completely segregated from the rest of the station. However, if heavy/bulky equipment is needed, it must be brought in by a specially-organised train during off-peak periods the day/night before.</p>
<p>Allow at least two hours for each journey there and back - there is also a charge each way for the train and driver/s.</p>
</div>



 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!-- /info-for/media/filming-and-photography/47448.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/charing-cross-jubilee-line-main-escalators.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47447.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/charing-cross-jubilee-line-strand-exit.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47446.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/charing-cross-jubilee-line-strand-exit-reverse.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47445.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/charing-cross-jubilee-line-interior.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47444.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/charing-cross-platform-curve.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47443.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/charing-cross-train-from-platform.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47442.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/charing-cross-train-in-platform.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!-- /info-for/media/filming-and-photography/47441.htm -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/charing-cross-train-interior.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-tfl">Filming & photography on TfL</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/exclusive-areas">Exclusive areas</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-buses">Filming & photography on buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-the-roads">Filming & photography on the roads</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div class="module-grid clearfix">
            
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact the Film Office</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:filmoffice&#64;tfl.gov.uk">filmoffice&#64;tfl.gov.uk</a></p>

<p>&nbsp;</p>

<p>Or send a letter to:</p>

<p>TfL Film Office<br />
55 Broadway<br />
London SW1H 0BD</p>
        </div>
        
        
    </div>
</div>
 
        </div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Exclusive areas in the Tube network available to film producers are not open to the public";}
        
        


 