
    
  



@{ViewBag.Title = "Equality and inclusion";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility">Corporate social responsibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Equality and inclusion</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Equality and inclusion</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our vision for Equality and Inclusion is that every person matters in keeping London moving, working and growing. Public transport plays a key role in opening up opportunities by providing access to education, employment and other essential services. It helps people stay in touch with family and friends, and allows many people to live independently 
        
      </div>
    
    <div class="on-this-page">
      <p>We are committed to improving transport in London by making it more accessible, safer and reliable.</p>
<p>As a service provider to one of the most diverse cities in the world, we work hard to understand our passengers' needs and respond to them through work such as the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> and equality schemes.</p>
<h2>Action on Equality</h2>
<p>Action on Equality is based on this vision and the policies put forward here are all designed to contribute to this goal. </p>
<p>This means we will work together to ensure that every individual person's needs in relation to transport are understood and acted upon, to enable them to lead healthy, productive and happy lives. </p>
<p>This vision supports and builds on the overall TfL vision for London. Just as every journey matters to us, so too does every person matter in helping London thrive, in keeping London working, in keeping London growing and making life in London better. </p>
<p>Action on Equality sets out our commitments to promoting equality for our customers, staff and stakeholders, and our compliance with the Equality Act 2010 and covers the following areas:</p>
<ul>
    <li>Customer experience</li>
    <li>Customer information</li>
    <li>Accessible network</li>
    <li>Travelling safely and securely</li>
    <li>Value for money and affordability</li>
    <li>Health</li>
    <li>Workforce diversity</li>
    <li>Supporting current and future employees</li>
    <li>Engaging with employees and promoting an inclusive culture</li>
    <li>Our business partners</li>
    <li>Communication and engagement</li>
</ul>
<h2>Our equality objectives for 2016-20</h2>
<p>For each of these issues we have developed a TfL equality objective to demonstrate the improvement we would like to make:</p>
<ul>
    <li>Ensure our services will be accessible to more people, with consistent customer service that meets the needs of all customers</li>
    <li>Ensure that more customers will have access to the information they need to make the most of travel in London</li>
    <li>Improve the accessibility of London's transport infrastructure to enable more people to make the most of life in the Capital</li>
    <li>Ensure that travel in London is safer and fewer young people, women and people from BAME communities are deterred from travelling because of safety concerns</li>
    <li>Ensure we offer value for money for all Londoners with a fare structure which is clear and well communicated</li>
    <li>Ensure that our transport system promotes and improves the health of all Londoners</li>
    <li>Achieve a workforce which is reflective and representative of the diversity of London</li>
    <li>Ensure all future and current employees are supported to make the most of their skills and talents</li>
    <li>Create a more inclusive culture where all staff feel engaged</li>
    <li>Encourage more of our partner organisations to have diversity as a core value</li>
    <li>Engage with more of London's diverse communities to effectively inform, develop and deliver our strategies, services and programmes</li>
</ul>
<p>The Action on Equality 2016/17 Progress Report is on the <a href="/corporate/publications-and-reports/equality-and-inclusion-publications">Equality &amp; inclusion publications page</a>.</p>
<ul>
</ul>
<p>On that page you will also find our research on understanding London's travel needs and annual workforce monitoring reports. </p>
<h2>Accessibility</h2>
<p>Record levels of investment over the past few years have ensured that London has one of the most accessible transport networks in the world.</p>
<p>We are actively seeking to involve disabled people in our work, and boosting the training given to transport staff so they can offer consistently excellent service. </p>
<p>We will continue to make the case for further investment so that we can do even more &#45; for example, increasing the number of stations with step-free access.</p>
<p>Organisations for older and disabled people, equality groups and anyone interested in the accessibility of the transport network can contact us at <a href="mailto:tflaccessibility&#64;tfl.gov.uk">tflaccessibility&#64;tfl.gov.uk</a>.</p>
<p>Find more information about accessible travel in the Capital on the <a href="/transport-accessibility/index">Transport accessibility page</a>.</p>
<p>Our research on understanding London's travel needs and annual workforce monitoring reports are on the <a href="/corporate/publications-and-reports/equality-and-inclusion-publications">Equality &amp; inclusion publications page</a>.</p>
<h2>Stakeholder engagement</h2>
<p>We work with a range of organisations and elected representatives that speak for our customers. This includes:</p>
<h3>Independent Disability Advisory Group (IDAG)</h3>
<p>IDAG is made up of six permanent members and was set up to involve disabled people in the way that we shape and develop our strategy for making London more accessible for all.  Membership is refreshed on an annual basis.</p>
<p>The IDAG booklet is on the <a href="/corporate/publications-and-reports/equality-and-inclusion-publications">Equality &amp; inclusion publications page</a>.</p>
<h3>Sub-regional mobility forums</h3>
<p>These forums were established to enhance discussions between TfL, the London boroughs and groups for older and disabled people across TfL's five sub-regions</p>
<h3>Valuing people - Big Day Out</h3>
<p>Our London-wide forum for people with learning difficulties meets three times a year to discuss travel and transport issues.</p>
<h2>Modern slavery</h2>
<p>We work to keep our supply chain operating ethically. This helps us, among other things, target and reduce the risks of slavery and human trafficking. Read our <a href="/corporate/transparency/index">Modern slavery statement on the Transparency page</a>.</p>
      
           
      <div>

<h2>Staff network groups</h2>

<p>We have six internal staff network groups to represent the diversity of our workforce.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="3zLYFPv7MlY" data-video-caption="Staff network groups at TfL "></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="4iMHVnHhd_I" data-video-caption="See our rainbow taxi being wrapped"></li>
  
  </ul>
</div>
</div>
 <div>

<h3>BAME</h3>

<p>The Black, Asian and Minority Ethnic (BAME) Staff Network Group champions diversity and actively supports the ambitions of staff with a BAME background.</p>

<h3>Carers</h3>

<p>Our Carers Staff Network Group supports staff who are also carers. They provide advice and guidance through support groups and also host events to raise awareness of carers, working closely with Carers UK.</p>

<h3>Disability</h3>

<p>The Staff Network Group for Disability breaks down barriers and gives disabled people a voice through support groups, awareness events and forums which raise the profile of disabilities.</p>

<h3>Faith &amp; Wellbeing</h3>

<p>The Faith and Wellbeing Staff Network Group promotes faith and wellbeing for staff. They support general wellbeing through training and events; lobby for prayer or quiet rooms in as many locations as possible; work with our caterers to ensure that dietary requirements are met and help to produce an annual faith and cultural calendar.</p>

<h3>OUTbound - LGBT+ network</h3>

<p>Outbound works to ensure LGBT+ staff are fairly represented throughout TfL by helping to shape policies; providing networking opportunities and career support; and by running campaigns such as #RidewithPride.</p>

<h3>Women</h3>

<p>The Women's Staff Network Group is a professional networking group that facilitates the development of strong, flexible and productive connections between our employees. They run accessible networking events, learning and development sessions and a mentoring scheme designed to support the personal and professional development of their members.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/corporate-and-social-responsibility" class="heading">
                    <h2 id="sub-menu-heading">Corporate social responsibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality and inclusion</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport and health</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/reducing-noise-and-vibration">Reducing noise and vibration</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Equality & inclusion</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>To know more about any of our groups, email us at <a href="mailto:GroupEandI&#64;tfl.gov.uk?subject=Equality and inclusion groups">GroupE&amp;I&#64;tfl.gov.uk</a>.</p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/equality-and-inclusion-publications" class="plain-button">Equality &amp; inclusion reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Take a look at how we are ensuring the Capital's transport network is accessible to all";}
        
            
        


 