
    
  



@{ViewBag.Title = "Top travel tips";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-around-london/visitor-information">Visitor information</a></li>
                
            
            
                <li><span class="last-breadcrumb">Top travel tips</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Top travel tips</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Top tips for travelling on London's public transport - move around the city just like a local. <BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="-jaQguc_WTQ" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<p><strong>1. Travel around London with a Visitor Oyster card</strong><br />
A Visitor Oyster card is a smartcard with pay as you go credit that allows you to travel on most public transport in London. <a href="https://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/?utm_medium=referral&amp;utm_source=tfl.gov.uk&amp;utm_campaign=tfl ">Buy one online</a> and have it delivered to your home so that it's ready to use as soon as you arrive in London. That way, you won't have to queue to get one.&nbsp;<br />
<br />
Pay as you go fares are cheaper than buying paper single tickets. You can also use your <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless debit or credit card </a>to pay as you go on London's public transport, although overseas transaction fees may apply.</p>

<p><strong>2. Touch in and out on the yellow card readers</strong><br />
Remember to touch your Visitor Oyster&nbsp;card in at the yellow card reader at the start of your journey and to touch out at the end on Tube, DLR, London Overground, TfL Rail and most National Rail services in London. On buses and trams, just touch your card on the yellow reader at the start of your journey - you don't need to touch out when you get off.</p>

<p><strong>3. Travel outside the busiest times</strong><br />
The busiest times to travel are 08:30 &#45; 09:00 and 17:30 &#45; 18:30, Monday to Friday. If you are able to travel outside these times, you could enjoy a quicker, more comfortable journey, especially if you're carrying heavy luggage/a rucksack, or travelling in a group.</p>

<p><strong>4. Stand on the right</strong><br />
Always stand on the right when using the escalators at Tube stations, leaving enough space free for passengers in a hurry. Once you get onto the platform, always stand behind the yellow line and move along the platform where more space is available so it's easier to board the next train.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/stand-right.jpg" alt="Graphic showing customer standing on the right of an escalator while other customers walk down the escalator on the left side." />
        
        
        
    </div>   
 </div>
 <div>

<p><strong>5. Travel differently</strong><br />
See a different side&nbsp;to London. You can&nbsp;hire a bike for as little as &pound;2 with <a href="/modes/cycling/santander-cycles">Santander Cycles</a>, London's self-service, bike-sharing scheme, take to the air with <a href="/modes/emirates-air-line/index">Emirates Air Line</a>, London's cable car or take a scenic boat trip along the <a href="/modes/river/index">River Thames</a>. Alternatively, <a href="/modes/walking/index">walking in central London</a> is a great way to get around and experience the city. You'll find that there are plenty of street maps to help you get around and it could be quick than taking the Tube or the bus.</p>

<p><strong>Other travel tips</strong></p>

<ul>
	<li><strong>Luggage and rucksacks</strong><br />
	When carrying luggage on the Tube, look out for the <a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">raised platform areas to board</a> and, where possible, avoid travelling during the busiest times: you may have an easier journey. Although staff will be present they may not be able to assist you with luggage as a result of carrying out other duties.&nbsp;If you're carrying a rucksack, remove it when you board a train and place it by your feet</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/luggage.jpg" alt="Graphic showing a customer standing on the right of an escalator, holding the handrail with their luggage behind them" />
        
        
        
    </div>   
 </div>
 <div>

<ul>
	<li><strong>Travel by bus</strong><br />
	Try travelling by bus; it's one of the cheapest and most scenic&nbsp;ways to travel.&nbsp;Use our <a href="/cdn/static/cms/documents/key-bus-routes-in-central-london.pdf">Central London bus and attractions map</a> to help you plan your way around the city and its landmarks. Remember, you cannot pay for your London bus fare in cash. You will need an Oyster or contactless payment card, or a valid ticket, to pay for your bus journey.</li>
	<li><strong>Don't rush for the train</strong><br />
	The Tube operates a very frequent service, so there's no need to rush for the first train. This allows you time to move down the platform where more space&nbsp;might be available.</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/dont-rush.jpg" alt="Graphic showing customer running for train doors and that this is dangerous next to image showing customer correctly waiting for the next train in 1 minute." />
        
        
        
    </div>   
 </div>
 <div>

<ul>
	<li><strong>Get expert advice - go to a Visitor Centre</strong><br />
	Visit our <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a> to plan your London visit. There you can buy tickets for travelling around London, getting to the airport or tickets for many of London's major attractions and shows.</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                <a href="/travel-information/visiting-london/getting-around-london" class="heading">
                    <h2 id="sub-menu-heading">Getting around London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-information">Visitor information</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips">Top travel tips</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay">Best ways for visitors to pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-maps">Visitor maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></div></li>
                            
 
                </ul>
            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/?utm_medium=referral&utm_source=tfl.gov.uk&utm_campaign=tfl" class="plain-button">Buy a Visitor Oyster card</a>
<a href="https://www.visitbritainshop.com/" class="plain-button">VisitBritain shop</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="https://shop.tfl.gov.uk/" class="plain-button">TfL souvenirs</a>
<a href="http://www.visitlondon.com/" class="plain-button">Visit London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Top tips for travelling on London's public transport - move around the city just like a local. ";}
        
            
        


 