
    
  



@{ViewBag.Title = "Prudential RideLondon - Sunday 29 July";}
@{ViewBag.Keywords = "TfL,RideLondon";}
@{ViewBag.Url = "/status-updates/major-works-and-events/ridelondon-sunday-29-july";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/status-updates/major-works-and-events");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></li>
                
            
            
                <li><span class="last-breadcrumb">Prudential RideLondon - Sunday 29 July</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Prudential RideLondon - Sunday 29 July</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Prudential RideLondon cycling events return on Saturday 28 July on closed roads in central London and on Sunday 29 July on closed roads in east, central and south west London, and in parts of Surrey.
        
      </div>
    
    <div class="on-this-page">
      <p>You can view the event route maps on the <a href="https://www.prudentialridelondon.co.uk/">Prudential RideLondon&nbsp;website</a>. See below for travel advice for&nbsp;Sunday 29&nbsp;July. <a href="/status-updates/major-works-and-events/ridelondon">Click here</a>&nbsp;for travel advice for Saturday 28 July</p>

<h2>Travel disruption and advice</h2>

<h3>Drivers</h3>

<p>Road closures will impact more than the immediate Prudential RideLondon event routes, which cannot be crossed by vehicles. Drivers are advised to, wherever possible, avoid areas near and around the event routes as follows:</p>

<ul>
	<li>On Saturday 28 July between 05:00 and 19:30&nbsp; in central London</li>
	<li>On Sunday 29 July between 04:00 to 20:00 in east, central and south west London and in the affected parts of Surrey</li>
</ul>

<p>Roads between Tower Bridge and Commercial Street will be busier than usual and your journey may take up to twice as long, especially between 16:00 and 20:00 on Saturday.</p>

<p>There will also be significant disruption on London's roads on Sunday, in particular around Battersea Park Road, the A308 in Kingston and the A13 Newham Way, where journey times are anticipated to double.</p>

<p>Drivers will be unable to cross the route and journeys from west to south or southwest London will need to be made via the M25.&nbsp; If you must drive, please ensure you allow plenty of time and prepare to take a longer route than usual.</p>

<h3>Buses</h3>

<p>Bus routes will be on diversion or will finish early due to the road closures on both event days. Many central London bus routes will not serve their usual stops. You are advised to plan ahead and check publicity for more information.</p>

<h3>Tube</h3>

<p>Tube &amp; Rail will be the best way to get around central London on the day. Please plan ahead and check before you travel.</p>

<p>Please <a href="https://tfl.gov.uk/plan-a-journey/">plan your journey</a> ahead of the event.</p>
      
           
      
<h2>Spectators</h2>
<p>On Sunday 29 July the following events will take place in London and Surrey:</p>
<ul>
    <li>Prudential RideLondon-Surrey 100 &#45; 25,000+ amateur cyclists will take on a 100-mile cycle challenge through the closed roads of London and Surrey before finishing on The Mall</li>
    <li>Prudential RideLondon-Surrey 46 &#45; a new event over 46 miles within the existing 100 mile challenge which has been designed as an introductory sportive for amateur riders, also starting at Queen Elizabeth Olympic Park and finishing on the Mall</li>
    <li>Prudential RideLondon-Surrey Classic &#45; the world's best male cyclists will compete in this one-day race through London and Surrey. The race starts at Horse Guards Parade, St James's Park before heading into Surrey and returning to the Capital to finish on The Mall</li>
</ul>
<p>If you are planning on viewing the action along the route, remember that the areas around Box Hill in Surrey and The Mall at St James's Park are likely to be particularly busy.</p>
<p>Kingston will be a great place to watch the events as the cyclists head through Kingston on route to Surrey.</p>
<p>Shops and businesses in Kingston's town centre will be open as usual for visitors and spectators to visit.</p>
<p>Other areas to watch the action along the route and nearest stations include:</p>
<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:645px">
	<tbody>
		<tr>
			<td style="width: 185px;"><strong>Spectator points</strong></td>
			<td style="width: 162px;"><strong>Stations</strong></td>
			<td style="width: 272px;"><strong>Train lines</strong></td>
		</tr>
		<tr>
			<td style="width: 185px;">Queen Elizabeth Olympic Park</td>
			<td style="width: 162px;">Stratford</td>
			<td style="width: 272px;">Central, DLR, Jubilee &amp; National Rail</td>
		</tr>
		<tr>
			<td style="width: 185px;">Canary Wharf</td>
			<td style="width: 162px;">Canary Wharf</td>
			<td style="width: 272px;">DLR &amp; Jubilee</td>
		</tr>
		<tr>
			<td style="width: 185px;">Tower of London</td>
			<td style="width: 162px;">Tower Hill</td>
			<td style="width: 272px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td rowspan="2" style="width: 185px; vertical-align: text-top;">Piccadilly Circus</td>
			<td style="width: 162px;">Piccadilly Circus</td>
			<td style="width: 272px;">Piccadilly &amp; Bakerloo</td>
		</tr>
		<tr>
			<td style="width: 162px;">Leicester Square</td>
			<td style="width: 272px;">Northern &amp; Piccadilly</td>
		</tr>
		<tr>
			<td rowspan="6" style="width: 185px; vertical-align: top;">Victoria Embankment</td>
			<td style="width: 162px;">Monument</td>
			<td style="width: 272px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td style="width: 162px;">Cannon Street</td>
			<td style="width: 272px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td style="width: 162px;">Mansion House</td>
			<td style="width: 272px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td style="width: 162px;">Blackfriars</td>
			<td style="width: 272px;">Circle, District &amp; National Rail</td>
		</tr>
		<tr>
			<td style="width: 162px;">Temple</td>
			<td style="width: 272px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td style="width: 162px;">Embankment</td>
			<td style="width: 272px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td style="width: 185px;">Richmond Park</td>
			<td style="width: 162px;">Richmond</td>
			<td style="width: 272px;">District &amp; National Rail</td>
		</tr>
		<tr>
			<td style="width: 185px;">Memorial Gardens</td>
			<td style="width: 162px;">Kingston</td>
			<td style="width: 272px;">National Rail</td>
		</tr>
		<tr>
			<td style="width: 185px;">Parliament Square</td>
			<td style="width: 162px;">Westminster</td>
			<td style="width: 272px;">Circle, District &amp; Jubilee</td>
		</tr>
		<tr>
			<td style="width: 185px;">Whitehall</td>
			<td style="width: 162px;">Westminster</td>
			<td style="width: 272px;">Circle, District &amp; Jubilee</td>
		</tr>
		<tr>
			<td rowspan="5" style="width: 185px; height: 0px; vertical-align: text-top;">The Mall</td>
			<td style="width: 162px;">St James's Park</td>
			<td style="width: 272px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td style="width: 162px;">Charing Cross</td>
			<td style="width: 272px;">Bakerloo &amp; Northern</td>
		</tr>
		<tr>
			<td style="width: 162px;">Piccadilly Circus</td>
			<td style="width: 272px;">Bakerloo &amp; Piccadilly</td>
		</tr>
		<tr>
			<td style="width: 162px;">Green Park</td>
			<td style="width: 272px;">Jubilee, Piccadilly &amp; Victoria</td>
		</tr>
		<tr>
			<td style="width: 162px;">Hyde Park Corner</td>
			<td style="width: 272px;">Piccadilly</td>
		</tr>
		<tr>
			<td rowspan="4" style="width: 185px; vertical-align: text-top;">Buckingham Palace</td>
			<td style="width: 162px;">St James's Park</td>
			<td style="width: 272px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td style="width: 162px;">Green Park</td>
			<td style="width: 272px;">Jubilee, Piccadilly &amp; Victoria</td>
		</tr>
		<tr>
			<td style="width: 162px;">Hyde Park Corner</td>
			<td style="width: 272px;">Piccadilly</td>
		</tr>
		<tr>
			<td style="width: 162px;">Victoria</td>
			<td style="width: 272px;">Circle, District, Victoria &amp; National Rail</td>
		</tr>
	</tbody>
</table></div>

<p>&nbsp;</p>
<p>For spectator advice for Saturday 28 events, <a href="/status-updates/major-works-and-events/ridelondon">click here</a>.</p>

<h2>Road users</h2>

<p>Closures will be in place in and around St James's Park to prepare for the weekend events.</p>

<h4>Road closures from 07:30 on Friday 27 July &#45; 06:00 on Monday 30 July</h4>

<ul>
	<li>The Mall (between Horse Guards Road and Queens Gardens)</li>
	<li>Marlborough road</li>
</ul>

<h3>Road closures in central London</h3>

<h4>Sunday 29 July</h4>

<p>If you are driving in central London, your journey will take longer, and routes through the central London area will be heavily restricted. If you must drive please consider driving during times outside of the road closures and plan ahead for your journey.</p>

<p><strong>Road closures from 04:00 &#45; 11:30:</strong></p>

<ul>
	<li>Blackfriars Underpass</li>
	<li>Lower Thames Street</li>
	<li>Tower Hill</li>
	<li>Upper Thames Street</li>
	<li>Victoria Embankment</li>
</ul>

<p><strong>From 04:00 &#45; 12:00:</strong></p>

<ul>
	<li>Cockspur Street</li>
	<li>Northumberland Avenue</li>
	<li>Pall Mall (closes at 05:00)</li>
	<li>Piccadilly (closes at 05:00)</li>
	<li>St James's Street (closes at 05:00)</li>
	<li>Trafalgar Square</li>
</ul>

<p><strong>From 05:00 &#45; 14:45:</strong></p>

<ul>
	<li>Hyde Park Corner underpass</li>
</ul>

<p><strong>From 04:00 &#45; 20:00:</strong></p>

<ul>
	<li>Parliament Street</li>
	<li>Whitehall</li>
</ul>

<p><strong>From 07:30 &#45; 20:00:</strong></p>

<ul>
	<li>Chelsea Embankment (opens at 19:30)</li>
	<li>Grosvenor Road</li>
	<li>Millbank</li>
</ul>

<p>No access to Park Lane from Marble Arch</p>

<h3>Road closures in East London</h3>

<h4>Sunday 29 July</h4>

<p>Amateur cyclists in the Prudential RideLondon-Surrey 100 and 46 will depart Queen Elizabeth Olympic Park between 05:45 &#45; 09:45.</p>

<p>If you are driving in east London, consider starting your journey after 11:00 when major roads will reopen. You should allow more time for your journey even after this time, and especially between 17:00 and 19:00 on the A13 Newham Way.</p>

<p><strong>Road closures from 02:00 &#45; 12:00:</strong></p>

<ul>
	<li>Queen Elizabeth Olympic Park &#45; Waterden Road (start area)</li>
</ul>

<p><strong>From 04:00 &#45; 08:00:</strong></p>

<ul>
	<li>Rotherhithe Tunnel</li>
</ul>

<p><strong>From 04:00 &#45; 11:15:</strong></p>

<ul>
	<li>A12 southbound between Redbridge Roundabout and East India Dock Road including Blackwall Tunnel Northern Approach</li>
</ul>

<p><strong>From 04:00 &#45; 11:15:</strong></p>

<ul>
	<li>A13 Newham Way westbound</li>
	<li>East India Dock Tunnel</li>
	<li>Aspen Way</li>
	<li>Limehouse Link Tunnel</li>
	<li>The Highway</li>
	<li>East Smithfield</li>
	<li>Minories</li>
	<li>Tower Hill (opens at 11.30)</li>
</ul>

<h4>Blackwall Tunnel</h4>

<p>The Blackwall Tunnel will remain open with no access to East India Dock Road from the tunnel. Journeys on this road may take up to 10 minutes longer.</p>

<h3>Road closures in West London</h3>

<h4>Sunday 29 July</h4>

<p>Cyclists in both the Prudential RideLondon-Surrey 100, 46 and Classic events will pass through west London on the outbound route, from Hyde Park Corner to Chiswick Bridge, and again on the return journey towards the finish, crossing Putney Bridge and travelling along Chelsea Embankment.</p>

<p>The A4 eastbound between Hogarth Roundabout and Warwick Road at Earl's Court remains open throughout the day. Roads adjoining the event routes will have local access only for residents and businesses, with usual Sunday parking restrictions unless otherwise stated. &nbsp;Please consider re-timing your journey where possible.</p>

<p><strong>Road closures from 05:00 &#45; 14:45:</strong></p>

<ul>
	<li>Knightsbridge</li>
	<li>Brompton Road</li>
	<li>Cromwell Road</li>
	<li>Talgarth Road</li>
	<li>Hammersmith Flyover</li>
	<li>Great West Road</li>
	<li>Hogarth Roundabout</li>
	<li>Burlington Lane / Great Chertsey Road</li>
	<li>Chiswick Bridge</li>
</ul>

<p><strong>From 07:30 &#45; 19:30:</strong></p>

<ul>
	<li>Chelsea Embankment</li>
	<li>Cheyne Walk</li>
	<li>Grosvenor Road (opens at 20:00)</li>
	<li>Kings Road</li>
	<li>New Kings Road</li>
	<li>Putney Bridge (open north bound)</li>
</ul>

<h3>Road closures in Richmond and Kingston</h3>

<h4>Sunday 29 July</h4>

<p>Cyclists in both the Prudential RideLondon-Surrey 100, 46 and Classic events will pass through Richmond and Kingston on the outbound route and through Kingston on the return journey towards the finish. Richmond Park will be closed to vehicles all day.</p>

<p>The A3 will be open, although the exit slips at Esher Common, Coombe Lane and Tibbet's Corner will be closed. Please consider re-timing your journey where possible.</p>

<p><strong>Road closures from 05:00 &#45; 14:45:</strong></p>

<ul>
	<li>Chiswick Bridge</li>
	<li>Clifford Avenue</li>
	<li>Upper Richmond Road West</li>
	<li>Sheen Lane</li>
</ul>

<p><strong>From 05:00 &#45; 11:45:</strong></p>

<ul>
	<li>Queens Road</li>
	<li>Kingston Hill</li>
</ul>

<p><strong>From 05:00 &#45; 15:00:</strong></p>

<ul>
	<li>Cromwell Road (eastbound)</li>
	<li>Hampton Court Road</li>
	<li>Horse Fair (eastbound)</li>
	<li>Kingston Bridge (eastbound)</li>
	<li>London Road (eastbound)</li>
	<li>Queen Elizabeth Road (eastbound)</li>
	<li>Sopwith Way (eastbound)</li>
	<li>Wood Street (eastbound)</li>
</ul>

<p><strong>From 05:00 &#45; 19:00:</strong></p>

<ul>
	<li>Kingston Bridge (westbound)</li>
</ul>

<p><strong>From 05:00 &#45; 19:00:</strong></p>

<ul>
	<li>Fairfield North (westbound)</li>
	<li>High Street (westbound)</li>
	<li>Horse Fair (westbound)</li>
	<li>London Road (westbound)</li>
	<li>Wood Street (westbound)</li>
	<li>Clarence Street (westbound)</li>
</ul>

<p><strong>From 07:30 &#45; 19:30:</strong></p>

<ul>
	<li>Coombe Lane West</li>
	<li>Coombe Road</li>
	<li>Portsmouth Road (opens at 19:00)</li>
</ul>

<h3>Road closures in Kingston, Merton and Wandsworth</h3>

<h4>Sunday 29 July</h4>

<p>Cyclists in both the Prudential RideLondon-Surrey 100, 46 and Classic events will pass through Kingston on the outbound route and through Kingston, Merton and Wandsworth on the return journey towards the finish. The A3 will be open, although the exit slips at Esher Common, Coombe Lane and Tibbet's Corner will be closed.</p>

<p>Roads in Kingston will be significantly busier than a typical Sunday, especially the A308 Kingston Road where you can expect significant delays to your journey.</p>

<p>Battersea Park Road will also be extremely busy and journeys may take more than twice as long throughout the day. If you must drive, consider driving after 19:00</p>

<p><strong>Road closures from 05:00 &#45; 19:00:</strong></p>

<ul>
	<li>Clarence Street (westbound)</li>
	<li>Fairfield North (westbound)</li>
	<li>High Street Kingston (westbound)</li>
	<li>Horse Fair (westbound)</li>
	<li>London Road (westbound)</li>
	<li>Portsmouth Road (closed from 07:30)</li>
	<li>Wood Street (westbound)</li>
</ul>

<p><strong>From 07:30 &#45; 19:30:</strong></p>

<ul>
	<li>Coombe Lane</li>
	<li>Coombe Lane West</li>
	<li>Coombe Road</li>
	<li>High Street Wimbledon</li>
	<li>Parkside</li>
	<li>Putney Bridge</li>
	<li>Putney High Street</li>
	<li>Putney Hill</li>
	<li>Tibbets Corner</li>
	<li>Tibbets Ride</li>
	<li>Wimbledon Hill Road</li>
	<li>Wimbledon Parkside</li>
	<li>Worple Road</li>
</ul>

<h3>Bridge Closures</h3>

<h4>Sunday 29 July</h4>

<p><strong>Between 04:00 and 12:00:</strong></p>

<ul>
	<li>Tower Bridge &#45; 05:30 -&#45; 10:45</li>
	<li>Southwark Bridge &#45; 04:00-11:15</li>
	<li>Hampton Court Bridge &#45; 05:45-12:00 (no access to A3 until 19:00)</li>
</ul>

<p><strong>Between 07:00 and 20:00:</strong></p>

<ul>
	<li>Westminster Bridge &#45; 07:30 -20:00 (Restricted Access &#45; Nno through route)</li>
	<li>Lambeth Bridge &#45; 09:00 -18:45</li>
	<li>Vauxhall Bridge &#45; 09:00 -18:45</li>
	<li>Chelsea Bridge &#45; 09:00 -18:45</li>
	<li>Albert Bridge &#45; 07:30 &#45; -19:30</li>
	<li>Battersea Bridge &#45; 09:00 -18:45</li>
	<li>Wandsworth Bridge &#45; Local Aaccess only (Nno access to New Kings Road) &#45; 07:30 &#45; -18:45</li>
</ul>

<h3>Surrey road closures</h3>

<p>On Sunday 29 July there will be an impact on traffic in large parts of London and across Surrey. Roads used by the event will be closed so you'll need to plan your travel in advance. You are advised to visit the <a href="https://www.surreycc.gov.uk/">Surrey County Council website</a> for more information.</p>

<h3>RideLondon live road closure tool</h3>

<p>To help plan your travel, road closure information for Saturday 28 and Sunday 29 July can be viewed prior to the event and live on the day by <a href="http://PrudentialRideLondon.co.uk/road-closures">clicking here</a>.</p>

<p>All Prudential RideLondon road closure information is shared with travel information services, online mapping providers and satellite navigation companies.</p>

 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prudential-ride-london-traffic-impact1.png" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prudential-ride-london-traffic-impact2.png" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prudential-ride-london-traffic-impact3.png" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prudential-ride-london-traffic-impact4.png" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prudential-ride-london-traffic-impact5.png" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prudential-ride-london-traffic-impact6.png" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prudential-ride-london-traffic-impact7.png" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Buses</h2>

<p>Buses in and around the route areas &nbsp;on both days will be on diversion or will terminate earlier than usual to avoid the road closures. Some stops will also be temporarily relocated or suspended. Please allow more time for your journey and consider using the tube if you are traveling in central London on Saturday 28 and Sunday 29 July.</p>

<p>On Sunday 29 July, the following bus routes in north, central and south London will be affected from 00:30 until 20:30 (please check individual routes for times):</p>

<ul>
	<li>2, 3, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 22, 23, 24,&nbsp; 28, 29, 33, 36, 37, 38, 39, 42, 44, 49, 52, 57, 65, 66, 70, 71, 73, 74, 78, 82, 85, 87, 88, 91, 93, 97, 100, 108, 111, 115, 131, 137, 139, 145, 148, 159, 163, 164, 170, 176, 185, 190, 200, 211, 213, 216, 219, 220, 265, 270, 277, 281, 285, 295, 309, 319, 328, 337, 339, 344, 345, 360, 371, 381, 388, 390, 391, 406, 411, 414, 418, 419, 430, 452, 453, 461, 465, 481, 488, 493,&nbsp; 507, C1, C2, C3, C10, d3, d8, E3, K1, K2, K3, N3, N5, N8, N9, N11, N15, N16, N18, N19,&nbsp; N20, N21, N26, N28, N29, N31, N41, N44, N74, N87, N89, N91, N97, N109, N113, N136, N137, N155, n199, N279, N343, N381, N550, N551, R68, RV1, X26</li>
</ul>

<p>Please <a href="https://tfl.gov.uk/plan-a-journey/">plan ahead</a>&nbsp;on the day and for up to date information on bus services follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a>.</p>

<h2>Taxi and Private hire</h2>

<p>Some taxi and private hire journeys will be affected by the road closures for the Prudential RideLondon weekend. The following taxi ranks will be suspended on Sunday 29 Julyduring the weekend:</p>

<h4>Sunday 29 July:</h4>

<p><strong>From 05:00 to 12:00:</strong></p>

<ul>
	<li>St James's Street -Bennet Street</li>
	<li>St. James's Street -Park Place</li>
	<li>Pall Mall</li>
	<li>Charing Cross Station (from 04:00)</li>
	<li>Berkeley Street -Holiday Inn</li>
	<li>Berkeley Street - Novikov</li>
	<li>Stratton Street -Mayfair Intercontinental Hotel</li>
	<li>Westfield Avenue -Cow Pub (02.00 &#45; 12.00)</li>
	<li>East Smithfields (04.00 &#45; 11.15)</li>
</ul>

<p><strong>From 05:00 to 14:30:</strong></p>

<ul>
	<li>Knightsbridge (Mandarin Oriental Hotel)</li>
	<li>Brompton Road (Harrods)</li>
	<li>Hans Road (Harrods)</li>
	<li>Cromwell Road (V&amp; A)</li>
	<li>Thurloe Place</li>
</ul>

<p><strong>From 07:00 to 19:30:</strong></p>

<ul>
	<li>Millbank &#45;Tate (07:30 &#45; -20:00)</li>
	<li>Millbank &#45;Media (07:30 &#45; -20:00)</li>
	<li>Wood Street -Station (05:00 &#45; -19.00)</li>
	<li>Clarence Street -John Lewis (05:00- &#45; 19.00)</li>
	<li>High Street -Rose Theatre (05:00- &#45; 19.00)</li>
	<li>Coombe Lane -Raynes Park Station</li>
	<li>Worple Road</li>
	<li>High Street -Putney Station</li>
</ul>

<p>Further information about taxi and private hire services can be found <a href="http://tfl.gov.uk/modes/taxis-and-minicabs/">here</a>.</p>

<p>Booking information, including phone numbers and email addresses, about minicab and other private hire operators in London is available from <a href="http://tfl.gov.uk/forms/12389.aspx">TfL's Cabwise service</a>.</p>

<p>Taxi drivers and private hire drivers and operators can follow <a href="https://twitter.com/TfLTPH">&#64;TfLTPH</a> on Twitter for the latest TfL updates.</p>

<h2>Coaches</h2>

<p>Please contact your coach operator for details about changes to services and allow plenty of time to travel.</p>

<p>Due to the road closures on Sunday 29 July, there will be a number of diversions and alternative stops in and around the event route, and some coach stops in south and east London will not be served.</p>

<p>The following coach services will be affected:</p>

<ul>
	<li>National Express services from Brighton, Dover, Gatwick Airport, North Kent and Portsmouth will start and terminate at Vauxhall instead of Victoria Coach Station. Passengers should contact <a href="https://www.nationalexpress.com/en/help/contact">National Express</a> for details of transfers between Vauxhall and Victoria</li>
	<li>National Express route A7 to Stansted Airport will not serve stops at Waterloo or Blackfriars but will continue to serve Victoria &#45; please contact <a href="https://www.nationalexpress.com/en/help/contact">National Express</a> for details</li>
	<li>Green Line 702 will start and terminate at Royal Albert Hall instead of Victoria</li>
	<li>Easybus From West Brompton to Gatwick will start from Imperial Wharf (stop Y) instead of West Brompton</li>
	<li>Tour buses will be diverted in central London</li>
</ul>

<p>Services from East Anglia, Europe, South Wales and the West Country will be diverted within London but still serve Victoria. Services from Luton Airport, Stansted Airport (except A7 &#45; see above), Midlands, North, Oxford and Scotland will generally operate as normal.</p>

<p>Tourist coach drivers are advised that a large number of central London's coach parking bays will be closed on both days. This includes all coach parking on Park Lane northbound between Curzon Gate and Grosvenor Gate on Sunday 29 July.</p>

<p>Please plan ahead, contact your coach operator for details of changes and allow plenty of time to travel. More information can be found <a href="http://tfl.gov.uk/coaches">here</a>.</p>

<h2>Walking</h2>

<p>Footways along the routes will remain open to ensure that pedestrian access to properties is available and that spectators can enjoy the event. Crowd and safety barriers will be in place along certain sections of the routes.</p>

<p>Designated, marshalled crossing points will be available in these areas to help people cross the route safely. Please take extra care if crossing any part of the route on foot.</p>

<p>Walking is often the quickest option during big events in London. See the <a href="http://tfl.gov.uk/walking">walking pages</a> on our website.</p>

<h2>Cycling</h2>

<p>On Sunday 29 July the Cycle Superhighway will be closed east-west from Tower Hill to Bridge Street (Westminster Bridge).</p>

<p>For more information on Santander Cycles and travelling by bike around London, visit our <a href="https://tfl.gov.uk/modes/cycling/">cycling pages</a> or follow <a href="https://twitter.com/SantanderCycles">&#64;SantanderCycles</a> on Twitter.</p>

<h2>London Underground</h2>

<p>Tube &amp; rail will be the best way to get around central London at the weekend, although stations around the events area may be busier than usual.</p>

<p>We encourage anyone travelling to the events or around the affected areas to <a href="https://tfl.gov.uk/plan-a-journey/">plan ahead</a>&nbsp; to make the most of the weekend.</p>

<h3>Bicycles on the Tube</h3>

<p>You can take a folded bike anywhere and anytime on both the Tube and Night Tube. However there are limitations on where you can travel with non-folded bikes. Click <a href="http://content.tfl.gov.uk/bicycles-on-public-transport.pdf">here</a> to view the map for details of where you can travel with your non-folded bike.</p>

<p>For up to date information on Tube services follow <a href="https://twitter.com/TfLTravelAlerts">&#64;TfLTravelAlerts</a> or visit the <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/">social media pages</a> of the TfL website for individual Tube line accounts for real-time information.</p>

<h3>Planned engineering works</h3>

<p>No service on the Metropolitan line from Aldgate to Wembley Park</p>

<h3>London Overground planned engineering works</h3>

<p><strong>Saturday 28 and Sunday 29 July 2018</strong></p>

<ul>
	<li>No service between Hackney Downs to Enfield Town/ Cheshunt (via Seven Sisters)</li>
	<li>No service from Liverpool Street to Walthamstow Central</li>
	<li>No service from&nbsp; Willesden Junction to Clapham Junction</li>
</ul>

<p><strong>Sunday 29 July 2018</strong></p>

<ul>
	<li>No service from&nbsp; New Cross Gate to Crystal Palace/ West Croydon</li>
	<li>No service from South Tottenham to Barking until 12:30</li>
</ul>

<h2>Airport users</h2>

<p>People planning to drive to or from airports on Saturday 28 and Sunday 29 July are urged to check if their journey takes them across the race routes.&nbsp;Allow plenty of time to travel, use public transport to make your journey instead, or plan alternative routes to avoid the road closures.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
  </ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Prudential RideLondon, Sunday 29 travel advice";}
        
            
        


 