
    
  



@{ViewBag.Title = "Prudential RideLondon 2019";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/ride-london-2019";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "https://www.prudentialridelondon.co.uk/");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Prudential RideLondon 2019</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Prudential RideLondon 2019</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Prudential RideLondon cycling events return on Saturday 3 and Sunday 4 August 2019 in London and Surrey. This page is about how London's transport network will operate during the events and how to plan your travel.
        
      </div>
    
    <div class="on-this-page">
      <p>Prudential RideLondon&nbsp;events&nbsp;will take place on closed roads on:</p>

<ul>
	<li>Friday 2 August to Monday 5 August around St James' Park and Green Park&nbsp;in Westminster</li>
	<li>Saturday 3 August between 05:00 and 19:30&nbsp;across central London</li>
	<li>Sunday 4 August between 04:00 to 20:00&nbsp;across east, central and south west London and in some parts of Surrey</li>
</ul>

<p>For information about the event, including route maps,&nbsp;see&nbsp;the <a href="https://www.prudentialridelondon.co.uk/">Prudential RideLondon website</a>.</p>

<p>See TfL's&nbsp;detailed list of <a href="/status-updates/major-works-and-events/road-closures-for-prudential-ridelondon-2019">road and bridge closures for the event</a>.</p>

<p>Vehicles (including buses) will not be able to cross the routes. Road travel in central london will be heavily restricted, and&nbsp;a&nbsp;wide area around the routes will be affected. Avoid driving near the event unless absolutely necessary.</p>

<p>Tube and rail will be the best ways&nbsp;of getting around London on both days.</p>

<h2>Traffic impact maps for Saturday and Sunday</h2>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-saturday-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday1-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday2-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday3-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday4-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday5-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday6-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday7-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Driving<a id="Driving" name="Driving"></a></h2>

<p>See a detailed list of <a href="/status-updates/major-works-and-events/road-closures-for-prudential-ridelondon-2019">road and bridge closures for the event</a>.</p>

<p>For the latest information on how London roads are operating, see our <a href="https://tfl.gov.uk/traffic/status">traffic status updates map.</a></p>

<p>For news about traffic in London, follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> on Twitter.</p>

<h3>Saturday 3 August</h3>

<p>Prudential RideLondon FreeCycle&nbsp;follows an 8 mile circuit of closed roads in Westminster, the City of London and Camden. Expect delays anywhere near the route.</p>

<h3>Sunday 4 August</h3>

<p>There will be&nbsp;road closures&nbsp;across east, central and south west London and some parts of Surrey. Avoid areas near and around the event routes unless absolutely necessary.</p>

<h4>Central London</h4>

<ul>
	<li>If you are driving in central London, your journey will take longer, and routes through the area will be heavily restricted</li>
	<li>Avoid driving unless absolutely necessary. If you have to drive, plan ahead, consider re-timing your journey during times outside the road closures and allow plenty of time to complete your journey</li>
	<li>To get around more quickly, use . Consider walking for shorter journeys</li>
</ul>

<h4>East London</h4>

<p>Cyclists will leave Queen Elizabeth Olympic Park in Stratford&nbsp;between 05:45 and 09:45.</p>

<ul>
	<li>Roads on the route in east London will be closed until after 11:00</li>
	<li>Rotherhithe Tunnel will be closed to drivers between&nbsp;04:00 and 08:00 (it will remain open to cyclists)</li>
	<li>If you are driving in east London, considering starting your journey after 11:00, when major roads will reopen. Allow more time for your journey, especially between 17:00 and 19:00 on the A13 Newham Way</li>
</ul>

<h4>West London</h4>

<p>Cyclists will pass through west London on the outbound route (from Hyde Park Corner to Chiswick Bridge) and again on the return journey (crossing Putney Bridge and travelling along the Chelsea Embankment).</p>

<ul>
	<li>The A4 eastbound between Hogarth Roundabout and Warwick Road at Earl's Court is open throughout the day</li>
	<li>Roads adjoining the event routes will have local access only for residents and businesses, with usual Sunday parking restrictions unless otherwise stated</li>
</ul>

<h4>Richmond and Kingston</h4>

<p>Cyclists will pass through Richmond on the outbound route and through Kingston on the return journey towards the finish. Retime&nbsp;your journey if possible.</p>

<ul>
	<li>Richmond Park will be closed to vehicles all day</li>
	<li>The A3 will be open, although the exit slips at Esher Common, Coombe Lane and Tibbet's Corner will be closed</li>
</ul>

<h4>Kingston, Merton and Wandsworth</h4>

<p>Cyclists in the Prudential RideLondon-Surrey 100, 46 and Classic events will pass through Kingston, Merton and Wandsworth on the return journey towards the finish.</p>

<ul>
	<li>The A3 will be open, although the exit slips at Esher Common, Coombe Lane and Tibbet's Corner will be closed</li>
	<li>Roads in Kingston will be significantly busier than a typical Sunday, especially the A308 Kingston Road where there will be significant delays</li>
	<li>Battersea Park Road will be extremely busy and journeys may take more than twice as long as usual throughout the day</li>
	<li>If you must drive, consider driving after 19:00</li>
</ul>

<h4>Surrey</h4>

<p>On Sunday 4 August there will be an impact on traffic across Surrey.</p>

<p>Visit the <a href="https://www.surreycc.gov.uk/roads-and-transport/traffic-and-travel-information/sporting-events-affecting-surreys-roads/prudential-ridelondon">Surrey County Council website</a> for more information.</p>

<h2>Buses</h2>

<p>Many central London bus routes will not serve their usual stops. Some bus&nbsp;stops will be temporarily relocated or suspended.</p>

<p>Many bus routes will be diverted or will stop short of their normal destination because of road closures. These routes are affected:</p>

<h3>Saturday 3 August</h3>

<p>1, 3, 4, 6, 8, 9, 11, 12, 13, 15, 17, 21, 23, 24, 25, 26, 29, 40, 43, 46, 56, 59, 63, 68, 76, 87, 88, 91, 100, 133, 139, 141, 159, 168, 172, 176, 188, 243, 341, 453, N8, N11, N15, N26, N133, N551.</p>

<h3>Sunday 4 August</h3>

<p>2, 3, 6, 8, 9, 11, 12, 13, 14, 15, 16, 19, 22, 23, 24, 28, 29, 33, 36, 37, 38, 39, 42, 44, 49, 52, 57, 65, 66, 70, 71, 73, 74, 78, 82, 85, 87, 88, 91, 93, 97, 100, 108, 111, 115, 131, 137, 139, 145, 148, 159, 163, 164, 170, 176, 185, 190, 200, 211, 213, 216, 219, 220, 265, 270, 281, 285, 295, 309, 319, 328, 337, 339, 344, 345, 360, 371, 381, 388, 390, 391, 406, 411, 414, 418, 419, 430, 452, 453, 461, 465, 481, 488, 493, 507, C1, C2, C3, C10, D3, D8, E3, K1, K2, K3, N3, N5, N8, N9, N11, N15, N16, N18, N19, N20, N21, N26, N28, N29, N31, N41, N44, N74, N87, N89, N91, N97, N109, N113, N136, N137, N155, N199, N279, N343, N381, N550, N551, R68, X26.</p>

<p>For the latest information on how buses are running, see our <a href="https://tfl.gov.uk/bus/status">bus status updates</a>.</p>

<p>Follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> for news and service information.</p>

<h2>Cycling</h2>

<p>You will not be allowed to cycle on closed roads unless you are taking part in Prudential&nbsp;RideLondon.</p>

<ul>
	<li>Many roads will be closed, and some cycle toutes will be affected by road closures</li>
	<li>On Sunday 4 August,&nbsp;Cycle Superhighway 3&nbsp;will be closed east-west from Tower Hill to Bridge Street (Westminster Bridge)</li>
	<li>You can walk your bike across most of the stewarded pedestrian crossings</li>
	<li>You can ride across stewarded vehicle crossing points</li>
	<li>See&nbsp;our <a href="/status-updates/major-works-and-events/road-closures-for-prudential-ridelondon-2019">detailed&nbsp;page&nbsp;of road and bridge closures</a> for the event</li>
</ul>

<h3>Taking bicycles on public transport</h3>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="line-height:115%"><span style="line-height:115%">You can take a folded bike on any train at any time (including the Tube and Night Tube). However there are limitations on where you can travel with non-folded bikes. See this map for details of where you can travel with your non-folded bike on the Tube, DLR, London Overground and TfL Rail services.</span></span></p>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="line-height:115%"><span style="line-height:115%">You cannot take non-folded bikes on London Trams.</span></span></p>

<h3>Santander Cycles</h3>

<p>There will be no suspensions of Santander Cycles docking stations in and around the route area over the weekend. Busy roads may make it difficult for us to collect and replace bicycles.</p>

<p>On Saturday 3 August, extra Santander Cycles will be available near the FreeCycle route. There will be extra bikes to hire and staff on hand at:</p>

<ul>
	<li>Craven Street near Trafalgar Square</li>
	<li>Wellington Arch near Hyde Park</li>
</ul>

<h2>Walking</h2>

<p>Pavements and paths along the routes will remain open so that people can enjoy the event, and get to buildings on foot.</p>

<p>There will be crowd and safety barriers&nbsp;along some&nbsp;sections of the routes. There will be&nbsp;marshalled crossing points&nbsp;in these areas to help people cross the route safely.</p>

<p>Walking is often the quickest option during big events in London.</p>

<p>See our map showing <a href="/cdn/static/cms/documents/walking-tube-map.pdf">walking times between stations</a> on the same Tube line.</p>

<h2>Tube&nbsp;</h2>

<p>There are planned engineering works&nbsp;on the Tube network over the event weekend Saturday 3 and Sunday 4 August:</p>

<ul>
	<li>Central line &#45; no service between North Acton and Ealing Broadway. If you are travelling to the event via Ealing Broadway, use the District Line</li>
	<li>Bakerloo line &#45; no service on Sunday 4 August&nbsp;between Queen's Park and Harrow &amp; Wealdstone</li>
</ul>

<p>See how the Tube is running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> page.</p>

<h2>London Overground</h2>

<ul>
	<li>No service between Liverpool Street and Chingford / Enfield / Cheshunt (via Seven Sisters) on Saturday 3 or Sunday 4 August.</li>
	<li>No service between London Euston and Watford Junction on Sunday 4 August. Rail replacement buses will be in place.&nbsp;Cycles will not be permitted.</li>
</ul>

<p>See how London Overground is running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> page.</p>

<p>Follow <a href="http://twitter.com/LDNOverground">&#64;LDNOverground</a> on Twitter for news and service information.</p>

<h2>Network Rail</h2>

<p>There are&nbsp;planned engineering works on services into central London over the event weekend.</p>

<p><a href="https://www.nationalrail.co.uk/service_disruptions/currentAndFuture.aspx">Check the National Rail website</a> for details.</p>

<h2>Coaches</h2>

<h3>Saturday 3 August</h3>

<p><span style="line-height:115%">Coach services to and from Victoria will generally operate as normal, although there may be diversions on services that pass through the City of London and Westminster. </span></p>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="line-height:115%">These coach services will be affected:</span></p>

<ul>
	<li style="margin: 0cm 0cm 10pt;"><span style="line-height:normal">National Express route A7 to Stansted Airport will not serve stops at Waterloo or Blackfriars but will continue to serve Victoria &#45; please contact National Express for details</span></li>
	<li style="margin: 0cm 0cm 10pt;"><span style="line-height:normal">Tour buses will be diverted in central London</span></li>
</ul>

<h3 style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">Sunday 4 August</h3>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="line-height:115%">There will be diversions and alternative stops in and around the event route. Some coach stops in south and east London will not be served.</span></p>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="line-height:115%">These coach services will be affected:</span></p>

<ul>
	<li style="margin: 0cm 0cm 10pt;"><span style="line-height:normal">National Express services from Brighton, Dover, Gatwick Airport, North Kent and Portsmouth will start and terminate at Vauxhall instead of Victoria Coach Station. Contact National Express for details of transfers between Vauxhall and Victoria</span></li>
	<li style="margin: 0cm 0cm 10pt;"><span style="line-height:normal">National Express route A7 to Stansted Airport will not serve stops at Waterloo or Blackfriars but will continue to serve Victoria &#45; </span><span style="line-height:normal">check <a href="https://www.nationalexpress.com/en/help/live-service-updates">National Express</a> for details</span></li>
	<li style="margin: 0cm 0cm 10pt;"><span style="line-height:normal">Green Line 702 will start and terminate at Royal Albert Hall instead of Victoria </span></li>
	<li style="margin: 0cm 0cm 10pt;"><span style="line-height:normal">easyBus from Fulham Road to Gatwick &#45; please <a href="https://www.easybus.com/en/customer-support/">contact the operator</a> </span></li>
	<li style="margin: 0cm 0cm 10pt;"><span style="line-height:normal">Tour buses will be diverted in central London</span></li>
</ul>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="line-height:115%">Services from East Anglia, Europe, South Wales and the West Country will be diverted within London but still serve Victoria. Services from Luton Airport, Stansted Airport (except A7 &#45; see above), Midlands, North, Oxford and Scotland will generally operate as normal. </span></p>

<p style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="line-height:115%">Coach drivers should be aware that&nbsp;many of central London's coach parking bays will be closed on both days. This includes all coach parking on Park Lane northbound between Curzon Gate and Grosvenor Gate on Sunday 4 August.</span></p>

<h2>Deliveries and servicing</h2>

<p>Deliveries and servicing trips&nbsp;in central London&nbsp;are likely to be affected by congestion and increased journey times:</p>

<ul>
	<li>on Saturday 3 August&nbsp;in central London</li>
	<li>on&nbsp;Sunday 4 August in central, east, west, central and southwest London, and&nbsp;along the route into Surrey</li>
</ul>

<p>If possible, re-time deliveries and servicing trips to avoid road closures.</p>

<p>Find out&nbsp;whether&nbsp;suppliers can deliver by a different type of transport such as walking or cycling where possible</p>

<p>If you&nbsp;make deliveries, see the advice on this page under the heading <a href="#Driving">Driving</a>,&nbsp;and our page&nbsp;listing <a href="/status-updates/major-works-and-events/road-closures-for-prudential-ridelondon-2019">road and bridge closures for the event</a>.</p>

<p>Find out more about <a href="/info-for/deliveries-in-london/delivering-efficiently">changing deliveries</a>.</p>
</div>
 
<div>




<h2>Taxi and private hire</h2>

<p>Some taxi and private hire journeys&nbsp;will be affected by the road closures for Prudential RideLondon. Some taxi ranks will be suspended during the weekend.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/prudential-ride-london-2019-taxi-rank-suspensions.pdf">
    <div class="document-download-text">
        <p>Taxi rank suspensions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/a406-angel-road-flyover-closures">A406 Angel Road flyover closures</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-4">Cycleway 4</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-9">Cycleway 9</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/euston-road-works">Euston Road works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/london-bridge-works">London Bridge works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-closures-for-prudential-ridelondon-2019">Road closures for Prudential RideLondon 2019</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/car-free-day-2019">Reimagine event for World Car Free Day</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/westminster-bridge-works">Westminster Bridge works</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Ride London 2019 travel advice";}
        
            
        


 