
    
  



@{ViewBag.Title = "Road closures for Prudential RideLondon 2019";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/road-closures-for-prudential-ridelondon-2019";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/status-updates/index");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></li>
                
            
            
                <li><span class="last-breadcrumb">Road closures for Prudential RideLondon 2019</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Road closures for Prudential RideLondon 2019</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Details of road and bridge closures for Prudential RideLondon 2019.
        
      </div>
    
    <div class="on-this-page">
      <p>This pages lists the roads and bridges that are closed for Prudential RideLondon 2019.</p>

<p>See our <a href="/status-updates/major-works-and-events/ride-london-2019">advice on getting around London</a> over the weekend of&nbsp;the events.</p>

<p>Check out <a href="https://www.prudentialridelondon.co.uk/info-hub/routes/">routes (with maps) on the Prudential RideLondon website</a>.</p>

<h2>Traffic impact maps for Saturday and Sunday</h2>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-saturday-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday1-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday2-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday3-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday4-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday5-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday6-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prl-sunday7-700x438.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 

<h2>Roads closed from Friday to Monday morning</h2>

<p>These roads are closed from Friday 2 August until 06:00 on Monday 5 August:</p>

<h3>From 05:00 on Friday 2 August</h3>

<ul>
	<li>Horse Guards Road</li>
	<li>The Mall (between Horse Guards Road and Queens Gardens)</li>
	<li>Marlborough Road</li>
</ul>

<h3>From 12:30 on Friday 2 August</h3>

<ul>
	<li>Birdcage Walk</li>
	<li>Constitution Hill</li>
	<li>Spur Road</li>
</ul>

<h2>Road closed both Saturday and Sunday</h2>

<h3>From 07:30 on Saturday 3 August until 20:00 on Sunday 4 August</h3>

<ul>
	<li>Great George Street</li>
</ul>

<h2>Roads closed Saturday 3 August only</h2>

<p>These roads are closed all day on Saturday 3 August. They all re-open at 18:00.</p>

<h3>Roads closed from 05:00</h3>

<ul>
	<li>St Paul's Churchyard</li>
</ul>

<h3>Roads closed from 06:00</h3>

<ul>
	<li>Aldwych</li>
	<li>Angel Street</li>
	<li>Bartholomew Lane</li>
	<li>Cannon Street</li>
	<li>Cheapside to the west of King Street</li>
	<li>Cornhill</li>
	<li>Fenchurch Street - west of Rood Lane</li>
	<li>Friday Street</li>
	<li>Gresham Street - east of Wood Street</li>
	<li>Holborn</li>
	<li>High Holborn</li>
	<li>Holborn Viaduct</li>
	<li>King Edward Street</li>
	<li>King Street</li>
	<li>King William Street</li>
	<li>Kingsway</li>
	<li>Leadenhall Street - west of St Mary Axe</li>
	<li>Lime Street</li>
	<li>Lincolns Inn Fields</li>
	<li>Lombard Street</li>
	<li>Lothbury</li>
	<li>New Change</li>
	<li>Newgate Street</li>
	<li>Newman's Row</li>
	<li>Princes Street</li>
	<li>Puddle Dock</li>
	<li>Queen Victoria Street</li>
	<li>Remnant Street</li>
	<li>Sardinia Street</li>
	<li>St Martin's Le Grand- south of Gresham Street</li>
	<li>Threadneedle Street - west of Bartholomew Lane</li>
	<li>White Lion Hill</li>
	<li>Upper Thames Street</li>
	<li>Victoria Embankment</li>
</ul>

<h3>Roads closed from 07:00</h3>

<ul>
	<li>Aldwych - eastern arm</li>
	<li>Kingsway - southbound</li>
	<li>Waterloo Bridge</li>
	<li>The Strand</li>
	<li>Hourse Guards Avenue</li>
	<li>Whitehall</li>
	<li>Parliament Street</li>
	<li>Parliament Square (north side)</li>
	<li>Trafalgar Square</li>
	<li>Cockspur Street</li>
	<li>Northumberland Avenue</li>
	<li>Duncannon Street</li>
	<li>Pall Mall East</li>
	<li>Waterloo Place</li>
</ul>

<h2>Roads closed Sunday 4 August only</h2>

<h3>Central London</h3>

<h4>Closed 02:00-21:00</h4>

<ul>
	<li>The Mall</li>
	<li>Horse Guards Road</li>
	<li>Birdcage Walk</li>
	<li>Spur Road</li>
</ul>

<h4>Closed 04:00-11:15</h4>

<ul>
	<li>Tower Hill&nbsp;</li>
	<li>Lower Thames Street</li>
	<li>Upper Thames Street</li>
	<li>Blackfriars Underpass</li>
</ul>

<h4>Closed 04:00-11:30</h4>

<ul>
	<li>Victoria Embankment</li>
	<li>Waterloo Place</li>
</ul>

<h4>Closed 04:00-12:00</h4>

<ul>
	<li>Northumberland Avenue</li>
	<li>Trafalgar Square</li>
	<li>Cockspur Street</li>
</ul>

<h4>Closed 05:00-12:00</h4>

<ul>
	<li>Pall Mall</li>
	<li>St James's Street</li>
	<li>Piccadilly</li>
</ul>

<h4>Closed 05:00-12:15</h4>

<ul>
	<li>Hyde Park Corner Underpass</li>
</ul>

<h4>Closed 07:30-20:00</h4>

<ul>
	<li>Millbank&nbsp;</li>
	<li>Parliament Street</li>
	<li>Whitehall</li>
	<li>Grosvenor Road</li>
</ul>

<h4>Closed 07:30-19:30</h4>

<p>Chelsea Bridge</p>

<h3>East London</h3>

<h4>Closed 02:00-11:00</h4>

<ul>
	<li>Queen Elizabeth Park - Watergen Road</li>
</ul>

<h4>Closed 04:00-08:00</h4>

<ul>
	<li>Rotherhithe Tunnel</li>
</ul>

<h4>Closed 04:00-11:15</h4>

<ul>
	<li>A12 southbound between Redbridge Road and East India Dock Road</li>
	<li>A13 (incl. Blackwall Tunnel northern approach)</li>
	<li>East India Dock Road A13</li>
	<li>East India Dock Tunnel</li>
	<li>Aspen Way</li>
	<li>Limehouse Link Tunnel</li>
	<li>The Highway</li>
	<li>East Smithfield</li>
	<li>Minories</li>
	<li>Tower Hill</li>
</ul>

<h3>West London</h3>

<h4>Closed 05:00-12:15</h4>

<ul>
	<li>Knightsbridge</li>
	<li>Brompton Road</li>
	<li>Cromwell Road</li>
	<li>Talgarth Road</li>
	<li>Hammersmith Flyover</li>
	<li>Great West Road</li>
	<li>Hogarth Roundabout</li>
</ul>

<h4>Closed 05:00-12:30</h4>

<ul>
	<li>Burlington Lane / Great Chertsey Road</li>
	<li>Chiswick Bridge</li>
</ul>

<h4>Closed 07:30-19:30</h4>

<ul>
	<li>Chelsea Embankment</li>
	<li>Cheyne Walk</li>
	<li>Kings Road</li>
	<li>New Kings Road</li>
	<li>Putney High Street</li>
</ul>

<h4>Closed 07:30-20:00</h4>

<ul>
	<li>Millbank</li>
</ul>

<h3>Richmond and Kingston</h3>

<h4>Closed 05:00-12:30</h4>

<ul>
	<li>Chiswick Bridge</li>
	<li>Clifford Avenue</li>
	<li>Upper Richmond Road</li>
	<li>Sheen Lane</li>
	<li>Queens Road</li>
	<li>Kingston Hill (eastbound)</li>
	<li>Cromwell Road (eastbound)</li>
	<li>Hampton Court Road</li>
	<li>Horse Fair (eastbound)</li>
	<li>Kingston Bridge (eastbound)</li>
	<li>London Road (eastbound)</li>
	<li>Queen Elizabeth Road (eastbound)</li>
	<li>Sopwith Way (eastbound)</li>
	<li>Wood Street (eastbound)</li>
	<li>Kingston Bridge (westbound)</li>
</ul>

<h4>Closed 05:00-19:00</h4>

<ul>
	<li>Fairfield North (westbound)</li>
	<li>High Street (westbound)</li>
	<li>Horse Fair (westbound)</li>
	<li>London Road (westbound)</li>
	<li>Wood Street (westbound)</li>
	<li>Clarence Street (westbound)</li>
</ul>

<h4>Closed 07:30-19:30</h4>

<ul>
	<li>Coombe Lane</li>
	<li>West Coombe Road</li>
	<li>Portsmouth Road</li>
</ul>

<h4>Closed 10:00-12:00</h4>

<ul>
	<li>Embercourt / Hampton Court Way</li>
</ul>

<h3>Kingston, Merton and Wandsworth</h3>

<h4>Closed 05:00-12:30</h4>

<ul>
	<li>Queens Road (eastbound)</li>
	<li>Kingston Hill (eastbound)</li>
	<li>London Road (eastbound)</li>
	<li>Cromwell Road (eastbound)</li>
	<li>Queen Elizabeth Road (eastbound)</li>
	<li>Sopwith Way (eastbound)</li>
	<li>Wood Street (eastbound)</li>
	<li>Horse Fair (eastbound)</li>
	<li>Kingston Bridge (eastbound)</li>
</ul>

<h4>Closed 05:00-19:00</h4>

<ul>
	<li>Kingston Bridge (westbound)</li>
	<li>Clarence Street (westbound)</li>
	<li>Horse Fair (westbound)</li>
	<li>Wood Street (westbound)</li>
	<li>Fairfield North (westbound)</li>
	<li>London Road (westbound)</li>
</ul>

<h4>Closed 07:30-19:00</h4>

<p>High Street Kingston (westbound)</p>

<h4>Closed 07:30-19:30</h4>

<ul>
	<li>Portsmouth Road</li>
	<li>Coombe Lane</li>
	<li>Coombe Lane West</li>
	<li>Coombe Road</li>
	<li>High Street Wimbledon</li>
	<li>Parkside</li>
	<li>Putney Bridge</li>
	<li>Putney High Street</li>
	<li>Putney Hill</li>
	<li>Tibbet's Corner</li>
	<li>Tibbet's Ride</li>
	<li>Wimbledon Hill Road</li>
	<li>Wimbledon Parkside</li>
	<li>Worple Road</li>
</ul>

<h2>River crossings</h2>

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td><strong>Crossing</strong></td>
			<td><strong>Closure times</strong></td>
		</tr>
		<tr>
			<td>Hampton Court Bridge (no access to A3 until 19:00)</td>
			<td>05:45-13:00</td>
		</tr>
		<tr>
			<td>Kingston Bridge (westbound)</td>
			<td>05:00-20:00</td>
		</tr>
		<tr>
			<td>Kingston Bridge (eastbound)</td>
			<td>05:00-12:30</td>
		</tr>
		<tr>
			<td>Chiswick Bridge</td>
			<td>05:00-12:30</td>
		</tr>
		<tr>
			<td>Hammersmith Bridge</td>
			<td>Closed</td>
		</tr>
		<tr>
			<td>Putney Bridge (northbound) - access from Lower Richmond Road only</td>
			<td>07:30-19:30</td>
		</tr>
		<tr>
			<td>Putney Bridge (southbound)</td>
			<td>07:30-19:30</td>
		</tr>
		<tr>
			<td>Wandsworth Bridge (local access only, no access to New Kings Road)</td>
			<td>07:30-18:45</td>
		</tr>
		<tr>
			<td>Battersea Bridge</td>
			<td>09:00-18:45</td>
		</tr>
		<tr>
			<td>Albert Bridge</td>
			<td>07:30-19:30</td>
		</tr>
		<tr>
			<td>Chelsea Bridge</td>
			<td>09:00-18:45</td>
		</tr>
		<tr>
			<td>Vauxhall Bridge</td>
			<td>09:00-18:45</td>
		</tr>
		<tr>
			<td>Lambeth Bridge</td>
			<td>09:00-18:45</td>
		</tr>
		<tr>
			<td>Westminster Bridge (restricted access, no through route)</td>
			<td>07:30-19:00</td>
		</tr>
		<tr>
			<td>Southwark Bridge</td>
			<td>04:00-11:15</td>
		</tr>
		<tr>
			<td>Tower Bridge</td>
			<td>05:30-10:45</td>
		</tr>
		<tr>
			<td>Rotherhithe Tunnel</td>
			<td>04:00-08:00</td>
		</tr>
		<tr>
			<td>Woolwich Ferry</td>
			<td>Closed</td>
		</tr>
	</tbody>
</table></div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Road closures for Prudential RideLondon 2019";}
        
            
        


 