
    
  



@{ViewBag.Title = "Visiting London image gallery";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/experience-london/visit-london-image-gallery";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/experience-london">Experience London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Visiting London image gallery</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Visiting London image gallery</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Images of some of London's unique and iconic experiences. <BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/visiting-london-bus-westminster-abbey.jpg" alt="The new Routemaster bus passing near Westminster Abbey, in the heart of London" />
                <figcaption>
<span class="figure-title">The new Routemaster bus passing near Westminster Abbey, in the heart of London</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/visiting-london-river-city.jpg" alt="River bus travelling along the Thames with iconic buildings in the background" />
                <figcaption>
<span class="figure-title">River bus travelling along the Thames with iconic buildings in the background</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/visiting-london-museum-greenwich.jpg" alt="The National Maritime Museum in Greenwich, the leading maritime museum of the UK" />
                <figcaption>
<span class="figure-title">The National Maritime Museum in Greenwich, the leading maritime museum of the UK</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/visiting-london-richmond-park.jpg" alt="Richmond Park, in Zone 4, is the largest of the capital's eight Royal Parks" />
                <figcaption>
<span class="figure-title">Richmond Park, in Zone 4, is the largest of the capital's eight Royal Parks</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/santander-british-museum.jpg" alt="Explore London and places of interest, like the British Museum, by Santander Cycles" />
                <figcaption>
<span class="figure-title">Explore London and places of interest, like the British Museum, by Santander Cycles</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/visiting-london-emirates-river.jpg" alt="Enjoy spectacular night views of the city on Emirates Air Line's new night flights" />
                <figcaption>
<span class="figure-title">Enjoy spectacular night views of the city on Emirates Air Line's new night flights</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vising-london-transport-museum.jpg" alt="The interactive London Transport Museum in Covent Garden " />
                <figcaption>
<span class="figure-title">The interactive London Transport Museum in Covent Garden </span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/visiting-london-walking-legible-london.jpg" alt="Legible London: Pedestrian information for those who want to explore London on foot" />
                <figcaption>
<span class="figure-title">Legible London: Pedestrian information for those who want to explore London on foot</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/canary-wharf.jpg" alt="DLR trains are a great way to go to Canary Wharf and to get around East London" />
                <figcaption>
<span class="figure-title">DLR trains are a great way to go to Canary Wharf and to get around East London</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/itineraries">Itineraries</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/special-offers">Special offers</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/visit-london-image-gallery">Visiting London image gallery</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/bus-leisure-routes">Bus leisure routes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social instagram">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>TfL on Instagram</h3>
    <p>Images, news and information</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://instagram.com/transportforlondon/">Follow</a>
  </div> 
</div>
 

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay" class="plain-button">Best ways for visitors to pay</a>
<a href="/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips" class="plain-button">Travel tips</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Images of some of London's unique and iconic experiences. ";}
        
            
        


 