
    
  



@{ViewBag.Title = "Connected London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/creating-a-connected-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Connected London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Connected London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We need to improve digital connectivity to drive the next wave of innovation and growth in London. By using our unique position and assets to create ambitious telecoms services, we can ensure that London remains the place where the world wants to work, live, study and visit.
        
      </div>
    
    <div class="on-this-page">
      
      
           
        <div class="pull-quote">
    
        <div class="quote-body">"Introducing 4G and, in the future, 5G will help Londoners and visitors keep in touch and get the latest travel information while on the go. London is the best place to live, visit and work &#45; and projects like this will help make it even better"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
    </div>
   <h2>Connected London</h2>

<p>We are partnering with the telecoms industry to create this vision of a Connected London, and to generate revenue to reinvest in the transport network.</p>

<p>We will create:</p>

<h3>A public cellular network</h3>

<p>We will add mobile coverage in Tube stations and tunnels so commuters can enjoy seamless connectivity. With our industry partner, we will make available&nbsp;a new commercial 4G network underground and offer commercial services to other operators.</p>

<p>We have significant assets and the operational and engineering expertise to support the building of the new network.</p>

<h3>A new fibre backbone for London</h3>

<p>Fibre optic internet is becoming a standard, rather than a luxury. The capital's future digital connectivity will be built on fibre.</p>

<p>Our roll-out of underground mobile services has seen hundreds of kilometres of fibre laid in tunnels, creating a new fibre backbone for London. We also own the surface assets to support 'last mile' connectivity.</p>

<h3>Enhanced 4G networks and the coming of 5G</h3>

<p>The next generation of mobile networks - expected to be rolled out in the coming decade - will help address data consumption demand from the mobile market. To bring super-fast connections to mobile devices, many more cell sites will be needed, especially in high footfall areas.</p>

<p>We have many assets on streets, such as lighting columns, that the partnership can use to provide unparalleled 5G and improved 4G coverage above ground and 4G underground.</p>

 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/connected-london.pdf">
    <div class="document-download-text">
        <p>Connected London brochure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.74 -->
 
</div>

</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="rmDSsNIjFng" data-video-caption="Connecting London"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Tendering exercise for Connected London</h2>

<p>In summer 2018, we asked interested parties to return a Standard Selection Questionnaire (SSQ) and shortlisted suppliers with suitable financial and technical capability were invited to tender.&nbsp;&nbsp;Bids have now been evaluated and shortlisted tenderers have been invited to submit final tenders in the first quarter of 2020.</p>

<p>Check back here for updates on this process.</p>

<h2>Jubilee line pilot, coming March 2020</h2>

<p>The eastern half of the Jubilee line will get full mobile connectivity within station platforms and tunnels for the first time from March 2020. The trial section, which will cover the platforms and tunnels between Westminster and Canning Town, will allow customers to check for the latest travel information, catch up on social media and read their emails or the latest news uninterrupted as part of their journey.</p>

<p>Shashi&nbsp; Verma, Chief Technology Officer at TfL said: &quot;The London Underground network is an incredibly challenging environment in which to deliver technological improvements, but we are now well on the path to delivering mobile connectivity within our stations and tunnels. We have begun the complex work to allow our customers to be able to get phone reception within our tunnels from March 2020, with more stations and lines coming online during the coming years.&quot;</p>

<p>The trialling of 2G, 3G and 4G mobile services along this section of the London Underground network will allow TfL and the mobile operators to gain valuable experience of delivering mobile services on the Underground ahead of awarding a concession to deliver mobile coverage across the whole Underground network.</p>

<p>The service will also cover ticket halls and corridors within stations along this section of the Jubilee line, with the exception of London Bridge and Waterloo stations which, subject to final approvals, will be added later during 2020.</p>

<p>Find out more in the&nbsp;<a href="https://tfl-newsroom.prgloo.com/news/tfl-press-release-first-tunnel-section-of-jubilee-line-to-get-4g-mobile-reception-from-march-2020">press release about the pilot</a>.</p>

<h2>Waterloo &amp; City line trial</h2>

<p>Prior to the Jubilee line trial in summer 2017, we worked with mobile network operators on a trial of mobile coverage during non-passenger hours in the stations and deep-level tunnels of the Waterloo &amp; City line.</p>

<p>See our summary report of the trial in the&nbsp;document&nbsp;below.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/waterloo-and-city-line-connectivity-trial-summer-2017.pdf">
    <div class="document-download-text">
        <p>Waterloo & City line connectivity trial - summary report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.07 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/connecting-london.jpg" alt="workman with cable" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Current Wi-Fi services</h2>

<p>We have installed Wi-Fi across more than 260 Tube stations and 79 London Overground stations. Wi-Fi is available in the ticket halls, passenger corridors and platforms of these Tube stations and in the ticket halls and passages of the Overground stations.</p>

<p>We will extend Wi-Fi to the new Elizabeth Line stations at Farringdon, Tottenham Court Road, Woolwich, Canary Wharf, Paddington, Whitechapel, Custom House, Bond Street, Liverpool Street and Abbey Wood in time for the opening of each station.</p>

<p>Public Wi-Fi will still be available to customers as part of Connected London.</p>

<p>See more about our current Wi-Fi service on the <a href="/campaign/station-wifi">Station Wi-Fi page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're making plans with telecoms partners that will help London become one of the best-connected cities in the world";}
        
            
        


 