
    
  



@{ViewBag.Title = "International visits";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/international-visits";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-consulting">Commercial consulting & international operations</a></li>
                
            
            
                <li><span class="last-breadcrumb">International visits</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>International visits</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Every year we host hundreds of visits from delegations around the world wanting to exchange knowledge, or to learn from our experience of managing transport in London.
        
      </div>
    
    <div class="on-this-page">
      <h2>Requesting a visit</h2>

<p>We are keen to support the sharing of information to improve public transport worldwide, but we have to balance the time required for a successful visit with the limitations on our resources, business priorities, and our primary focus on keeping London moving.</p>

<p>We assess every visit request on a case by case basis.</p>

<p>Make sure to plan ahead. We&nbsp;receive&nbsp;lots of requests and we need at least two months' notice of the proposed date of your visit.</p>

<p>We are very unlikely to accept a request with less than two months' notice and you may not get a reply from us.</p>

<p>To request a visit, email us at&nbsp;<a href="mailto:visitrequests&#64;tfl.gov.uk">visitrequests&#64;tfl.gov.uk</a>.</p>

<p>We'll send you a visitor questionnaire to complete. We will review your questionnaire and then confirm whether we can accept your request.</p>

<p>We aim to respond to all completed questionnaires within 20 working days.</p>

<h2>Commercial consulting and international operations</h2>

<p>We also offer <a href="/info-for/business-and-commercial/commercial-consulting">commercial consulting</a>. We apply our experience in planning and running one of the world's most integrated transport systems to help cities across the world develop, grow and thrive.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Request a knowledge-sharing corporate visit to Transport for London";}
        
            
        


 