
    
  



@{ViewBag.Title = "Retail";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/retail";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/embankment.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/embankment.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/our-property-portfolio">Our property portfolio</a></li>
                
            
            
                <li><span class="last-breadcrumb">Retail</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Retail</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>Based in one of the world's greatest transport systems, our range of retail units are in the most sought-after locations in London. With an annual footfall of 1.3bn, you could be closer than ever to your customers, making our retail spaces a great move for your business.&nbsp;</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cp-neals-yard.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cp-westminster-costa.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cp-coffee-shop-pinner.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cp-leon.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cp-paperchase.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cp-honest-burgers-south-ken.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cp-south-ken-restaurant-7-honest.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cp-black-sheep-light.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<p>Our retail spaces help to create interesting places for our passengers and communities to enjoy. They include everything from prime high street units to on-platform kiosks.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.completelygroup.com/properties?cat=Retail" class="secondary-button no-hover" >Search our available retail spaces</a>

    </div>
</div> 
 
</div>
 <div>

<p>If you see a space you're interested in, please get in touch with the listed agent to find out more.</p>
<p>Find out how to apply to work with us on our <a href="/info-for/business-and-commercial/applying-for-a-tenancy">Applying for a tenancy page</a>. There is information on our leases, rents and how we will consider your application.</p>
</div>
 <div>

<h2>Discover Wood Lane arches </h2>
<p>We are regenerating 31 railway arches in Shepherd's Bush to create spaces for businesses, shops, eating and socialising. The first phase of 11 arches will be launched in spring 2019.</p>
<p>More information on the new character retail, restaurant and bar space in West London is on the <a href="http://www.londonarches.com/">Wood Lane London Arches website</a>.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/west-london-arches-cgi.jpg" alt="Wood Lane arches" />
                <figcaption>
<span class="figure-title">Wood Lane arches</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/wood-lane-arches-2.jpg" alt="Wood Lane arches" />
                <figcaption>
<span class="figure-title">Wood Lane arches</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/wood-lane-arches-1.jpg" alt="Wood Lane arches" />
                <figcaption>
<span class="figure-title">Wood Lane arches</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
<div>



<h2>Footfall</h2>


<p>Up to five million journeys are made on the Tube each day - that's a lot of potential customers. We've calculated the annual figure for footfall for each station across the network.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/station-footfall-figures-2017.pdf">
    <div class="document-download-text">
        <p>Passenger numbers at Tube stations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

        <p>These numbers don't reflect exact routes taken in stations and should be used as a guide only.</p>
    
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-properties" class="heading">
                    <h2 id="sub-menu-heading">Commercial properties<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/becoming-a-tenant">Becoming a tenant</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/our-property-portfolio">Our property portfolio</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/retail">Retail</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/arches-and-industrial">Arches and industrial</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/offices">Offices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/other-opportunities">Pop ups, pitches and more</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/land-enquiries">Land enquiries</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/send-us-feedback">Send us feedback</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/wood-lane-arches" class="plain-button">Wood Lane arches</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Our 1,000 retail units offer exceptional footfall";}
        
            
        


 