
    
  



@{ViewBag.Title = "About River Tours";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/river/about-river-tours";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/river/index">River</a></li>
                
            
            
                <li><span class="last-breadcrumb">About River Tours</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>About River Tours</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Escape the crowds and discover London at a leisurely pace with a river tour. Choose from hop-on/hop-off services, themed cruises, dining experiences and sightseeing tours with commentaries. 
        
      </div>
    
    <div class="on-this-page">
      
        <p> A number of providers offer river tours and experiences on the Thames. TfL manages the piers and licenses river passenger services.</p>
         
    
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/dinner-cruise-experience.jpg" alt="Enjoy a sensational dinner cruise" />
                <figcaption>
<span class="figure-title">Enjoy a sensational dinner cruise</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/boat-tower-bridge-sunset.jpg" alt="Tower Bridge at sunset" />
                <figcaption>
<span class="figure-title">Tower Bridge at sunset</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/river-cruise.jpg" alt="Take in the sights of London at an easy pace  " />
                <figcaption>
<span class="figure-title">Take in the sights of London at an easy pace  </span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/river-cruise-thames-barrier.jpg" alt="Take an evening tour and see London at sunset" />
                <figcaption>
<span class="figure-title">Take an evening tour and see London at sunset</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/rib-river-boat-in-action.jpg" alt="Hold on tight and enjoy the action on a RIB experience" />
                <figcaption>
<span class="figure-title">Hold on tight and enjoy the action on a RIB experience</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Fares and tickets</h2>
<p>Generally, you need to buy your ticket in advance online or at a pier ticket office before boarding a boat.</p>
<h3>Oyster</h3>
<p>Most operators offer one-third off normal advertised adult and child fares on production of a valid Travelcard, or Oyster card loaded with a valid Travelcard, when purchasing a ticket. Some restrictions apply.</p>
<h3>Freedom Pass </h3>
<p>Many operators offer 50% off the adult fare on production of a valid Freedom Pass. This discount is available from 09:00 Mondays to Fridays and all day at weekends and on public holidays.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/map-of-scheduled-river-services.pdf">
    <div class="document-download-text">
        <p>Map of scheduled river services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 <div>

<h2>Sightseeing cruises</h2>

<h3>Tower pier</h3>

<p>A 45-minute circular tour to Westminster and back. From our open deck you can enjoy fantastic views of London's top landmarks including Tower Bridge, HMS Belfast, Houses of Parliament, London Eye and many more.</p>

<p><strong>City Cruises</strong><br />
<strong>Phone: </strong>020 7740 0400<br />
<strong>Website: </strong> <a href="http://www.citycruises.com/">citycruises.com</a></p>

<h3>London Eye pier</h3>

<p>This 40-minute circular sightseeing cruise travels between the Houses of Parliament and Tower Bridge with live commentary in English and audio commentary in several other languages. A hearing loop system is available. Both decks are accessible for wheelchair users. Daily, suitable in all weather. Book online to get a discount.</p>

<p><strong>London Eye River Cruise</strong><br />
<strong>Phone: </strong> 0870 500 0600<br />
<strong>Website: </strong> <a href="http://www.londoneye.com/">londoneye.com</a></p>

<h3>Greenwich pier</h3>

<p>A Sunday evening circular cruise which passes the Tower of London, London Eye and Westminster.</p>

<p><strong>Campion Launches</strong><br />
<strong>Phone: </strong> 020 8305 0300<br />
<strong>Website: </strong> <a href="http://viscountcruises.com/page7.htm">viscountcruises.com</a></p>

<h3>Greenwich or Gravesend piers</h3>

<p>Cruise on parts of the river most other cruises don't reach on a Gravesend to Greenwich Cruise.</p>

<p><strong>Lower Thames and Medway Passenger Boat Company</strong><br />
<strong>Phone: </strong> 01732 353448<br />
<strong>Website: </strong> <a href="http://princess-pocahontas.com/">princess-pocahontas.com</a></p>

<p>Enjoy London's places of interest along the river, with unlimited travel throughout the day and the flexibility to hop-on and hop-off when you want.</p>

<h3>Westminster - St. Katharine's circular service</h3>

<p>Circular Cruise Westminster<br />
Phone: 020 7936 2033<br />
Website: <a href="http://www.circularcruise.london ">www.circularcruise.london</a></p>

<h3>Westminster - Thames Barrier</h3>

<p><strong>Thames River Services</strong><br />
<strong>Phone: </strong> 020 7930 4097<br />
<strong>Website: </strong> <a href="http://www.thamesriverservices.co.uk/">thamesriverservices.co.uk</a></p>

<h3>Westminster - London Eye - Tower - Greenwich</h3>

<p><strong>City Cruises</strong><br />
<strong>Phone: </strong>020 7740 0400<br />
<strong>Website: </strong> <a href="http://citycruises.com/">citycruises.com</a></p>

<h3>Westminster - Kew - Richmond - Hampton Court (summer only)</h3>

<p><strong>Westminster Passenger Service Association </strong><br />
<strong>Phone: </strong>020 7930 2062<br />
<strong>Website: </strong><a href="http://wpsa.co.uk/">wpsa.co.uk</a></p>

<h3>Richmond - Kingston - Hampton Court (summer only)</h3>

<p><strong>Turks Launches</strong><br />
<strong>Phone: </strong>020 8546 2434<br />
<strong>Website: </strong> <a href="http://www.turks.co.uk/">turks.co.uk</a></p>

<h2>High speed RIB tours</h2>

<h3>London Eye pier and St Katharine's pier</h3>

<p>Expect city adventure, back-street insight, London gossip and exhilarating speed from award-winning comedian guides and experienced Thames skippers.</p>

<p><strong>Thames Rockets</strong><br />
<strong>Phone: </strong> 020 7928 8933<br />
<strong>Website: </strong><a href="http://thamesrockets.com ">Thames Rockets</a></p>

<h3>Embankment pier, Tower pier, North Greenwich pier</h3>

<p>Join us for the ride of your life on the fastest boats on the Thames - we'll thrill you with our high-speed twists and turns.</p>

<p><strong>Thames RIB Experience<br />
Phone: </strong> 020 3245 1177<br />
<strong>Website: </strong> <a href="http://thamesribexperience.com/">thamesribexperience.com</a></p>

<h3>Westminster pier</h3>

<p>Go, go, go. Enjoy an exciting jet-propelled speedboat ride along the Thames with a fully-qualified skipper. Zoom past London's landmarks in our RIB jetboats.</p>

<p><strong>Thamesjet</strong><br />
<strong>Phone: </strong> 020 7740 0400<br />
<strong>Website: </strong> <a href="http://thamesjet.com">thamesjet.com</a></p>

<p>&nbsp;</p>

<h2>Afternoon tea, dining and more</h2>

<h3>Tower pier</h3>

<p>What better way to make your lunch or afternoon tea more enjoyable than combining it with a cruise down the Thames. (Lunch 1 hour 45 minutes and Afternoon Tea 1 hour 30 minutes).</p>

<p><strong>City Cruises</strong><br />
<strong>Phone: </strong> 020 7740 0400<br />
<strong>Website: </strong> <a href="http://citycruises.com/">citycruises.com</a></p>

<h3>Embankment pier</h3>

<p>Enjoy freshly-prepared food and stunning river views, with after-lunch commentary or live jazz on Sundays. Or, experience London at night with a four-course dinner cruise. (Lunch 1 hour 45 minutes, Afternoon Tea 1 hour 15 minutes, Jazz cruise 2 hours 30 minutes, Dinner cruise 2 hours 45 minutes).</p>

<p><strong>Bateaux London</strong><br />
<strong>Phone: </strong> 020 7695 1800<br />
<strong>Website: </strong> <a href="http://www.bateauxlondon.com">bateauxlondon.com</a></p>

<h3>Westminster pier</h3>

<p>The London Showboat dinner cruise brings you live entertainment with performances from hit shows as you enjoy a four-course dinner with wine. (3 hour 15 minute cruise).</p>

<p><strong>City Cruises</strong><br />
<strong>Phone: </strong> 020 7740 0400<br />
<strong>Website: </strong> <a href="http://citycruises.com/">citycruises.com</a></p>

<h3>From a central London pier</h3>

<p>Evening cruise with supper and a disco. From a central London pier - Fridays or Saturdays. (4 hour cruise).</p>

<p><strong>Mainstream Leisure Group</strong><br />
<strong>Phone: </strong>020 3044 2932<br />
<strong>Website: </strong> <a href="https://mainstreamleisure.co.uk/thames-boat-cruises-london">mainstreamleisure.co.uk</a></p>

<p>&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/river/index" class="heading">
                    <h2 id="sub-menu-heading">River<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-bus">About River Bus</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/river/about-river-tours">About River Tours</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/river/woolwich-ferry">Woolwich Ferry</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/the-river-experience">The river experience</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/corporate-and-private-boat-hire">Corporate & private boat hire </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/explore-london-tickets">Explore London tickets</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/stations-stops-and-piers/index" class="plain-button">Stations, stops &amp; piers</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Escape the crowds and discover London at a leisurely pace on a river trip on the Thames. ";}
        
            
        


 