
    
  



@{ViewBag.Title = "The river experience";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/river/the-river-experience";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/river/index">River</a></li>
                
            
            
                <li><span class="last-breadcrumb">The river experience</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The river experience</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The River Thames flows through the heart of London. It has a long history as a conduit for trade and is the perfect way to relax and see the city or to commute in a calm and comfortable environment.
        
      </div>
    
    <div class="on-this-page">
      <p>Discover the historic jewels that London has to offer from the relaxed comfort of a boat on the Thames.</p>

<p>Escape the crowds and see London from a different perspective with a&nbsp;<a href="/modes/river/about-river-tours">River Tour</a>&nbsp;which offer leisurely sightseeing tours, dining cruises and high-thrill rides up the Thames by speedboat. Alternatively, you can explore London on your terms on a&nbsp;<a href="/modes/river/about-river-bus">River Bus&nbsp;</a>. River Buses&nbsp;run from early morning to early evening, or later if there's an event at the O2 in North Greenwich.</p>

<p>Choose your perfect trip and <a href="/fares/find-fares/river-fares">find out how to book tickets</a>.</p>
      
           
      <div>

<h2>Explore the river</h2>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/eight-counties.jpg" alt="Sail through the heart of London on a river trip" />
                <figcaption>
<span class="figure-title">Sail through the heart of London on a river trip</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cable-car.jpg" alt="Choose a boat to Greenwich and then enjoy Emirates Airline" />
                <figcaption>
<span class="figure-title">Choose a boat to Greenwich and then enjoy Emirates Airline</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/symphony-bateaux.jpg" alt="Want a different evening out? Take a dining cruise" />
                <figcaption>
<span class="figure-title">Want a different evening out? Take a dining cruise</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/peachy-silhouette-scene.jpg" alt="Enjoy a morning river trip for amazing views" />
                <figcaption>
<span class="figure-title">Enjoy a morning river trip for amazing views</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/blue-sky-red-boats.jpg" alt="Whizz past Big Ben on a speedboat" />
                <figcaption>
<span class="figure-title">Whizz past Big Ben on a speedboat</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/blue-london-river-scene.jpg" alt="Enjoy views of St Pauls from the river" />
                <figcaption>
<span class="figure-title">Enjoy views of St Pauls from the river</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Things see and do on the river </h2>
<ol>
    <li>
    <h3>Tower of London  </h3>
    </li>
    <p>To get there by river alight at <strong>St Katherine's pier and Tower pier</strong></p>
    <p>Take a tour around the <a href="http://www.hrp.org.uk/tower-of-london/">Tower of London</a> and discover its history as a royal palace, prison and place of execution, arsenal, jewel house and zoo. Tiptoe through a medieval king's bedchamber and marvel at the Crown Jewels.</p>
    <li>
    <h3>The Shard </h3>
    </li>
    <p>To get there by river alight at <strong>London Bridge City pier</strong></p>
    <p>The view from the <a href="http://www.visitlondon.com/things-to-do/place/23886030-shard">Shard</a> is the highest viewing point in western Europe and nearly twice as high as any other view in London. The view provides visitors with 360 degree views for 40 miles across London.    </p>
    <li>
    <h3>The London Eye</h3>
    <p>To get there by river alight at <strong>London Eye pier</strong></p>
    <p>The <a href="https://www.londoneye.com/">London Eye</a> is a major feature of London's skyline. Climb aboard for a breathtaking experience, with an unforgettable perspective of more than 55 of London's most famous landmarks - all in just 30 minutes.</p>
    </li>
    <li>
    <h3>Greenwich and Cutty Sark
    </h3>
    <p>To get there by river alight at <strong>Greenwich pier</strong><br />
    </p>
    <p>Visit the <a href="http://www.visitlondon.com/tag/royal-museums-greenwich">National Maritime Museum</a> - the world's largest maritime museum, see the historic Queen's House, stand astride the Prime Meridian at Royal Observatory Greenwich and explore the famous Cutty Sark: all part of the Royal Museums Greenwich.</p>
    </li>
    <li>
    <h3>Tate Modern </h3>
    </li>
    <p>To get there by river alight at <strong>Bankside pier</strong></p>
    <p>Or use our <strong>Tate to Tate service</strong> on River Bus 2 between Tate Modern and Tate Britain</p>
    <p>Sitting grandly on the banks of the Thames is <a href="http://www.visitlondon.com/things-to-do/place/344410-tate-modern">Tate Modern</a>, Britain's national museum of modern and contemporary art. Inside you'll find temporary exhibitions by top artists from Damien Hirst to Gauguin. Entry is free. </p>
    <li>
    <h3>Tate Britain</h3>
    </li>
    <p>To get there by river alight at <strong>Millbank o</strong>r use our <strong>Tate to Tate service</strong> on River Bus 2 between Tate Modern and Tate Britain</p>
    <p><a href="http://www.visitlondon.com/things-to-do/place/607431-tate-britain">Tate Britain</a> holds the largest collection of British art in the world from 1500 to the present day. You'll find masterpieces by Gainsborough, Hogarth, Millais, Whistler, as well as outstanding modern and contemporary artists. They also have the largest collection of works by JMW Turner in the world.</p>
    <li>
    <h3>Westminster</h3>
    </li>
    <p>To get there by river alight at <strong>Westminster pier</strong></p>
    <p>Be amazed by some of London's most iconic landmarks: <a href="http://www.visitlondon.com/things-to-do/sightseeing/tourist-attraction/big-ben">Big Ben</a> and the <a href="http://www.visitlondon.com/things-to-do/place/401836-houses-of-parliament">Houses of Parliament</a>, followed by a stroll around <a href="http://www.visitlondon.com/things-to-do/place/610825-westminster-abbey">Westminster Abbey</a>, the coronation church of England. Then visit <a href="http://www.visitlondon.com/things-to-do/place/427311-buckingham-palace">Buckingham Palace</a>, the London residence of Her Majesty The Queen.</p>
    <li>
    <h3>The Emirates Air Line </h3>
    </li>
    <p>To get there by river alight at <strong>North Greenwich pier</strong></p>
    <p>Glide above the Thames in the <a href="http://www.tfl.gov.uk/modes/emirates-air-line/">Emirates Air Line</a>, an easy way to get from the Greenwich Peninsula to the Royal Docks with extensive views over London. The cable car trip takes six minutes. The cars, which accommodate 10 people, arrive every 30 seconds. You can use your Oyster card.  </p>
</ol>
<h2>River by night</h2>
<p>Have an evening out in London with a difference and take an evening river cruise. <a href="/modes/river/about-river-bus">River Bus</a> services run into the evening and many <a href="/modes/river/about-river-tours">river tour</a> operators offer evening cruises which include dinner and entertainment.</p>
<p>For a special celebration or event, you could hire a <a href="/modes/river/corporate-and-private-boat-hire">private charter boat</a> and enjoy your very own private cruise of the Thames with friends.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/rivers-intense-pink-eye-night.jpg" alt="Enjoy the views of London from the river at night" />
                <figcaption>
<span class="figure-title">Enjoy the views of London from the river at night</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/st-pauls-night-river.jpg" alt="St Pauls by night, by boat" />
                <figcaption>
<span class="figure-title">St Pauls by night, by boat</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/river-services.jpg" alt="Hire a private charter boat for a party with a difference" />
                <figcaption>
<span class="figure-title">Hire a private charter boat for a party with a difference</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bateaux-london-st-pauls.jpg" alt="Dine by night on the river" />
                <figcaption>
<span class="figure-title">Dine by night on the river</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/pink-eye-river-services.jpg" alt="A variety of boat trips are available in the evening" />
                <figcaption>
<span class="figure-title">A variety of boat trips are available in the evening</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/symphony-bateaux.jpg" alt="Enjoy a Bateaux London dinner cruise on the Symphony" />
                <figcaption>
<span class="figure-title">Enjoy a Bateaux London dinner cruise on the Symphony</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/thames-at-dusk.jpg" alt="The River Thames at dusk" />
                <figcaption>
<span class="figure-title">The River Thames at dusk</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/river/index" class="heading">
                    <h2 id="sub-menu-heading">River<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-bus">About River Bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/about-river-tours">About River Tours</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/woolwich-ferry">Woolwich Ferry</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/river/the-river-experience">The river experience</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/river/corporate-and-private-boat-hire">Corporate & private boat hire </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/river/explore-london-tickets">Explore London tickets</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/river" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/visiting-london/index" class="plain-button">Visiting London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Relax and see London from a River Bus or a tour boat on the Thames";}
        
            
        


 