
    
  



@{ViewBag.Title = "Charity fundraising";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/commercial-opportunities/charity-fundraising";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing">Commercial partnerships and experiential marketing</a></li>
                
            
            
                <li><span class="last-breadcrumb">Charity fundraising</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Charity fundraising</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Charities and their corporate sponsors now have access to a substantial suite of physical and digital TfL assets to boost their fundraising.<BR>
        
      </div>
    
    <div class="on-this-page">
      <p>We've long worked with charities to help them fundraise in our stations free of charge - many charities take advantage of this opportunity every year.</p>
<p>Now we're offering the chance to boost those campaigns. Depending on your brief and budget, our&nbsp; commercial partners and the charities they support&nbsp;benefit from bespoke access to:</p>
<ul>
    <li>World-famous intellectual property</li>
    <li>An extensive network of experiential sites</li>
    <li>Press, social media and digital support</li>
    <li>Unique filming and photography locations</li>
</ul>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/poppy-day-train.jpg" alt="Wrapped underground carriage: Poppy Day" />
                <figcaption>
<span class="figure-title">Wrapped underground carriage: Poppy Day</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/buxton-water-roundel.jpg" alt="London Marathon sponsor Buxton Water renamed Canada Water Underground Station 'Buxton Water' on Marathon Day" />
                <figcaption>
<span class="figure-title">London Marathon sponsor Buxton Water renamed Canada Water Underground Station 'Buxton Water' on Marathon Day</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/canary-wharf-poppies.jpg" alt="Canary Wharf Station entrance vinyl: Poppy Day" />
                <figcaption>
<span class="figure-title">Canary Wharf Station entrance vinyl: Poppy Day</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/help-for-heroes.jpg" alt="" />
                <figcaption>

<span class="figure-description">Help for Heroes: Tottenham Court Road station</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/race-for-life-handouts.jpg" alt="Experiential site Waterloo station: Cancer Research UK" />
                <figcaption>
<span class="figure-title">Experiential site Waterloo station: Cancer Research UK</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/race-for-live-tube-train-wrap.jpg" alt="Wrapped underground carriage: Race for Life" />
                <figcaption>
<span class="figure-title">Wrapped underground carriage: Race for Life</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
<div>




<p>We work with brands and agencies to tailor bespoke campaigns, large and small which attract our customers and make their journeys engaging and fun.</p>
<p>We also ensure that our customers' experience of every campaign meets each brand's specific business objectives.</p>
<p>Examples of successful and award winning TfL Commercial Partnerships are in Driving London's Happiness.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/driving-londons-happiness.pdf">
    <div class="document-download-text">
        <p>Driving London's happiness - our commercial partnership lookbook</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/driving-londons-happiness-img.png" alt="Driving London happiness" />
    </div>

</a>

<!-- 3.00 -->
 
</div>

</div>
 <div>

<p>To find out how we can help you supercharge your charity fundraising efforts, please email <a href="mailto:commercialpartnerships&#64;tfl.gov.uk">commercialpartnerships&#64;tfl.gov.uk</a>&nbsp;or call us on 020 3054 4570 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>).</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing" class="heading">
                    <h2 id="sub-menu-heading">Commercial partnerships and experiential marketing<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">How to work with us</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnership-opportunities">Commercial partnership opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships---transparency">Transparency policy on commercial partnerships</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/charity-fundraising">Charity fundraising</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL physical and digital assets can supercharge your charity campaign";}
        
            
        


 