
    
  



@{ViewBag.Title = "Retiming deliveries";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-efficiently/retiming-deliveries";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></li>
                
            
            
                <li><span class="last-breadcrumb">Retiming deliveries</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Retiming deliveries</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Retiming deliveries is about changing the times you make or receive deliveries, collections and servicing - to a time that works for you, your business, your suppliers and your customers.
        
      </div>
    
    <div class="on-this-page">
      <p>Since 2015, our retiming deliveries programme has helped to retime businesses at over 500 sites, moving 166,000 deliveries out of the peak times each year. These ranged from large national organisations to small high street businesses in the retail, hospitality and servicing sectors. Working with local authorities, we achieved benefits felt by not only the businesses but the wider community.<br />
&nbsp;</p>
      
           
        <div class="did-you-know-box">
    
        <h2 class="did-you-know-header"><span class="blue-span">Did you know?</span></h2>
        <div>
            More than 90% of London's freight is transported by road. In the morning peak (07:00-10:00) deliveries and servicing vehicles account for about one-third of all traffic. Avoiding these times can benefit businesses and the local area
            <a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">Find out more</a>
        </div>
    </div>
   

 
 <div>

<h2>Benefits of retiming for business</h2>

<p><strong>Efficient operations</strong></p>

<p>More reliable delivery patterns as journeys are less likely to be delayed by congestion, letting you plan the working day more effectively.</p>

<p>Using vehicles around the clock improves efficiency and reduces the number of vehicles needed.</p>

<p>One major food service provider has reduced its HGV fleet by 18 vehicles across the UK by consolidating loads and retiming deliveries.</p>

<h4>Cost savings</h4>

<p>Fewer Penalty Charge Notices and related administration costs by delivering at times when restrictions do not apply.</p>

<p>The central London <a href="/modes/driving/congestion-charge/congestion-charge-zone">Congestion Charge zone</a> operates Monday to Friday from&nbsp; 07:00 to 18:00. Delivering outside these times can cut costs by &pound;11.50 per vehicle per day.</p>

<p>Changing delivery times to avoid congestion can cut journey times by up to 18.5% and make timings more reliable.</p>

<h4>Corporate social responsibility</h4>

<p>By working to reduce your environmental footprint and help improve air quality, you may see improvements in brand image, reputation and customer loyalty.</p>
</div>
   <div class="pull-quote">
    
        <div class="quote-body">"We have both customers and members who live in close proximity to our stores. As such we are focused on our environmental impact, whether it is emissions or noise, and we review how we can improve and reduce our impact on those neighbours. This means identifying the environmental factors affecting our deliveries and limiting the impact of what can be a noisy activity when unloading or loading cages
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Co-Op</div>
            
        </div>
    </div>
   

 
 <div>

<h2>Local area benefits</h2>

<h4>Congestion and air quality</h4>

<p>HGVs and vans make up around 35% of all road-based NOx emissions in Greater London. Congestion is a major contributor and using off-peak times when roads are less congested can reduce the environmental impacts of freight.</p>

<p>One business achieved a 30% reduction in CO2 emissions and a 30-minute saving each way in journey time by retiming two premises one hour earlier.</p>

<h4>Safety</h4>

<p>Deliveries and servicing vehicles travelling outside peak times are less likely to be involved in an incident with vulnerable road users.</p>

<h2>Getting the timing right</h2>

<h4>Working with your local authority</h4>

<p>A number of site-specific situations like planning conditions or noise abatement notices may impact your ability to retime, so it's important to work with your local authority to come to a solution.</p>

<p>To find out if any of these restrictions apply to you or for information on how to change them, contact your local authority.</p>
</div>
   <div class="pull-quote">
    
        <div class="quote-body">"Using a trial period, we successfully changed a planning condition for delivery times and can now service our client's restaurant out of hours. This change has now been made permanent
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Martin Brower</div>
            
        </div>
    </div>
   

 
 <div>

<h2>Enabling quiet deliveries</h2>
<p>Key to retiming your deliveries outside of peak times is the ability to complete your logistics with minimal noise impact to your neighbours. The tools below have been developed to help you assess and plan your noise footprint and mitigate its impact on others.</p>
<ul>
    <li>Conduct a comprehensive <a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">site assessment</a></li>
    <li><a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">Carry out a noise assessment</a> to better understand the impact your activity may have on an area. You could also consider a professional body like the <a href="http://noiseabatementsociety.com/">Noise Abatement Society</a> to conduct a noise assessment on your behalf</li>
    <li>Create <a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">a noise management plan</a> (NMP) to assist businesses, regulators and local residents to understand how noise impacts will be managed and controlled</li>
</ul>
<h3>Investing in quiet equipment and staff training</h3>
<p>To assist you in making the transition out of the peak times, we have developed a number of tools in collaboration with the Retiming Deliveries Consortium to ensure minimal disturbance to the community by reducing noise.</p>
<h3>Code of Practice</h3>
<p>We have developed a <a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">Code of Practice</a> to help organisations manage quieter delivery, collection and servicing activity.</p>
<h3>Quiet equipment matrix</h3>
<p>Our quiet equipment guide is an easy to use reference which outlines the quiet equipment and technology currently available to businesses and fleet operators to help minimise delivery related noise. Find out more about the <a href="https://www.fors-online.org.uk/cms/quiet-equipment/">quiet equipment matrix</a>.</p>
<h3>Online Training</h3>
<p>An <a href="http://www.professionalcommunities.org.uk/enrol/index.php?id=48">online training course</a> aims to educate staff on noise, its impact and best practice in receiving and delivering goods. This training is free to access, however sign-up is required.</p>
<h3>Quiet buildings guidance</h3>
<p>A <a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">guide</a> has been compiled with input from industry on best practice for developments and to ensure quiet deliveries are possible.  This guide is intended for architects, developers and local authorities and provides a list of potential measures that can be implemented to help mitigate against noise, through better building design, planning and infrastructure.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="AGaRyVmnZQA" data-video-caption="Retiming deliveries"></li>
  
  </ul>
</div>
</div>
 <div>

<h4>Contacts</h4>

<p>For assistance with noise or completing a professional noise assessment visit the <a href="http://noiseabatementsociety.com/">Noise Abatement Society</a> website.</p>

<p>It's important to work with your local authority when trying to retime deliveries. For more information visit your <a href="https://www.gov.uk/find-local-council">local authority's website</a>.</p>

<h4>Further tools to calculate potential savings</h4>

<p>Find out about measuring and reporting on environmental impacts, including greenhouse gas emissions on the <a href="https://www.gov.uk/guidance/measuring-and-reporting-environmental-impacts-guidance-for-businesses">government's website</a>.</p>

<h4>FTA user guide</h4>

<p>Find out about road freight conversion factors&nbsp;on the <a href="http://www.fta.co.uk/">Freight Transport Association's website</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                <a href="/info-for/deliveries-in-london/delivering-efficiently" class="heading">
                    <h2 id="sub-menu-heading">Efficient deliveries<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently/consolidating-deliveries">Reducing deliveries and servicing visits</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently/retiming-deliveries">Retiming deliveries</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">Deliveries toolkits</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Working with your suppliers and customers to avoid busy delivery/collection times can bring safety, environmental and social benefits";}
        
            
        


 