
    
  



@{ViewBag.Title = "16+ Zip Oyster photocard";}
@{ViewBag.Keywords = "TfL,16-17, 16 Zip, 17 Zip, 16 Oyster, 17 Oyster, Zip Oysters, children, under 18";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">16+ Zip Oyster photocard</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>16+ Zip Oyster photocard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Children aged 16-17 can get free and discounted travel on all our transport services with a Zip Oyster photocard.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/16-plus-zip-card_rdax_400x250.jpg" alt="image of 16 plus oyster zip card" />
        
        
        
    </div>
    <h2>Benefits&nbsp;</h2>

<ul>
	<li>50% off adult pay as you go fares on bus, Tube, DLR, London Overground, TfL Rail (excluding between West Drayton and Reading) and most National Rail services in London</li>
	<li>If you live in London, you get free travel on buses and trams</li>
	<li>Child rate 7 Day, Monthly or longer period <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard</a> and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus &amp; Tram Pass</a></li>
</ul>

<h2>Who is it for?</h2>

<p>Children aged 16 and 17 can get a 16+ Zip Oyster photocard.</p>

<p>If your child is 16 now but was 15 on 31 August, they can still apply for and use an <a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocard</a>.</p>

<p>Adults who live in a <a href="https://directory.londoncouncils.gov.uk/">London borough </a>who were 18 on 31 August and in full-time education, can apply for a 16+ Zip Oyster photocard to get free travel on buses and trams.</p>

<h2>How to apply</h2>

<p>A parent or guardian must apply for a 16+ Zip Oyster photocard if their child is under 18.</p>

<p>If you're 18, you must apply for your 16+ Zip Oyster photocard and create your own <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">photocard web account</a>.</p>

<p>When you apply, you agree that you or the Zip Oyster photocard holder will comply with our <a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Young Person's Behaviour Code</a>. If you or the photocard holder doesn't, we can withdraw the photocard.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-plus-zip-oyster-photocard-terms-and-conditions.pdf">
    <div class="document-download-text">
        <p>16+ Zip Oyster photocard terms and conditions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 301KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 
</div>

</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="5tu7mMA8rd0" data-video-caption="Apply online for a Zip Oyster"></li>
  
  </ul>
</div>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="i-live-in-a-london-borough-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="16+ Zip Oyster photocard-I live in a London borough"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="i-live-in-a-london-borough-heading" class="accordion-heading">I live in a London borough</div>
            </div>
            <div id="i-live-in-a-london-borough-content" class="start-hidden" role="region" aria-labelledby="i-live-in-a-london-borough-heading">

<div>

<h3>Under 18</h3>

<p>To <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a>, you need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>A scanned colour image of your child' machine readable passport. This must be in .png or&nbsp;.jpg format and be less than 6MB. The image must show the photo, personal details and passport number</li>
	<li>Details from your child's machine-readable passport to verify their identity (If you can't provide this, follow the instructions online. You'll need to go a Post Office to complete your application.)</li>
	<li><a href="https://www.passport.service.gov.uk/help/photo-rules">Digital photo&nbsp;</a>of your child which must be a .jpg, .bmp or .gif file and less than 6MB</li>
</ul>

<p>If you have a <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a> for a non-Zip Oyster photocard, you need to use a different email address to create a <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">photocard web account</a>.</p>

<p>You pay an administration fee of &pound;20 using a credit or debit card.</p>

<p>We'll post your 16+ Zip Oyster photocard to you within one week of applying.</p>

<h3>Aged 18</h3>

<p>If you were 18 on 31 August, you need to prove you're in full-time education by meeting all of this criteria:</p>

<ol>
	<li>At least 12 hours of guided learning per week, between 09:00 and 17:00, Monday to Friday</li>
	<li>At least 10 weeks on a further education course at <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">Level 3</a>, including apprenticeships and courses funded by the Education Funding Agency</li>
	<li>In a sixth form college, academy, further education college or other training provider</li>
</ol>

<p>Your educational institution can confirm if your course qualifies.</p>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> for your 16+ Zip Oyster photocard using your own photocard web account.</p>

<p>Download and print a verification letter. Then get it endorsed by your educational institution to prove you're in full-time education.</p>

<p>Take your verification letter to a <a href="https://www.royalmail.com/branch-finder">Post Office</a>. You need to provide:</p>

<ul>
	<li>Proof of your age using either an original valid passport, ID card from a European Economic Area country, a birth certificate, current full UK driving or provisional license or a Biometric Residency Permit</li>
	<li>Proof of address using either a residential utility bill (from last three months), bank, building society or credit card statement (from last three months), current council tax bill, current council or Housing Association rent book or statement, or a current driving license</li>
</ul>

<p>You pay an administration fee of &pound;20 using a credit or debit card.</p>

<p>We'll post your 16+ Zip Oyster photocard to you within one week of applying.</p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="i-live-in-the-uk-but-outside-london-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="16+ Zip Oyster photocard-I live in the UK but outside London"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="i-live-in-the-uk-but-outside-london-heading" class="accordion-heading">I live in the UK but outside London</div>
            </div>
            <div id="i-live-in-the-uk-but-outside-london-content" class="start-hidden" role="region" aria-labelledby="i-live-in-the-uk-but-outside-london-heading">

<div>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> and need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>A scanned colour image of your child' machine readable passport. This must be in .png or .jpg format and be less than 6MB. The image must show the photo, personal details and passport number</li>
	<li>Details from your child's machine-readable passport to verify their identity (if you don't have one, you must apply four weeks in advance)</li>
	<li><a href="https://www.passport.service.gov.uk/help/photo-rules">Digital photo</a>&nbsp;of your child which must be a .jpg, .bmp or .gif file and less than 6MB</li>
</ul>

<p>You pay an administration fee of &pound;20 using a credit or debit card.</p>

<p>If we can verify your child's identity online, we'll post their 16+ Zip Oyster photocard within one week of applying.</p>

<p>If we can't, you'll need to take proof of identity to collect their 16+ Zip Oyster photocard from a <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centre</a>.</p>

<h3>Collect from a Visitor Centre</h3>

<p>You need to apply four weeks in advance to collect a Zip Oyster from a <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centre</a>.</p>

<p>We'll email you when your application is complete, and you can choose which Visitor Centre to collect from.</p>

<p>Bring your application complete email with you and provide one of the following:</p>

<ul>
	<li>Valid passport</li>
	<li>ID card from a European Economic Area country</li>
	<li>Birth certificate</li>
</ul>

<p>If you need to change the photo on your 16+ Zip Oyster photocard, your collection date may change.</p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="i-live-outside-the-uk-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="16+ Zip Oyster photocard-I live outside the UK"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="i-live-outside-the-uk-heading" class="accordion-heading">I live outside the UK</div>
            </div>
            <div id="i-live-outside-the-uk-content" class="start-hidden" role="region" aria-labelledby="i-live-outside-the-uk-heading">

<div>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> and need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>A scanned colour image of your child' machine readable passport. This must be in .png or .jpg format and be less than 6MB. The image must show the photo, personal details and passport number</li>
	<li><a href="https://www.passport.service.gov.uk/help/photo-rules">Digital photo</a>&nbsp;of your child which must be a .jpg, .bmp or .gif file and less than 6MB</li>
	<li>Credit or debit card to pay an administration fee of &pound;20</li>
</ul>

<p>We'll email you when your application is complete and you can then collect your 16+ Zip Oyster photocard from a <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centre</a>.</p>

<h3>Collect from a Visitor Centre</h3>

<p>You need to apply four weeks in advance to collect a Zip Oyster from a <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centre</a>.</p>

<p>We'll email you when your application is complete, and you can choose which Visitor Centre to collect from.</p>

<p>You provide:</p>

<ul>
	<li>Application complete email</li>
	<li>Proof of your child's identity using either an original valid passport, ID card from a European Economic Area country or birth certificate</li>
</ul>

<p>If you need to change the photo on your 16+ Zip Oyster photocard, your collection date may change.</p>
</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>How to use</h2>
<p>Once you get your 16+ Zip Oyster photocard, you can use it straight away.</p>
<p>Make sure you <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a> at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end on yellow card readers. You only need to touch in on buses and trams.</p>
<p>Use your <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">photocard web account</a> to manage your card or report a lost card.</p>
<h2>Expiry</h2>
<h3>I live in a London borough</h3>
<p>Your 16+ Zip Oyster photocard expires on 30 September in the year after your 18th birthday.</p>
<p>If you apply for your card between 1 August and 31 July 2019, it will expire on these dates:</p>
</div>
 

<div class="table-container"><table>
    <tbody>
        <tr>
            <td> <strong>Age on 31 August 2018</strong></td>
            <td> <strong>Expiry date</strong></td>
        </tr>
        <tr>
            <td> 16</td>
            <td> 30 September 2020</td>
        </tr>
        <tr>
            <td> 17</td>
            <td> 30 September 2019</td>
        </tr>
        <tr>
            <td> 18</td>
            <td> 30 September 2019</td>
        </tr>
    </tbody>
</table></div>
<p>If you're over 18, in full-time education and live in a <a href="https://directory.londoncouncils.gov.uk/">London borough</a> during term time, or on a mandatory work placement, you may be eligible for an <a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a>.</p>
<h3>I don't live in London</h3>
<p>Your 16+ Zip Oyster photocard expires the day before your 18th birthday.</p>
<h2>Related content</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/lost-stolen-or-damaged-oyster-photocard">Lost, stolen or damaged Oyster photocard</a></li>
    <li><a href="/fares/refunds-and-replacements/faulty-oyster-photocard">Faulty Oyster photocard</a></li>
    <li><a href="/fares/refunds-and-replacements/new-photo-needed-on-an-oyster-photocard">New photo needed on an Oyster photocard</a></li>
</ul>

 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Photocard web account</h3>
    <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do" class="primary-button">Sign in</a>
    <p>Apply for photocards and manage your account</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Children aged 16-17 can get free and discounted travel on all our transport with a Zip Oyster photocard.";}
        
            
        


 