
    
  



@{ViewBag.Title = "5-10 Zip Oyster photocards";}
@{ViewBag.Keywords = "TfL,Zip, Oyster, 5-10, free travel, children, travelling with children";}
@{ViewBag.Url = "/fares/free-and-discounted-travel/5-10-zip-oyster-photocard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/free-and-discounted-travel">Free and discounted travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">5-10 Zip Oyster photocards</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>5-10 Zip Oyster photocards</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Children aged 5-10 get free travel on all our transport services with a Zip Oyster photocard.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/5-10-oyster-photocard_rdax_400x250.jpg" alt="5-10 Zip Oyster photocard" />
        
        
        
    </div>
    <h2>Benefits</h2>

<ul>
	<li>Free travel on Tube, DLR, London Overground and TfL Rail (excluding between West Drayton and Reading)</li>
	<li>Free travel on most <a href="/cdn/static/cms/documents/free-travel-areas-without-oyster-adult-accompanying-map.pdf">National Rail services</a>&nbsp;that accept pay as you go</li>
	<li>50% off adult rate tickets on the <a href="/modes/river/about-river-bus">Thames Clippers River Bus services</a></li>
	<li>Pay as you go at a child rate&nbsp;on the&nbsp;<a href="/modes/emirates-air-line/index">Emirates Air Line</a></li>
</ul>

<h2>Who is it for?</h2>

<p>Children aged 5-10 can use a 5-10 Zip Oyster photocard.</p>

<h3>When you don't need a 5-10 Zip Oyster photocard</h3>

<p>Your child doesn't need a photocard to:</p>

<ul>
	<li>Travel free on buses and trams</li>
	<li>Buy child-rate paper tickets (unless they look older than 10)</li>
	<li>Travel accompanied by an adult on Tube, DLR, London Overground, TfL Rail and <a href="/cdn/static/cms/documents/free-travel-areas-without-oyster-adult-accompanying-map.pdf">some National Rail services</a></li>
</ul>

<h2>How to apply</h2>

<p>A parent or guardian must apply for a 5-10 Zip Oyster photocard.</p>

<p>When you apply, you agree that Zip Oyster photocard holders will comply with our <a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Young Person's Behaviour Code</a>. If they don't, we can withdraw their photocard.</p>
 </div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="5tu7mMA8rd0" data-video-caption="Apply online for a Zip Oyster"></li>
  
  </ul>
</div>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="i-live-in-a-london-borough-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="5-10 Zip Oyster photocards-I live in a London borough"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="i-live-in-a-london-borough-heading" class="accordion-heading">I live in a London borough</div>
            </div>
            <div id="i-live-in-a-london-borough-content" class="start-hidden" role="region" aria-labelledby="i-live-in-a-london-borough-heading">

<div>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> and need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>A scanned colour image of your child' machine readable passport. This must be in .png or .jpg format and be less than&nbsp;6MB in size. The image must show the photo, personal details and passport number</li>
	<li>Details from your child's machine-readable passport to verify their identity (If you can't provide this, follow the instructions online. You'll need to go a Post Office to complete your application.)</li>
	<li><a href="https://www.passport.service.gov.uk/help/photo-rules">Digital photo</a>&nbsp;of your child which must be a .jpg, .bmp or .gif file and less than 6MB</li>
</ul>

<p>If you have a <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a> for a non-Zip Oyster photocard, you need to use a different email address to create a <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">photocard web account</a>.</p>

<p>You pay an administration fee of &pound;10 using a credit or debit card.</p>

<p>We'll post your 5-10 Zip Oyster photocard to you within one week of applying.</p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="i-live-in-the-uk-but-outside-london-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="5-10 Zip Oyster photocards-I live in the UK but outside London"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="i-live-in-the-uk-but-outside-london-heading" class="accordion-heading">I live in the UK but outside London</div>
            </div>
            <div id="i-live-in-the-uk-but-outside-london-content" class="start-hidden" role="region" aria-labelledby="i-live-in-the-uk-but-outside-london-heading">

<div>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> and need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>A scanned colour image of your child' machine readable passport. This must be in&nbsp;.png or&nbsp;.jpg format and be less than 6MB. The image must show the photo, personal details and passport number</li>
	<li>Details from your child's machine-readable passport to verify their identity (if you don't have one, you must apply four weeks in advance)</li>
	<li><a href="https://www.passport.service.gov.uk/help/photo-rules">Digital photo</a>&nbsp;of your child which must be a .jpg, .bmp or .gif file and less than 6MB</li>
</ul>

<p>You pay an administration fee of &pound;10 using a credit or debit card.</p>

<p>If we can verify your child's identity online, we'll post their 5-10 Zip Oyster photocard within one week of applying.</p>

<p>If we can't, you'll need to take proof of identity to collect their 5-10 Zip Oyster photocard from a <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centre</a>.</p>

<h3>Collect from a Visitor Centre</h3>

<p>You need to apply four weeks in advance to collect a Zip Oyster from a <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centre</a>.</p>

<p>We'll email you when your application is complete, and you can choose which Visitor Centre to collect from.</p>

<p>Bring your application complete email with you and provide one of the following to prove your child's identity:</p>

<ul>
	<li>Valid passport</li>
	<li>ID card from a European Economic Area country</li>
	<li>Birth certificate</li>
</ul>

<p>If you need to change the photo on your 5-10 Zip Oyster photocard, your collection date may change.</p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="i-live-outside-the-uk-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="5-10 Zip Oyster photocards-I live outside the UK"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="i-live-outside-the-uk-heading" class="accordion-heading">I live outside the UK</div>
            </div>
            <div id="i-live-outside-the-uk-content" class="start-hidden" role="region" aria-labelledby="i-live-outside-the-uk-heading">

<div>

<p>You <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">apply online</a> four weeks in advance and need to provide:</p>

<ul>
	<li>Active email address</li>
	<li>A scanned colour image of your child' machine readable passport. This must be in .png or .jpg format and be less than 6MB. The image must show the photo, personal details and passport number</li>
	<li><a href="https://www.passport.service.gov.uk/help/photo-rules">Digital photo</a> of your child which must be a .jpg, .bmp or .gif file and less than 6MB</li>
	<li>Credit or debit card to pay an administration fee of &pound;10</li>
</ul>

<p>We'll email you when your application is complete, and you can then collect your 5-10 Zip Oyster photocard from a <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centre</a>.</p>

<h3>Collect from a Visitor Centre</h3>

<p>You need to apply four weeks in advance to collect a Zip Oyster from a <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centre</a>.</p>

<p>We'll email you when your application is complete, and you can choose which Visitor Centre to collect from.</p>

<p>You need to provide:</p>

<ul>
	<li>Application complete email</li>
	<li>Proof of your child's identity using either an original valid passport, ID card from a European Economic Area country or birth certificate</li>
</ul>

<p>If you need to change the photo on your 5-10 Zip Oyster photocard, your collection date may change.</p>
</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>How to use&nbsp;</h2>

<p>Once you get your 5-10 Zip Oyster photocard, you can use it straight away.</p>

<p>Make sure you <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch in</a> at the start of your journey and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">touch out</a> at the end on yellow card readers. You only need to touch in on buses and trams.</p>

<p>Use your <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do">photocard web account</a> to manage your card or report a lost card.</p>

<h2>Expiry</h2>

<p>5-10 Zip Oyster photocards expire the day before a child's 11th birthday.</p>

<p>You can then apply for an <a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocard</a>.</p>

<h2>Travelling with&nbsp;a discounted&nbsp;Day Travelcard</h2>

<p>Children aged 5-15 can get a discounted&nbsp;Off-Peak Zones 1-6 or&nbsp;1-9 Day <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard</a>,&nbsp;when accompanied by an adult buying a discounted Off-Peak Zones 1-6 or 1-9 Day Travelcard at a ticket machine,&nbsp;using a valid:</p>

<ul>
	<li><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card</a></li>
	<li><a href="https://www.network-railcard.co.uk/">Network Railcard</a></li>
	<li><a href="https://www.familyandfriends-railcard.co.uk/">Family and Friends Railcard</a></li>
	<li><a href="https://www.hmforces-railcard.co.uk/">HM Forces Railcard</a></li>
</ul>

<p>When travelling, you must accompany children whilst using your discounted Off-Peak Day Travelcard.</p>

<p>To buy&nbsp;a discounted Off-Peak&nbsp;Day Travelcard&nbsp;at London Overground, TfL Rail, National Rail Station ticket office&nbsp;or Visitor Centre, you must show your Railcard or Annual Gold Card to staff.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/refunds-and-replacements/faulty-oyster-photocard">Lost, stolen or damaged Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/faulty-oyster-photocard">Faulty Oyster photocard</a></li>
	<li><a href="/fares/refunds-and-replacements/new-photo-needed-on-an-oyster-photocard">New photo needed on an Oyster photocard</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Photocard web account</h3>
    <a href="https://photocard.tfl.gov.uk/tfl/showLogon.do" class="primary-button">Sign in</a>
    <p>Apply for photocards and manage your account</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/fares/free-and-discounted-travel" class="heading">
                    <h2 id="sub-menu-heading">Free and discounted travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/5-10-zip-oyster-photocard">5-10 Zip Oyster photocards</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">11-15 Zip Oyster photocards</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/16-plus-zip-oyster-photocard">16+ Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/travel-for-schools">Travel for schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/rules-of-travel-for-under-18s">Rules of travel for under 18s</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/18-plus-student-oyster-photocard">18+ Student Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/apprentice-oyster-photocard">Apprentice Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/60-plus-oyster-photocard">60+ London Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/freedom-pass">Freedom Pass</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/veterans-oyster-photocard">Veterans Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/national-railcard-discount">National Railcard discounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/annual-gold-card-discount">Annual Gold Card discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/jobcentre-plus-travel-discount">Jobcentre Plus Travel Discount</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/free-and-discounted-travel/bus-and-tram-discount">Bus & Tram Discount photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Children aged 5-10 get free travel on all our transport services with a Zip Oyster photocard";}
        
            
        


 