
    
  


<!-- rhroot -->
@{ViewBag.Title = "RedDot training - content";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/reddot-training---content";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">RedDot training - content</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>RedDot training - content</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This is the Page intro field. You can enter up to 350 characters here, including spaces, although usually it's only 1-2 concise sentences. DO NOT ENTER line breaks - they will break the page. You won't be able to add links, bolding, bullet points or other styling.
        
      </div>
    
    <div class="on-this-page">
      <p>This is the body content area.</p>

<p>Use the 'T' symbol above to paste in content, the link&nbsp;symbol to create links, the B to bold&nbsp;and the bullet tool to - well, you get the idea...</p>

<p>Source view will show you the HTML, but you need to be back on this view to save your changes.</p>

<p>To create a heading, Select Heading 2 or Heading 3 from&nbsp;the drop down under Normal.</p>

<h2>Heading 2</h2>

<p>Links:</p>

<p><a href="/corporate/about-tfl/the-mayors-transport-strategy">This is an internal link.</a></p>

<p>A link to the <a href="http://www.cnn.com">CNN website</a>.</p>

<p><a href="mailto:filmoffice&#64;tfl.gov.uk">filmoffice&#64;tfl.gov.uk</a></p>

<h3>Heading 3</h3>

<h4>Heading 4 looks just like bolded text</h4>

<p>You can only add text to this area - to add an image for the text to wrap around you need a specific module.</p>

<p>To see your page on staging, go to <a href="https://bronte.online.tfl.gov.uk/campaign/training-1">https://bronte.online.tfl.gov.uk/campaign/training-1</a></p>

<p><strong>Bold text here</strong></p>

<ul>
	<li>Bullet one</li>
	<li>Bullet two</li>
</ul>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/training-test-train.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/xxx-flower-for-image-test_rdax_400x250.jpg" alt="lovely flowers" />
        
        
        
    </div>
    <p>testing for release</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/xxx-flower-for-image-test_rdax_400x250.jpg" alt="lovely flowers" />
        
        
        
    </div>
    <p>Use this module if you want an image at the top - you can't add images to the body content.</p>

<p>Just give yourself some text that will wrap around this image.</p>

<p>It should display to the right when you see it on staging or on live (don't change the default alignment from 'Right').&nbsp;But inside RedDot it displays underneath the image.</p>
 </div>
 <div>

<p>CAN YOU SEE THIS CONTENT ON YOUR LOGIN?</p>

<p>This is my first draft.</p>

<p>This is my change.</p>

<p>And a subsequent change.</p>

<p>Final change...</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>This is the document link text that will display - Plain English please!</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!--  -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/example-document-with-plain-english-title.docx">
    <div class="document-download-text">
        <p>Plain English document title</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 12KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="Z3Q0FZUKHkY" data-video-caption="New Tube for London"></li>
  
  </ul>
</div>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/13croydon_rdax_400x250.jpg" alt="The Library" />
        <span class="caption">CAPTION - DOES THIS DISPLAY?</span>
        
        
    </div>
    
 </div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/1986-2016-30-poems-logo.gif" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/033988-gloucester-road-culture.jpg.jpg" alt="Image for RedDot" />
                <figcaption>
<span class="figure-title">Image for RedDot</span>
<span class="figure-description">Gloucester Road station</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/campaign/reddot-training---content" class="heading">
                    <h2 id="sub-menu-heading">RedDot training - content<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/campaign/training-1">Training 1</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-2">Training 2</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-3">Training 3</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-4">Training 4</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-5">Training 5</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-6">Training 6</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-7">Training 7</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-8">Training 8</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-9">Training 9</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-10">Training 10</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-11">Training 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/campaign/training-12">Training 12</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/60373.htm" class="plain-button">A316 London Road</a>
<a href="/corporate/about-tfl/the-mayors-transport-strategy" class="plain-button">MTS</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="/campaign/diversity-advertising-competition" class="plain-button">Second link</a>
<a href="https://edition.cnn.com/" class="plain-button">MTS</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Standard content page reserved for RedDot training";}
        
            
        


 