
    
  



@{ViewBag.Title = "See the sights";}
@{ViewBag.Keywords = "Visitors,TfL";}
@{ViewBag.Url = "/campaign/see-the-sights";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">See the sights</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>See the sights</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Walking is a great way to see London's most famous landmarks and attractions.
        
      </div>
    
    <div class="on-this-page">
      <p>Why not explore the sights of London by doing one of the self-guided walks below? Each of the walks is clearly marked and can be easily accessed by public transport. There are handy information packs available with maps, written directions and interesting facts about the sights you will see on the way.</p>
<p>These walks form part of the Walk London Network and cover many of London's most famous tourist attractions- from Buckingham Palace and the Houses of Parliament- to iconic landmarks such as Trafalgar Square and Tower Bridge.</p>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-southbank-image.jpg" alt="Southbank and West End" />
                <figcaption>
<span class="figure-title">Southbank and West End</span>
<span class="figure-description">The London Eye</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-bankside-and-the-ci.jpg" alt="Bankside and the City" />
                <figcaption>
<span class="figure-title">Bankside and the City</span>
<span class="figure-description">Tate Modern </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-the-city2-image.jpg" alt="The City" />
                <figcaption>
<span class="figure-title">The City</span>
<span class="figure-description">The Gherkin and City skyscrapers</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-bloomsbury-and-holb.jpg" alt="Bloomsbury and Holborn" />
                <figcaption>
<span class="figure-title">Bloomsbury and Holborn</span>
<span class="figure-description">The British Museum</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-palaces-and-little-.jpg" alt="The palaces and Little Venice" />
                <figcaption>
<span class="figure-title">The palaces and Little Venice</span>
<span class="figure-description">Kensington Palace</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-little-venice-to-ca.jpg" alt="Little Venice to Camden Lock" />
                <figcaption>
<span class="figure-title">Little Venice to Camden Lock</span>
<span class="figure-description">A canal boat near Regents Park</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-greenwich-to-tower-.jpg" alt="Greenwich to Tower Bridge" />
                <figcaption>
<span class="figure-title">Greenwich to Tower Bridge</span>
<span class="figure-description">The National Maritime Museum</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-richmond-image.jpg" alt="Wimbledon Park to Richmond Bridge" />
                <figcaption>
<span class="figure-title">Wimbledon Park to Richmond Bridge</span>
<span class="figure-description">Richmond</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/picture-9.jpg" alt="Thames Path north" />
                <figcaption>
<span class="figure-title">Thames Path north</span>
<span class="figure-description">See the Houses of Parliament and Big Ben</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-thames2-image.jpg" alt="Thames Path south" />
                <figcaption>
<span class="figure-title">Thames Path south</span>
<span class="figure-description">Boats moored in St Katherine Harbour, Docklands</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-westminster-and-st-.jpg" alt="Westminster and St James' Park" />
                <figcaption>
<span class="figure-title">Westminster and St James' Park</span>
<span class="figure-description">Buckingham Palace and Queen Victoria Monument</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h3>Southbank and West End </h3>
<p>A circular walk through the heart of London with connections to many of the city's main tourist attractions. <br />
<br />
Key sights include: The Mall, Parliament Square, Westminster Abbey, Houses of Parliament, London Eye, Southbank and the Royal Festival Hall, Tate Modern, St Paul's Cathedral, The Royal Opera House, The National Portrait Gallery. <br />
<br />
This is the <a href="/modes/walking/western-loop-walk">Western Loop</a>, part of the Jubilee Walkway walk. <br /></p>
<h3>Bankside and the City</h3>
<p>See some of London's most iconic buildings and sights. </p>
<p>Key sights include: HMS Belfast, Tower Bridge, Monument, Mansion House, Shakespeare's Globe, Tate Modern. </p>
<p>This is the <a href="/modes/walking/eastern-loop-walk">Eastern Loop</a>, part of the Jubilee Walkway walk. <br /></p>
<h3>The City</h3>
<p>Get a real insight into city life. </p>
<p>Key sights include: St Paul's Cathedral, the Museum of London, the Barbican, Guildhall Art Gallery, Girdlers' Hall. </p>
<p>This is the <a href="/modes/walking/the-city-loop">City Loop</a>, part of the Jubilee Walkway walk. <br /></p>
<h3>Bloomsbury and Holborn</h3>
<p>This route passes through many beautiful terraces, squares and crescents built during the 18th century.</p>
<p>Key sights include: Bedford Row, the Brunswick Centre, the British Museum, Sicilian Avenue, Southampton Row, Sir John Soane's Museum, the British Library. </p>
<p>This is the <a href="/modes/walking/the-camden-loop">Camden Loop</a>, part of the Jubilee Walkway walk. <br /></p>
<h3>Westminster and St James'</h3>
<p>Monarchy and government are the main features of this route. See some of London's most iconic buildings. </p>
<p>Key sights include: Trafalgar Square, Admiralty Arch, The Mall, St James's Park, Buckingham Palace, Parliament Square, Westminster Abbey, Houses of Parliament. </p>
<p>This is the <a href="/modes/walking/the-jubilee-loop-walk">Jubilee Loop</a>, part of the Jubilee Walkway walk. <br /></p>
<h3>The palaces and Little Venice</h3>
<p>A pleasant walk past famous palaces and through some of London's most beautiful parks. </p>
<p>Key sights include: Buckingham Palace, Kensington Palace, Leinster Gardens, Little Venice</p>
<p>This is <a href="/modes/walking/buckingham-palace-to-little-venice">section 1</a> of the Jubilee Greenway walk. <br /></p>
<h3>Little Venice to Camden Lock</h3>
<p>The smart residential area of Little Venice gives way to the exciting buzz of Camden Lock Market, via Regent's Park. <br />
<br />
Key sights include: Regent's Canal, Lord's Cricket Ground, Regent's Park, London Zoo, and Camden Lock</p>
<p>This <a href="/modes/walking/little-venice-to-camden">section 2</a> of  the Jubilee Greenway walk. <br /></p>
<h3>Greenwich to Tower Bridge</h3>
<p>Following the River Thames from the Old Royal Naval College to Tower Bridge, this route offers some of the best views the river has to offer.<br />
<br />
Key sights include: Old Royal Naval College, the Peter the Great statue, the Circumsphere sculpture, the Lavender Pumphouse, Tower Bridge and the Rotherhithe Tunnel. <br /><br />
This is <a href="/modes/walking/greenwich-to-tower-bridge">section 7</a> of the Jubilee Greenway walk. <br /></p>
<h3>Wimbledon Park to Richmond Bridge</h3>
<p>This beautiful, green walk passes through one of London's largest nature reserves and scenes from the paintings of William Turner. <br />
<br />
Key sights include: Wimbledon Park, Wimbledon Windmill, Richmond Park and White Lodge, the Royal Ballet School's home, museum and location for the film, Billy Elliot film. </p>
<p>This is <a href="/modes/walking/wimbledon-park-to-richmond">section 6</a> of the Capital Ring walk. <br /></p>
<h3>Thames Path north</h3>
<p>A spectacular section of the River Thames, featuring hidden haunts and famous landmarks. <br />
<br />
Key sights include: Tower of London, Houses of Parliament, St Paul's Cathedral, Tate Modern, Shakespeare's Globe theatre.<br />
<br />
This is <a href="/modes/walking/albert-bridge-to-tower-bridge-south">section 4 </a>of the Thames Path walk. <br /></p>
<h3>Thames Path south</h3>
<p>This walk runs along the north bank of the Thames and follows a scenic eastward route which is rich in history. <br />
<br />
Key sights include: Canary Wharf, St Katherine Docks, Wapping Dock, Masthouse Terrace<br /><br />
This is <a href="/modes/walking/tower-bridge-to-the-thames-barrier">section 5</a> of the Thames Path walk. </p>
<p> </p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        
<div class="fact-box-wrapper">
    <span class="blue-span">Looking for more walks?</span>
    <div class="fact-box-content">
        <p> London has a variety of walks to suit everyone. From short strolls around some of its best-loved parks to longer rambles through scenic stretches. </p>
        <div class="vertical-button-container">
        
        <a href="/modes/walking/top-walking-routes"  class="plain-button">Walk London</a> 
        </div>
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Iconic London sights information for tourists";}
        
            
        


 