
    
  



@{ViewBag.Title = "Women at TfL";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/women-in-transport";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Women at TfL</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Women at TfL</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        To diversify and strengthen our workforce, we are working to attract more women and young people to our industry. Find out how.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We're working hard to inspire current and future generations of women at TfL. That means developing&nbsp;our workforce and inspiring the next generation.</p>

<p>We are developing the workforce by:</p>

<ul>
	<li>attracting more women by highlighting the careers on offer</li>
	<li>showcasing the contributions women have made, and continue to make in the industry</li>
	<li>providing opportunities for personal development and progression at all levels</li>
	<li>establishing an industry-wide network as a legacy of continued improvement and development</li>
	<li>running inspirational and&nbsp;thought-provoking events</li>
</ul>

<p>We are inspiring the next generation by:</p>

<ul>
	<li>tackling the lack of understanding about what the transport industry stands for</li>
	<li>demonstrating why transport can be for anyone and everyone</li>
	<li>education, particularly of young people about the variety of roles on offer</li>
	<li>promoting a young people and schools engagement programme</li>
</ul>

<p>Through development and inspiration, we hope to:</p>

<ul>
	<li>support our industry and improve the way we respond to new challenges (including unprecedented levels of growth and development in London and across the UK)</li>
	<li>build our brand as the industry of choice</li>
	<li>contribute to London and the UK as a whole</li>
</ul>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="https://careers.tfl.gov.uk/?intcmp=52277" >
        <img src="/cdn/static/cms/images/promos/bethany-case-study-apprenti2_rdax_400x200.jpg" alt="Bethany Clark - Crossrail Engineering Apprentice" />
        
        <div class="text-link">
             <h2>TfL early careers</h2>
            <p>Find out about internships, apprenticeships and graduate schemes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/women-in-transport/women-in-transport-profiles?intcmp=25305" >
        <img src="/cdn/static/cms/images/promos/rebecca-gibson-teaser-image_rdax_400x200.jpg" alt="Rebecca Gibson" />
        
        <div class="text-link">
             <h2>Women in Transport today</h2>
            <p>Who are the women working in transport today?</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport?intcmp=25211" >
        <img src="/cdn/static/cms/images/promos/wit-2_rdax_400x200.jpg" alt="Women in Transport image 2" />
        
        <div class="text-link">
             <h2>Women in Transport history</h2>
            <p>Find out more about the women in transport who made history</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<h2>Present and future</h2>
<p>These films were created in 2014 to celebrate 100 years of women in transport.
</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="WfzfBH_IVTM" data-video-caption="Present and Future (2014)"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="UGoTxpH4osU" data-video-caption="Guinness World Record attempt"></li>
  
  </ul>
</div>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>News about London's transport system</h3>
    <p>News and latest information </p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfL">Follow &#64;TfL</a>
  </div> 
</div>
 <div class="follow-social linkedin">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Corporate news and careers</h3>
    <p>Jobs, apprenticeships and graduate opportunities</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.linkedin.com/company/transport-for-london">Follow</a>
  </div> 
</div>
 <div class="follow-social facebook">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>News about London's transport system</h3>
    <p>Get updates about London's transport system</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://www.facebook.com/transportforlondon">Like</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Page for #Behindeverygreatcity";}
        
            
        


 