
    
  



@{ViewBag.Title = "Are you untapped talent?";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/are-you-untapped-tale";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></li>
                
            
            
                <li><span class="last-breadcrumb">Are you untapped talent?</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Are you untapped talent?</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Lots of people have difficulty finding work or moving on in their careers &#45; even though they have a great deal to offer. If you are just starting out, returning to work after a long break or trying to change career, our Smart Sourcing scheme may be able to help you.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We want a workforce as diverse as the population of London. That means helping people to overcome the barriers they face when they're looking for work and looking for people with untapped talent. Smart Sourcing helps us by opening up our opportunities to everyone and attracting the widest possible range of people.</p>
<p>We provide support at every stage of your career - from templates, examples and advice to help you prepare your CV and cover letters to interview skills training.</p>
<p>Our supported placements can help you break into the transport industry, or get back to work after a career break.</p>
<p>Our support doesn't stop once you've joined us: we'll continue to give you employability skills support and run insight days to help you move on in your career and find out about other opportunities available across our business.</p>
<p>Our employees include many people who haven't had a conventional career or who have faced difficulties along the way. Ex service people, those returning to work after a long break, ex-offenders and young people from disadvantaged backgrounds are all enjoying successful careers at TfL and contributing to running London's transport network.</p>
<p>Take a look at what some of the people who have joined us via the Smart Sourcing programme have to say:</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="Rj2Qogsr9is" data-video-caption="Mark Mayungu "></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="7WGsvSPF0Qc" data-video-caption="Kevin Potter"></li>
  
  </ul>
</div>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/are-you-untapped-tale">Are you untapped talent?</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "If you are just starting out, returning to work after a long break or trying to change career, Smart Sourcing may be able to help.";}
        
            
        


 