
    
  



@{ViewBag.Title = "Community & museum events";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/safety-and-citizenship/community-and-museum-events";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></li>
                
            
            
                <li><span class="last-breadcrumb">Community & museum events</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Community & museum events</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      <h2>Community</h2>

<p>The TfL Safety and Citizenship team participates in numerous community events, often in conjunction with local Metropolitan Police Service teams. These are typically arranged in response to requests from police relating to transport issues in the area, such as at busy transport interchanges.</p>

<p>At these events, our school liaison officers engage with members of the public to understand their concerns and priorities. We can provide advice, information and reassurance.</p>

<p>We use state-of-the-art resources such as our Tube station display vehicle, and bus display vehicle, which enable us to bring simulated transport environments to any suitable space. This allows an immersive and memorable learning experience for participants.</p>

<p>Typically, young people ask us questions about the <a href="/fares/free-and-discounted-travel">Zip Oyster photocards</a> and for personal safety advice. If you see us in your area, drop in and say hello or feel free to ask for safety tips.</p>

<p>Please note this service is only available through local police or TfL referral.</p>

<h2>Museum</h2>

<p>The team are based at London's Transport Museum in Covent Garden. Although our school liaison officers are usually out delivering at schools, Junior Citizenship Schemes and community events, we also participate in Museum events.</p>

<p>Please note, our administration team are available in the office between 08:30 and 17:00 every weekday to take or discuss bookings even if our school liaison officers are out delivering.</p>

<p>Each October, we present at the Museum's Family Fun Weekend at the Museum Depot in Acton. We talk to families and other visitors at the event, making them aware of safer travel choices. We take our Tube station display vehicle and bus display vehicle to the event to provide a realistic, interactive setting for experience based learning. The vehicles are very popular with younger and older visitors alike!</p>

<p>Each August, during the school summer break, we run the Be Safe! Week event at the London Transport Museum. Young people can visit several mini sessions in the Museum about safety awareness in different situations, including on the bus, Underground, road and using a bicycle.</p>

<p>We are often joined by other agencies, including the London Ambulance Service, RNLI, Dogs Trust and the London Fire Brigade.</p>

<p>Participants have a card to collect stamps at each mini scenario to record their experience. Youngsters love to collect all the stamps!</p>

<p>Visit <a href="http://www.ltmuseum.co.uk/">London Transport Museum</a> for specific dates for these and other events. You can also take a look at a sample of our community engagement work below.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="Ua5Pm2fjxhM" data-video-caption="Community engagement work"></li>
  
  </ul>
</div>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/primary-pre-transiti">Primary (pre-transition)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/secondary-post-transition">Secondary (post-transition)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/special-educational-needs">Special Educational Needs and Disability</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/pupil-referral-units">Pupil Referral Units</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/faith-schools">Faith schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/home-schooled-pupils">Home-schooled pupils</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/restorative-justice">Restorative justice</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/community-and-museum-events">Community & museum events</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/following-on-from-your-visit">Following on from your visit</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/lesson-plans">Learning resources</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/transport-youth-engagement-officers">Transport Youth Engagement Officers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The TfL Safety & citizenship team takes part in community and museum events, often in conjunction with the local Metropolitan Police ";}
        
            
        


 