
    
  



@{ViewBag.Title = "Primary (pre-transition)";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/safety-and-citizenship/primary-pre-transiti";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></li>
                
            
            
                <li><span class="last-breadcrumb">Primary (pre-transition)</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Primary (pre-transition)</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Primary school sessions are delivered in two different formats: in-school presentations and Junior Citizenship Schemes. Your school will only require one of these formats.
        
      </div>
    
    <div class="on-this-page">
      <p>We refer to this work as pre-transition as it is designed to help young people as they transition to independent travel, for example when they move on to secondary school.</p>
<p>Every Year 6 pupil in Greater London will be offered a free session, either at a Junior Citizenship Scheme or as an in-school presentation. Due to the nature of our work, visits are only targeted at pupils who are about to travel independently (typically Year 6s, although pre-transition presentations might be suitable for older pupils if they are only just beginning to travel independently). Sessions are free for all schools.</p>
<p>If your borough has a Junior Citizenship Scheme, you will be invited to attend by the event organisers. If your school is not able to attend a Junior Citizenship Scheme, we will contact you directly to offer an in-school presentation instead.</p>
<p>There is information on each of these formats below.</p>
<h2>In-school presentations</h2>
<p>In-school presentations are offered free of charge to all Year 6 pupils who have not attended a Junior Citizenship Scheme. They assist students with their transition to independent travel and equip them to make responsible choices on their journeys using public transport.</p>
<h3>In-school presentation content</h3>
<p>Presentations last an hour and are interactive, with educational videos, images and role play to support key learning points. They are delivered by an experienced school liaison officer. Pupils will get the chance to ask questions and build their confidence about becoming independent travellers in anticipation of their transition to secondary school.</p>
<p>The presentation covers all appropriate modes of transport.</p>
<p>Sessions focus on developing respect, responsibility and awareness in young travellers. We cover a variety of areas including:</p>
<ul>
    <li>    Getting help</li>
    <li>Showing respect for members of staff and other passengers</li>
    <li>What to do in an emergency</li>
    <li>Awareness of possible dangers and personal safety</li>
    <li>Journey planning</li>
    <li>Active travel choices (such as cycling, walking)</li>
    <li>Ticketing (including the Zip Oyster photocards)</li>
</ul>
<p>All presentations are tailored to the audience and we respond to specific concerns raised by young people during the session.</p>
<p>Depending on your venue, we should be able to see all of your Year 6 students together. Please make sure we have a screen or pale wall to project on to, and that it's possible to darken the room. We will require mains power. We carry our own projectors and laptops, so do not require any equipment at the school (although we can use your Smartboard or projector if you have one).</p>
<p>We will contact you directly if your school requires an in-school presentation. Some boroughs are contacted later in the academic year to allow Junior Citizenship Schemes to run first.</p>
<p>Take a look at our pre-transition work in the video below.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="mI4nrmc0tWY" data-video-caption="Pre-transition work"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="thyys0dnZLE" data-video-caption="Junior Citizenship Scheme"></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Junior Citizenship Schemes</h2>
<p>Junior Citizenship Schemes are fast-paced, multiple-agency events run in some Greater London boroughs for Year 6 students (and occasionally Year 5s). Schemes are run either by the Safety and Citizenship team or by other agencies, such as the Metropolitan Police or local borough councils.</p>
<p>Our school liaison officers and transport youth engagement officers attend these events to deliver information on travelling safely and responsibly using bus or tube. Junior Citizenship Schemes help pupils prepare for the challenges they may face as they become young adults.</p>
<p>Take a look at the video above to see a Junior Citizenship Scheme in action.</p>
<h3>Junior Citizenship Scheme content</h3>
<p>At a Junior Citizenship Scheme, there will be a carousel of activities with up to ten different agencies delivering short sessions on topics relating to good citizenship. Pupils complete a circuit of scenarios in small groups, learning through experience and real-life risk situations that test their ability to make responsible decisions. The events last for half a day.</p>
<p>Different scenarios involved might included:</p>
<ul>
    <li>    Travelling by bus</li>
    <li>Travelling by Underground</li>
    <li>London Fire Brigade</li>
    <li>Metropolitan Police Service</li>
    <li>St John Ambulance</li>
    <li>Dogs Trust</li>
    <li>Road safety teams</li>
</ul>
<p>If there is a scheme in your area, the organisers will contact your school directly to offer the opportunity to book in. If we don't see your Year 6 students at a Junior Citizenship Scheme, they won't miss out on our safer travel messages as we will contact you to offer an in-school presentation instead.</p>
<h3>Southwark and Hackney Junior Citizenship Schemes</h3>
<p>TfL Safety and Citizenship are responsible for coordinating the successful Southwark and Hackney Junior Citizenship Schemes. The schemes run locally in the two boroughs and Year 6 students travel to the event. They stay at the event for half a day to complete all the scenarios.</p>
<p>If you are a Year 6 teacher in Southwark or Hackney who would like more information about this service in your borough, please call our office on 020 7565 7303 or email <a href="mailto:tflsafetyandcitizenship&#64;ltmuseum.co.uk">tflsafetyandcitizenship&#64;ltmuseum.co.uk</a>.</p>
<p>Please be reassured that we will contact your school to book when we have dates available for either scheme. Places on the schemes are free of charge.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/primary-pre-transiti">Primary (pre-transition)</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/secondary-post-transition">Secondary (post-transition)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/special-educational-needs">Special Educational Needs and Disability</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/pupil-referral-units">Pupil Referral Units</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/faith-schools">Faith schools</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/home-schooled-pupils">Home-schooled pupils</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/restorative-justice">Restorative justice</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/community-and-museum-events">Community & museum events</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/following-on-from-your-visit">Following on from your visit</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/lesson-plans">Learning resources</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship/transport-youth-engagement-officers">Transport Youth Engagement Officers</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Junior Citizenship Scheme sessions for Year 6 pupils in Greater London";}
        
            
        


 