
    
  



@{ViewBag.Title = "Priority seating and other features on board";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/features-on-board";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Priority seating and other features on board</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Priority seating and other features on board</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our vehicles have a range of features designed to make it easier to travel including priority seating. If you are using a priority seat and you don't need it, please be ready to offer it to someone who does.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Priority seats</h2>
<p>All buses, Tubes, trains and trams have clearly marked priority seats for anyone who needs them. If one isn't available, ask if someone will give up a seat. </p>
<p>You can apply for a <a href="/transport-accessibility/please-offer-me-a-seat"><strong>Please Offer Me a Seat</strong></a> badge
and card or a <a href="/transport-accessibility/baby-on-board"><strong>Baby on Board</strong></a> badge to help you get a seat if you need one.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="csj_58vIGk0" data-video-caption="Priority seating video"></li>
  
  </ul>
</div>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/wheelchair-user-tube_rdax_400x250.jpg" alt="Wheelchair user on the Tube" />
        
        
        
    </div>
    <h2>Wheelchair spaces</h2>
<p>Most vehicles have designated wheelchair spaces. Every bus has one and most train services have at least two, which you can find by looking for the wheelchair symbol on the outside of the carriage or using the level access boarding point.</p>
<p>All taxis and an increasing number of minicabs are wheelchair accessible. To find out more, see <a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">step-free access and avoiding stairs</a>. </p>
<p>Some boats can accommodate wheelchairs. Check with the operator before travelling. Some river services can make extra space available for groups of wheelchair users travelling together, if they are informed in advance.</p>
<p>All wheelchair spaces are at least large enough for a 'reference' wheelchair of 700mm x 1200mm. </p>
<h2>Audio/visual information </h2>
<p>Audible and visible information is provided extensively across our network.</p>
<p><a href="/transport-accessibility/plan-an-accessible-journey">Find out how to plan a journey</a></p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/toni-using-swivel-chair3_rdax_400x457.jpg" alt="Black cab swivel chair in use" />
        
        
        
    </div>
    <h2>Low floor access</h2>
<p>All buses are able to kneel to reduce the step-up. Drivers are expected to pull in close to the kerb. If you need low-floor access and the driver has not already knelt the vehicle, just ask.</p>
<p>While there is a step and gap onto most Tube and Overground trains, we are introducing more low-floor trains, including on the Metropolitan, Hammersmith &amp; City, Circle and District lines.</p>
<p>Most taxis have an intermediate step and a seat that swivels out to make it easier to get in. Ask the driver if you want to use either of these.</p> 
 </div>
 <div>

<h2>Safety and security</h2>
<p>Your safety is important to us, and crime is at its lowest ever levels on London's transport network. </p>
<p>CCTV is used extensively across stations, piers, all buses and many trains. <a href="/corporate/privacy-and-cookies/cctv">Find out how we use CCTV</a>.</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/help-point_rdax_400x250.jpg" alt="Help points are on most platforms" />
        
        
        
    </div>
    <p>Passenger alarms on trains can be used to contact the
driver in an emergency. They are found next to doors and wheelchair spaces.
</p>
<p>Help points are available on most
platforms and in all ticket halls. They can be used to contact staff in an emergency, or to ask for help or information.
</p>
<p>If you feel unsafe or experience any incidents of crime
(including hate crime) or antisocial behavior talk to our staff
or the police.</p>
<p>You can also report hate crime by calling 101 or texting 61016</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/fares/free-and-discounted-travel" class="plain-button">Travelling with children: fares &amp; tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "Our vehicles have a range of features designed to make it easier to travel. ";}
        
            
        


 