
    
  



@{ViewBag.Title = "Help from staff";}
@{ViewBag.Keywords = "TfL,Turn, up, and, go, TUAG, London Underground";}
@{ViewBag.Url = "/transport-accessibility/help-from-staff";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Help from staff</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Help from staff</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        All our staff are trained to offer you assistance and support.
        
      </div>
    
    <div class="on-this-page">
      <h2>Staff assistance</h2>

<p>We have staff at all Tube, TfL Rail&nbsp;and London Overground stations whenever services are running. Some piers, all boats, the Emirates Air Line and Victoria Coach Station are staffed too.</p>

<p>Trams and buses are staffed by the driver and the DLR has&nbsp;Passenger Service Agents on trains.</p>

<p>On most of our rail networks, piers and boats, staff can give advice, information and assistance. If you need help planning a route or buying a ticket, please ask.</p>

<h2>Turn-up-and-go service</h2>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="F4MkVvFAuIA" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<p>We operate a Turn-up-and-go service on the London Underground and&nbsp;London Overground.</p>

<p>&nbsp;Most stations operated by&nbsp;TfL Rail offer Turn-up-and-go. To <a href="https://www.nationalrail.co.uk/stations_destinations/default.aspx">check if a TfL Rail station offers 'Turn-up-and-go'</a> enter the station name and check the Accessibility &amp; Mobility Access section.</p>

<p>Turn-up-and-go means you do not have to pre-book assistance to use this service at these stations. Everyone is welcome to use our Turn-up-and-go service - it is popular with customers with visual impairments and mobility impairments, and groups.</p>

<p>We will:</p>

<ul>
	<li>Help you to get from the station entrance to the platform at the start of your journey</li>
	<li>Help you get on/off the train including deploying a ramp if required (where available)</li>
	<li>Arrange for you to be helped off the train at any interchange stations, and to help you board your next train</li>
	<li>Help you get off the train at your final destination, and back up to the station exit at the end of your journey and give you any onwarrd travel advice</li>
	<li>Let you know if there are unplanned disruptions on the network and suggest alternative step free access routes</li>
</ul>

<p>You are responsible for your own luggage and possessions including buggies.</p>

<p>If you aren't sure whether you will need to use a boarding ramp at any point on your journey, use the <a href="/cdn/static/cms/documents/step-free-tube-guide-map.pdf">Step-free Tube guide</a> or look out for the messages in <a href="/plan-a-journey/index">Journey Planner</a>.</p>

<h2>Booking assistance</h2>

<p>You&nbsp;are welcome to book in advance on London Overground and TfL Rail as part of the national Passenger Assist service.</p>

<p>If you would like to pre-book assistance you should do so at least 24 hours in advance.</p>

<p>You can book:</p>

<ul>
	<li>online on the <a href="https://passenger-assist.org/assisttravel/TravelAssist.aspx?LAYOUT=BLANK&amp;TOCCode=DLkP6_p3jo9SUbFl9cJ_ZQ==">Passenger Assist website</a>.</li>
	<li>by calling 0343 222 2000 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>). Open 08:00-20:00&nbsp;every day&nbsp;(except Christmas Day)</li>
</ul>

<p>If you need help accessing the DLR, contact our <a href="/modes/dlr/dlr-ambassadors">DLR Community Ambassadors</a> for advice.</p>
</div>
 <div class="clearfix">
    <div class="image-box light-box left-float">
    
        
        
        <a href="/cdn/static/cms/images/staff-help.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/staff-help700x438_rdax_400x250.jpg" alt="Staff help illustrative image" />
             
        </a>
        
        
    </div>
    <h2>How to find staff</h2>

<p>On the Tube, TfL Rail and London Overground, station staff are encouraged to offer help to anyone who looks as though they might need assistance. If you can't immediately see a staff member, they can usually be found in the ticket hall or gateline, or on platforms at busier times.</p>

<p>On the DLR and trams, most stops and stations are unstaffed, but you can find a staff member on the train. Staff are easy to find at the coach station, Emirates Air Line terminals and on piers and boats.</p>

<p>Help points can be found throughout our networks. You can use them to contact staff for information and assistance or in an emergency. Many have induction loops to work with hearing aids.</p>

<h2>Staff help on buses</h2>

<p>All bus drivers are trained to help customers who need extra assistance, including to:</p>

<ul>
	<li>&nbsp;Pull in close to the kerb to reduce the gap</li>
	<li>&nbsp;Lower the bus to reduce the step up</li>
	<li>&nbsp;Deploy the wheelchair ramp if needed</li>
	<li>&nbsp;Require customers to make space for wheelchair users, unless it is unreasonable for them to do so</li>
	<li>&nbsp;Wait until you're seated or holding on before pulling away</li>
</ul>

<p>Ask the bus driver if you need any further information or help.</p>
 </div>
   <div class="did-you-know-box">
    
        <h2 class="did-you-know-header"><span class="blue-span">Did you know?</span></h2>
        <div>
            If you have mobility impairments and have trouble using public transport, you may be able to get subsidised taxi and minicab travel in London. The two schemes are called Taxicard and Capital Call.
            <a href="#">Find out more</a>
        </div>
    </div>
   <h2>Travel support card</h2>

<p>We produce a travel support card to help people communicate any assistance or information requirements they have with staff. You can use it on any of our services.</p>

<p>There is space on the card to write down what assistance or information you need.</p>

<p><a href="https://tfl.gov.uk/forms/12387.aspx?cid=accessguides">Order your Travel Support card</a>.</p>

<p>Alternatively you can <a href="/cdn/static/cms/documents/travel-support-card-printable.pdf">download and print your own copies</a>.</p>

 
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/using-a-travel-support-card.pdf">
    <div class="document-download-text">
        <p>How to use your travel support card  </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 623KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-support-card-printable.pdf">
    <div class="document-download-text">
        <p>Printable version of the travel support card</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 386KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/fares/free-and-discounted-travel" class="plain-button">Travelling with children: fares &amp; tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "We have staff at all Tube, TfL Rail and Overground stations and on every DLR train. ";}
        
            
        


 