
    
  



@{ViewBag.Title = "People with sight or hearing loss";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/people-with-sight-or-hearing-loss";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">People with sight or hearing loss</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>People with sight or hearing loss</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We provide a variety of information and assistance for people with sensory impairments. If you need information in an alternative format (eg audio or Braille), we will produce it on demand where possible.
        
      </div>
    
    <div class="on-this-page">
      <p>If you want to be accompanied onto or met from one of our trains, see <a href="/transport-accessibility/help-from-staff">help from staff</a>.</p>

<h2>Assistance dogs</h2>

<p>Assistance dogs are welcome on all our services, including taxis and private hire vehicles (minicabs). Bus drivers are trained to recognise their harnesses or jackets. Assistance dogs may travel on either deck of the bus.</p>

<p>We work closely with Guide Dogs so their assistance dogs are trained to use escalators across our network. Only trained dogs with appropriate identification can use moving escalators. If your dog is not trained, staff will help you avoid escalators (for example by using lifts and stairs). If you can't avoid the escalator they will stop it so you can walk. This may not be possible in busy periods so staff will help you replan your journey by another route.</p>

<p>To find out more, contact the <a href="https://www.guidedogs.org.uk/aboutus/local-to-you/mobility-teams/london/#.VrHfGGPtk40">Guide Dogs London Mobility Team</a>.</p>

<p>It is illegal for a taxi driver or private hire vehicle driver or company to charge you more or refuse your journey because you have an assistance dog. Any driver or company who does this risks being prosecuted and losing their license. Please report any issues to us so as we can investigate these and take action.</p>

<p><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">How to contact us.</a></p>

<h2>Tactile surfaces</h2>

<p>Tactile paving is being fitted across our networks, on platforms and at the top and bottom of stairs. However, until we have this at all stations, please do not assume it is there.</p>

<h2>Hearing aid induction loops</h2>

<p>Induction loops are fitted at many ticket offices, Help Points, platforms, in taxis (black cabs)&nbsp;and many buses. Look out for the T-loop symbol.</p>

<h2>Audio/visual information</h2>

<p>See the realtime and audio/visual information section in <a href="/transport-accessibility/plan-an-accessible-journey">plan your journey</a>.</p>

<h2>Pedestrian crossings</h2>

<p>All pedestrian crossings in London are fitted with tactile cones and/or audible signals. See <a href="/transport-accessibility/road-users-and-pedestrians">road users and pedestrians</a> for more information.</p>

<h2>Accessible travel in London</h2>

<p>This video explains the help and support available to you when travelling in London, from the help you can expect from staff through to assisted travel services such as travel mentoring.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="MQ_tz5dF-Zc" data-video-caption="Accessible travel in London"></li>
  
  </ul>
</div>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/fares/free-and-discounted-travel" class="plain-button">Travelling with children: fares &amp; tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "We provide a variety of information and assistance for people with sensory impairments. If you need information in formats we do produce (eg audio or Braille) we will produce these on demand. ";}
        
            
        


 