
    
  



@{ViewBag.Title = "Plan an accessible journey";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/plan-an-accessible-journey";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Plan an accessible journey</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Plan an accessible journey</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        How to use our accessibility services and travel tools to plan your journey and find maps, wayfinding and realtime audio/visual information when you're on the move.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Before you travel
</h2>
<p>Our <a href="/plan-a-journey/index">Journey Planner</a> gives the best routes between
stations, bus stops, piers, places of interest, addresses or postcodes. You can also set
the time you want to travel and whether you want to take the fastest route or the one with fewest changes or least walking involved.
</p>
<p>Select 'accessibility and travel options' to say
whether you can use stairs or escalators, which types of transport you like to
use and how far you are prepared to walk.
If you are unlikely to be able to manage the step or gap onto a train, select the option marked 'I need step-free access to the train, bus etc'.</p>
<p>
If
you prefer to plan your own journey, all our <a href="/maps_/maps">maps</a> and
timetables are online.
</p>
<p>We
also produce a range of <a href="/transport-accessibility/accessibility-guides-and-maps">accessibility maps and guides</a> that you can order or download and
print. These include our Step-Free Tube Guide, Tube toilet map and large print,
black and white and audio versions of the Tube map.</p>
<p>Our <a href="/status-updates/index">status updates</a> page shows if there are any
delays or disruptions on our networks, so you can plan your journey around them.</p>
<p>You can also find more information about accessibility at specific locations within <a href="/travel-information/stations-stops-and-piers/index">stations, stops and piers</a>.</p>
<h2>TfL Rail</h2>
<p>If you need to book mobility assistance on TfL Rail you can book up to 24-hours in advance. You can either call on 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges)</a>, or book online.  </p>
</div>
 <div>

<h2>On your journey
</h2>
<p>When
you're on the move, there's lots of information to help you find where you're
going and keep you up-to-date. If you can't find what you need, ask a member of staff.</p>
<h2>Maps</h2>
<p>
Bus
shelters have simple spider maps that give an
overview of local routes.
</p>
<p>Our rail stations on the Tube, London Overground, DLR, Trams, TfL Rail and Emirates Air Line have helpful maps, including local street maps. </p>
<p>Piers have maps of river services.</p>
<p>For
pedestrians, our <a href="/modes/walking/find-your-way-around">Legible London</a> maps are now in use across many town centres, at bus
stops and in station entrances.
</p>
<h2>Realtime and audio/visual information</h2>
<h4>Buses</h4>
<p>You
can get <a href="/modes/buses/live-bus-arrivals">live bus arrivals</a> information for any
bus stop by text message or on the internet. If you're using the text service,
look out for the bus stop code on a sign above
the timetable.
</p>
<p>There are Countdown signs at 2,500
bus stops that show
which buses are coming and when they will arrive.
</p>
<p>On
board, all buses have audible and visible announcements
that tell you the name of the stop, which route you are on and the destination
of the bus.
</p>
<h4>Tube,
Overground, TfL and DLR</h4>
<p>All
stations give audible announcements. Most also have electronic signs
on platforms and in ticket halls showing the times and destinations of the next
trains. All Tube station ticket halls also have service update boards.</p>
<p>All DLR,
Overground and newer Tube trains have audible and
visible announcements on board. </p>
<h3>River</h3>
<p>Piers have Countdown screens similar to those on the bus network and River Bus services have automated audio announcements on board. Live arrivals information is also available online.</p>
<h2>Signs and wayfinding</h2>
<p>Stations and piers
are signposted to make sure everyone can find their way.
</p>
<p>If
you need step-free routes, look out for signs for the
lifts. Some stations have been recently updated with our new, more prominent step-free signage.
</p>
<p>Some
Tube stations have 'platform humps' - a section
of the platform that gives level access onto the train. These are not always immediately easy to see so look out for the sign for the level access
boarding point.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/text-bus.jpg" alt="Text for live bus arrivals" />
                <figcaption>
<span class="figure-title">Text for live bus arrivals</span>
<span class="figure-description">You can get live bus arrivals information for any bus stop by text message. Look out for the bus stop code on a sign above the timetable. </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bus-countdown.jpg" alt="Countdown signs at bus stops" />
                <figcaption>
<span class="figure-title">Countdown signs at bus stops</span>
<span class="figure-description">Many of our bus stops have Countdown signs that show which buses are coming and when they will arrive.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bus-announcement.jpg" alt="Bus announcements" />
                <figcaption>
<span class="figure-title">Bus announcements</span>
<span class="figure-description">Buses tell you the route you're on, the name of the next stop and the end destination</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/tube-annoucements.jpg" alt="Platform announcements" />
                <figcaption>
<span class="figure-title">Platform announcements</span>
<span class="figure-description">Most Tube station platforms have electronic signs showing the times and destinations of the next trains.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/rainbow-board.jpg" alt="Service update boards" />
                <figcaption>
<span class="figure-title">Service update boards</span>
<span class="figure-description">All our Tube station ticket halls have service update boards which will tell you how all the lines are running.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/platform-lift-sign.jpg" alt="Signs for step-free routes" />
                <figcaption>
<span class="figure-title">Signs for step-free routes</span>
<span class="figure-description">If you need step-free routes, look out for signs for the lifts. </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/step-free-signs.jpg" alt="Signs for step-free routes" />
                <figcaption>
<span class="figure-title">Signs for step-free routes</span>
<span class="figure-description">Some stations have been recently updated with our new, more prominent step-free signage. </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/lift-map.jpg" alt="Maps showing step-free routes" />
                <figcaption>
<span class="figure-title">Maps showing step-free routes</span>
<span class="figure-description">You can also find maps in the stations which will show you where all of the lifts are.</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/level-access.jpg" alt="Platform humps" />
                <figcaption>
<span class="figure-title">Platform humps</span>
<span class="figure-description">Some Tube stations have 'platform humps' - a section of the platform that gives level access onto the train. Look out for the sign for the level access boarding point.</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport", mode = Library.MeansOfTransport.Bus } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/fares/free-and-discounted-travel" class="plain-button">Travelling with children: fares &amp; tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "How to use our accessibility services and travel tools to plan your journey and find maps, wayfinding and realtime audio/visual information when you're on the move.";}
        
            
        


 