
    
  



@{ViewBag.Title = "Wheelchair access & avoiding stairs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/wheelchair-access-and-avoiding-stairs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Wheelchair access & avoiding stairs</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Wheelchair access & avoiding stairs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Step-free access means lifts, ramps and level surfaces so you don't have to use stairs or escalators, and can avoid the step and gap onto our trains, buses and boats.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Step-free journeys</h2>
<p>We're introducing more and more step-free access, but it's important to plan your step-free route in advance and check before you travel in case of disruptions.</p>
<p>Watch these completely step-free journeys on our network, including Tube, bus and river services, to popular venues across London.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="0j0WcZI34ts" data-video-caption="Chelsey's accessible river journey"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="m73wOHnKjak" data-video-caption="Sophie's fully accessible journey 2"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="N08IWkVIF2c" data-video-caption="Sophie's fully accessible journey 1"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="NIan4yxbpRw" data-video-caption="Come On Board"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="fj07TEsRbNk" data-video-caption=" A bus journey"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="L4UrbdYGfls" data-video-caption=" A Tube journey  "></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="Gpnk-3FJ0mQ" data-video-caption=" A rail journey"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="714t-OYaVCo" data-video-caption=" A river journey"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="YzvejjipQy0" data-video-caption=" A taxi journey"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="nF0jQYHalKs" data-video-caption="Boarding ramps on the Tube"></li>
  
  </ul>
</div>
</div>
 
<div>




<h2>Step-free stations and vehicles</h2>
<p>All our bus routes are served by low-floor vehicles, with a dedicated space for one wheelchair user and an access ramp. Buses can also be lowered to reduce the step-up from the pavement.</p>
<p>Around a quarter of Tube stations, half of Overground stations, most piers, all tram stops, the Emirates Air Line and all DLR stations have step-free access.</p>
<p>Many boats have boarding ramps to give step-free access.</p>
<p>All taxis (black cabs) have a wheelchair ramp and some private hire vehicles (minicabs) have step free access.</p>
<h2>Lifts out of service</h2>
<p>If you arrive at a Tube, TfL Rail or Overground station and the lift is unavailable, staff will help you to plan an alternative journey to your destination. If there isn't a reasonable alternative route, we'll book you a taxi (at our cost) to take you to your destination or another step-free station from where you can continue your journey.</p>
<h2>Maps and guides</h2>
<p>Some step-free stations still have a gap and step between the platform and the train. The Tube map shows which Underground, Overground and DLR stations are step-free. The blue symbol shows step-free access from street to train and the white symbol shows step-free access from street to platform.</p>
<p>We also produce detailed maps for step-free journeys and avoiding stairs.</p>
<p>We know some customers find being underground difficult, so we have a map which shows where the tunnels are across our network.</p>
<p><a href="/transport-accessibility/accessibility-guides-and-maps">Find accessibility guides and maps</a>.</p>
<div class="multi-document-download-container">
    

    
<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/standard-tube-map.pdf">
    <div class="document-download-text">
        <p>Standard Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 617KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/step-free-tube-guide-map.pdf">
    <div class="document-download-text">
        <p>Step-free Tube guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avoiding-stairs-tube-guide.pdf">
    <div class="document-download-text">
        <p>Avoiding stairs Tube guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 466KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<div>

    
</div>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tube-map-with-tunnels.pdf">
    <div class="document-download-text">
        <p>Tube map with tunnels</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 237KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>
<h2>Level access at platforms</h2>

<p>An increasing number of our platforms give step-free access onto trains.</p>

<p>This is provided in three ways:</p>

<p><strong>Level access along the whole platform</strong><br />
This is available on newly built services such as the Jubilee line east of Westminster, the whole DLR network and new stations on London Overground.</p>

<p><strong>Level access along part of the platform (platform humps)</strong><br />
We are increasingly using these at stations. Look out for the signs for these on platforms and for information about where to find them in Journey Planner.</p>

<p><strong>Manual boarding ramps</strong><br />
At some stations staff will deploy manual boarding ramps to help you get on and off. This service is available at many Overground, TfL Rail and Tube stations. To use manual boarding ramps, ask for <a href="/transport-accessibility/help-from-staff">help from staff</a>.</p>

<p>There are some steps that station staff will follow to deploy ramps:</p>

<ul>
	<li>A member of staff will place a ramp to help you get from the platform into the train</li>
	<li>If a ramp is needed at your interchange or alighting station, they will&nbsp;contact the&nbsp;station&nbsp;to make sure a member of staff is waiting to meet you to help you get off the train</li>
</ul>

<p>If you need step-free access onto the train, select 'accessibility and other travel options' in <a href="/plan-a-journey/index">Journey Planner</a>, and select 'I need step-free access from street to the train'.</p>

<p>If you prefer to plan your own route, use Tube map for an overview of step-free access and the Step-Free Tube Guide for detail, including which stations have ramps.</p>

<p><a href="/transport-accessibility/accessibility-guides-and-maps">Find accessibility guides and maps</a>.</p>

<h2>Wheelchairs and mobility scooters</h2>

<p>You can use wheelchairs and some&nbsp;mobility scooters on many services, including buses, Tubes, trains and trams and some boats&nbsp;including <a href="https://www.thamesclippers.com/about-mbna-thames-clippers/accessibility-information">Thames Clippers</a>.</p>

<p>Mobility scooters can't be taken on some boats, taxis or the Emirates Air Line.</p>

<p>On almost all buses, the wheelchair ramp is located at the exit door (in the middle of the bus).</p>

<h2>Mobility Aid Recognition scheme</h2>

<p>Our&nbsp;Mobility Aid Recognition scheme helps anybody with a mobility aid who wishes to use our buses.</p>

<p>Only certain models of mobility scooter can fit on London's buses, so you should check first.</p>

<p>Although the scheme is aimed at people with mobility scooters, it may also be used by people with manual or powered wheelchairs, mobility walkers, buggies adapted for disabled children,&nbsp;or shopping trolleys, where these are used as a mobility aid.</p>

<p>To join the scheme, contact our <a href="/transport-accessibility/learn-to-use-public-transport">travel mentoring service</a> who will ask you a few questions to check that your mobility aid is suited to bus travel.</p>

<p>You will then be offered the opportunity of an accompanied journey to check the suitability and size of your device.</p>

<p>If your mobility aid is suited to bus travel, you will be given a&nbsp;Mobility Aid Recognition scheme card&nbsp;which you can show to bus drivers.</p>

<p>Thames Clippers offer a similar scheme on the river.</p>

<p><a href="http://www.thamesclippers.com/about-kpmg-thames-clippers/accessibility-information">Find out more on their accessibility on their website</a>.</p>

<h2>Seats at stations</h2>

<p>You can find seats and benches - some of which are designated priority seats -&nbsp;on platforms and piers in some longer interchanges.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/fares/free-and-discounted-travel" class="plain-button">Travelling with children: fares &amp; tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Step-free access means lifts, ramps and level surfaces so you don't have to use stairs or escalators, and can avoid the step and gap onto our trains, buses and boats. ";}
        
            
        


 