
    
  



@{ViewBag.Title = "Direct vision for HGVs - research and tools";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/direct-vision-for-hgvs-research-and-tools";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></li>
                
            
            
                <li><span class="last-breadcrumb">Direct vision for HGVs - research and tools</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Direct vision for HGVs - research and tools</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Research and tools relating to the Direct Vision Standard for HGVs can be found below.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hgv-evaluation-new-vehicle-research-future-thinking.pdf">
    <div class="document-download-text">
        <p>HGV evaluation - new vehicle research report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.26MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-safety-benefits-of-direct-vs-indirect-vision-in-hgv-cabs-summary.pdf">
    <div class="document-download-text">
        <p>Road safety benefits of direct versus indirect vision in HGV cabs - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-safety-benefits-of-direct-vs-indirect-vision-in-hgv-cabs-technical.pdf">
    <div class="document-download-text">
        <p>Road safety benefits of direct versus indirect vision in HGV cabs - technical</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.26MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-safety-standards-for-construction-supply-and-waste-sites.pdf">
    <div class="document-download-text">
        <p>Road safety standards for construction, supply and waste sites - report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/understanding-direct-and-direct-vision-from-hgvs-summary.pdf">
    <div class="document-download-text">
        <p>Understanding direct and indirect driver vision from HGVs - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/understanding-direct-and-indirect-vision-in-hgvs-full-technical-report.pdf">
    <div class="document-download-text">
        <p>Understanding direct and indirect driver vision from HGVs - technical report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 17.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/working-towards-direct-vision-hgvs.pdf">
    <div class="document-download-text">
        <p>Working towards the Direct Vision Standard for HGVs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 461KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/assessing-direct-vision-in-hgvs-summary.pdf">
    <div class="document-download-text">
        <p>Assessing the direct vision performance of HGVs - technical report summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/assessing-drect-vision-in-hgvs-technical.pdf">
    <div class="document-download-text">
        <p>Assessing the direct vision performance of HGVs - technical report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safer-trucks-infographic.pdf">
    <div class="document-download-text">
        <p>Safer trucks infographic</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.24 -->
 
</div>

</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="dMmAqYrrEjg" data-video-caption="Safer trucks"></li>
  
  </ul>
</div>
</div>
 <div>

<p>Our Safer Trucks <a href="https://safer-trucks.s3-eu-west-1.amazonaws.com/SaferLorries360_v3.html ">virtual reality video</a> allows you to experience the difference between a high-entry, off-road HGV cab and a low-entry, high vision HGV cab. </p>
<p>Further research on construction logistics and cycle safety can be found on our <a href="/corporate/publications-and-reports/index">publications and reports</a> page.</p>
<ul>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/driving-near-vulnerable-users">Driving near vulnerable users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme">Safer Lorry Scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/work-related-road-risk">Work Related Road Risk </a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/dvs-star-ratings-and-safe-system">DVS star ratings and Safe System improvements</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/apply-for-an-hgv-safety-permit">Guidance for the HGV Safety Permit</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/direct-vision-for-hgvs-research-and-tools">Direct Vision for HGVs Research and Tools</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL is working to reduce the risk of HGV collisions with vulnerable road users";}
        
            
        


 