
    
  



@{ViewBag.Title = "Walk About, Talk About";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/teaching-resources/walk-about-talk-about";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Walk About, Talk About</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Walk About, Talk About</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Walk about, Talk about, is a multimedia DVD resource for parents and carers of pre-school aged children in London. Pre-school settings and Borough professionals can also use this resource as part of road safety related tasks and initiatives.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/wata-logo_rdax_400x250.png" alt="Walk About, Talk About logo" />
        
        
        
    </div>
    <p>This multimedia resource looks at ways pedestrians can stay safer on
London's roads and how parents/carers can be good role models. </p>
<p>Six short
film sections show a Road Safety expert taking parents/carers and their
children on different journeys.</p>
 </div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="6vrTTyouT2s" data-video-caption="Walk About, Talk About Introduction"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="3rZwyjjRe9Y" data-video-caption="Crossing the road"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="THKYq67LlRA" data-video-caption="Safer crossing places"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="ZTb30_svQc4" data-video-caption="Travelling safely"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="SP8pUn2oNo4" data-video-caption="Safer journeys"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="VaKWwaHjkww" data-video-caption="Journey planning"></li>
  
  </ul>
</div>
</div>
 <div>

<h3>Booklet</h3>
<p>You can download&nbsp;a <a href="/cdn/static/cms/documents/walk-about-talk-about-leaflet.pdf.pdf">handy summary booklet of the six film sections</a>.</p>
</div>
 <div>

<h3>Activity Sheets</h3>
<p>There are five fun activity sheets for your children to complete with you.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walk-about-talk-about-activity-sheet-1.pdf">
    <div class="document-download-text">
        <p>Activity sheet 1: Crossing the road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 248KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walk-about-talk-about-activity-sheet-2.pdf">
    <div class="document-download-text">
        <p>Activity sheet 2: Safer crossing places</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 257KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walk-about-talk-about-activity-sheet-3.pdf">
    <div class="document-download-text">
        <p>Activity sheet 3: Travelling safely</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walk-about-talk-about-activity-sheet-4.pdf">
    <div class="document-download-text">
        <p>Activity sheet 4: Safer journeys</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 327KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walk-about-talk-about-activity-sheet-5.pdf">
    <div class="document-download-text">
        <p>Activity sheet 5: Journey planning</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 250KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/activity-sheets.png" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/wata-activity-sheets.jpg" alt="walk about talk about activity sheets" />
        
        </a>
        
        
    </div>   
 </div>
 <div>

If you would like to order a copy of this resource please email <a href="mailto:educationandtraining&#64;tfl.gov.uk">educationandtraining&#64;tfl.gov.uk</a> with your name, email and phone number, and whether you are a parent/carer or ordering on behalf of a school.
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/pre-school">Children's Traffic Club London</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/walk-about-talk-about">Walk About, Talk About</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/a-z-of-traffic-tales">The A-Z of Traffic Tales</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/just-a-journey">Just a Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/junior-travel-ambassadors">Junior Travel Ambassadors</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/lifes-journey">Life's Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/youth-travel-ambassadors">Youth Travel Ambassadors</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/in-a-flash">In a Flash</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A multimedia resource for parents and carers, helping London pedestrians to stay safer.";}
        
            
        


 