
    
  



@{ViewBag.Title = "Barking Riverside extension";}
@{ViewBag.Keywords = "B,Barking and Dagenham,London Overground,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/barking-riverside-extension";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Barking Riverside extension</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Barking Riverside extension</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Barking Riverside extension will add 4.5km to the London Overground Gospel Oak to Barking line, and take it from Barking to a new station at Barking Riverside. The main works are in progress. Train services will start in December 2021.
        
      </div>
    
    <div class="on-this-page">
      <p>The extension - which includes 4.5km of new track - is one of several transport measures designed to serve the emerging development area at <a href="https://barkingriverside.london/">Barking Riverside</a>.</p>

<p>Barking Riverside is the largest housing development in east London, with planning permission for up to 10,800 new homes, as well as healthcare, shopping, community and leisure facilities. Without a new rail link in place, the full potential of the development at Barking Riverside cannot be achieved.</p>

<p>The Barking Riverside extension will be capable of operating four trains per hour from Barking station along the existing Tilbury line used by c2c between Fenchurch Street and Grays. After passing under the Renwick Road bridge the extension would then head south to a new station in the heart of the Barking Riverside development.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="H29PYRpGn9k" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<h2>London Riverside Opportunity Area</h2>

<p>Barking Riverside is part of the London Riverside Opportunity Area. In September 2015 the GLA adopted an Opportunity Area Planning Framework (OAPF) for the London Riverside area, setting out how over 26,000 new homes and 16,000 new jobs will be created for London. More information is on the <a href="https://www.london.gov.uk/what-we-do/planning/implementing-london-plan/opportunity-areas/opportunity-areas/london-riverside">London Riverside page on the GLA website</a>.</p>

<p>The extension will bring:</p>

<ul>
	<li>A 4.5km extension to Barking Riverside, from the Tilbury Loop line between Barking and Dagenham Dock stations to Barking Riverside</li>
	<li>Reconfiguration of Network Rail's Ripple Lane goods yard so the extension can connect to the Tilbury Loop</li>
	<li>Construction of a viaduct over the Ripple Lane yard. The viaduct will have to be built over the Tilbury Loop and foundations constructed between the HS1 tunnels</li>
	<li>Continuation of the viaduct for another 1.5km over Renwick Road and into the heart of Barking Riverside</li>
	<li>Construction of a new terminus station within the Barking Riverside town square. The station will have step-free access from street to train</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/bre-extension-map-july-2019.jpg" alt="Map showing route of Barking Riverside rail extension from Barking station to the new Barking Riverside station. Most of the route will be along the existing c2c line with new track at the end" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Benefits of the extension</h2>

<p>The Barking Riverside extension will:</p>

<ul>
	<li>Enable construction of 10,800 homes at Barking Riverside, plus a new school, healthcare facilities and a new district centre with commercial and leisure facilities, high-quality public spaces and connections to walking and cycling routes</li>
	<li>Provide a transport link to Barking town centre and its District and Hammersmith &amp; City Tube services and c2c services to London Fenchurch Street and Essex, along with a connection to the Elizabeth line at Wanstead Park</li>
	<li>Create reliable public transport within Barking Riverside</li>
	<li>Improve transport accessibility - Barking Riverside station will offer a step-free entry point to other London Overground services</li>
	<li>Offer a sustainable public transport alternative to car travel</li>
</ul>

<p>We are also developing a series of transport improvements in the area, including enhancements to the bus network and the creation of a <a href="https://consultations.tfl.gov.uk/cycling/barking-riverside/">street network that promotes walking and cycling</a>.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bre-station-entrance.jpg" alt="Barking Riverside station" />
                <figcaption>
<span class="figure-title">Barking Riverside station</span>
<span class="figure-description">Station entrance</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bre-west-facing-elevation.jpg" alt="Barking Riverside station " />
                <figcaption>
<span class="figure-title">Barking Riverside station </span>
<span class="figure-description">West-facing elevation</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bre-platform-canopy-night.jpg" alt="Barking Riverside station" />
                <figcaption>
<span class="figure-title">Barking Riverside station</span>
<span class="figure-description">Platform canopy</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bre-box-canopy-night.jpg" alt="Barking Riverside station" />
                <figcaption>
<span class="figure-title">Barking Riverside station</span>
<span class="figure-description">Station box canopy</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bre-box-canopy.jpg" alt="Barking Riverside station" />
                <figcaption>
<span class="figure-title">Barking Riverside station</span>
<span class="figure-description">Station box canopy</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bre-station-night.jpg" alt="Barking Riverside station" />
                <figcaption>
<span class="figure-title">Barking Riverside station</span>
<span class="figure-description">Station</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Works until winter 2020/21</h2>

<p>Work needed to complete the extension is being done across multiple sites:</p>

<h3>Work on rail systems on the Network Rail corridor and viaduct</h3>

<ul>
	<li>Completion of track laying and signalling reconfiguration</li>
	<li>Removal of previously unidentified buried services</li>
	<li>Completion of the remaining pier construction and viaduct cross beams</li>
	<li>Track installation on the viaduct</li>
</ul>

<h3>The build of Barking Riverside station</h3>

<ul>
	<li>Completion of all piers</li>
	<li>Completion of the station superstructure</li>
</ul>

<h2>Works completed to date</h2>

<p>In summer 2019 we took temporary possession of railway sections between Barking and Dagenham Dock.</p>

<p>During this phase of work, we:</p>

<ul>
	<li>Re-configured and tested new overhead electric lines</li>
	<li>Installed signal systems and telecommunications</li>
	<li>Configured and aligned the track</li>
	<li>Creating piling for a new pier that will support the viaduct</li>
	<li>Built a new ramp that will connect to the planned viaduct structure which will carry the extension to Barking Riverside</li>
</ul>

<p>Other significant works completed include:</p>

<ul>
	<li>Installation of new rail track and services</li>
	<li>Piling and structure installation for overhead line equipment</li>
	<li>Engineering trains for delivery of track</li>
	<li>Installation of foundations for the viaduct piers</li>
	<li>Construction of some piers and viaduct cross beams</li>
	<li>Piling near High Speed 1 tunnels</li>
</ul>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="zLjwNajYvho" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Minimising disruption</h2>

<p><strong>Safe practices:</strong> Specially trained site personnel will oversee all vehicles driving into the work sites. We also have plans for vehicle holding areas to manage the flow of vehicles to the site.</p>

<p><strong>Authorised routes:</strong> We will ensure that only roads suitable for our vehicles are used, including:</p>

<ul>
	<li>A13 - River Road/Movers Lane junction</li>
	<li>Choats Road - Choats Manor Way junction</li>
	<li>Renwick Road junction</li>
</ul>

<p><strong>Working hours:</strong> Our core construction deliveries and collections will be:</p>

<ul>
	<li>Monday-Friday&nbsp;08:00-18:00</li>
	<li>Saturday&nbsp;08:00-13:00</li>
</ul>

<p>During school term time extra restrictions on deliveries will apply:</p>

<ul>
	<li>Monday-Friday 08:00-09:00 and 15:00-16:15</li>
</ul>

<p>This will apply to River Road, Renwick Road, and Choats Road</p>

<p><strong>Measures to reduce noise, dirt and vibrations:</strong> We will use noise-reducing acoustic barriers where appropriate, and wheel washers&nbsp;so dirt does not spread to local roads. We will also use the best type of machinery and equipment available to do the work.</p>

<h3>Our contractor</h3>

<p>We are delivering this project with the MSVF joint venture of <a href="https://construction.morgansindall.com">Morgan Sindall Construction &amp; Infrastructure</a> and <a href="https://www.volkerfitzpatrick.co.uk">VolkerFitzpatrick</a>.</p>
</div>
 

<ul class="logo-list">
	<li class="featured-item">
		<a href="http://www.railtechnologymagazine.com/London-Underground-and-TfL/tfl-awards-196m-contract-for-barking-riverside-overground-extension-"></a>
	</li>
	<li>
	    
<a href="https://construction.morgansindall.com/"><img src="/cdn/static/cms/images/logos/morgan-sindall-corp-logo.jpg" alt="morgan sindall logo"></a>
<a href="https://www.volkerfitzpatrick.co.uk/"><img src="/cdn/static/cms/images/logos/volker-fitzpatrick-logo.jpg" alt="volkerfitzpatrick logo"></a>
<a href="http://www.railtechnologymagazine.com/London-Underground-and-TfL/tfl-awards-196m-contract-for-barking-riverside-overground-extension-"><img src="/cdn/static/cms/images/logos/msvf-logo.jpg" alt="msvf logo"></a>
	</li>
</ul>
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>Call with questions or comments about the scheme:</p>

<p><strong>Phone:</strong> 0343 222 1234 (24 hours - <a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Construction on this extension to London Overground is underway - train services should begin in 2021";}
        
            
        


 