
    
  



@{ViewBag.Title = "Four Lines Modernisation";}
@{ViewBag.Keywords = "F,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/four-lines-modernisation";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Four Lines Modernisation</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Four Lines Modernisation</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are transforming the Circle, District, Hammersmith & City and Metropolitan lines. When the work is completed in 2023, increased capacity and boosted reliability will make journeys faster and more comfortable.
        
      </div>
    
    <div class="on-this-page">
      <p>Because these lines share a lot of track and infrastructure, they are being modernised under a single combined and integrated project, Four Lines Modernisation (4LM).</p>

<ul>
	<li><a href="/travel-information/improvements-and-projects/metropolitan-line-signalling">Find out about signalling issues on the Metropolitan line</a></li>
</ul>

<p>Watch how we're transforming the Circle, District, Hammersmith &amp; City and Metropolitan lines.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="jhsFWSO4mA8" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 
<div>




<p>The four lines are among some of the oldest sections of the Underground network, with parts dating back to 1863. Together they make up 40% of the Tube network, with around a million passenger journeys each day.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/four-lines-map.pdf">
    <div class="document-download-text">
        <p>Geographical map of the four lines</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 211KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/4lm-map-detail.jpg" alt="Map of the four sub-surface Tube lines" />
    </div>

</a>

<!-- 0.21 -->
 
</div>
<p>Some equipment used on these lines is old and needs to be replaced. We're introducing new technology that will reduce journey times and increase capacity - essential to support London's growing population.</p>
<p>This project will require some line closures. To stay up-to-date you can <a href="http://www.twitter.com/tfltravelalerts">follow &#64;TfLTravelAlerts on Twitter</a>, check <a href="/plan-a-journey/index">Journey Planner</a> and <a href="/travel-information/social-media-and-email-updates/email-updates">sign up to our email alerts</a>.</p>
</div>
 <div>

<h2>New trains</h2>

<p>A fleet of 192 modern, air-conditioned, walk-through S-stock trains&nbsp;run&nbsp;across the Circle, Hammersmith &amp; City, District and Metropolitan lines.</p>

<p>These trains are longer and more spacious than the old trains they replaced. The train doors are also bigger, creating extra space for more people to get on and off at stations. This speeds up journeys.</p>

<p>The&nbsp;trains also have&nbsp;improved audio and visual information, dedicated wheelchair spaces and colour contrasting interiors.</p>

<h2>New track and drainage</h2>

<p>By replacing old and worn out track and points your journeys will be quieter and smoother. Coupled with brand new drainage systems, they will be more reliable during bad weather.</p>

<p>Better drainage means that the track is much less likely to flood, reducing delays to journeys because of signal failures, as well as fewer closures for maintenance and repair works.</p>

<h2>New signalling system</h2>

<p>Work to install a new signalling and control system began in summer 2016. This will eventually allow the trains to be driven automatically, with a train operator in the cab to open and close the doors. The train operator will be responsible for managing customer information and safety.</p>

<p>Similar technology introduced in recent years on the Jubilee and Northern lines improved performance. The new signalling system allows trains to be run closer together, meaning a more frequent service and shorter waiting times, allowing more people to be carried. This new technology will enable us to reduce delays and improve reliability.</p>

<p>The programme will allow us to operate 32 trains per hour, a 33% increase in peak-hour capacity. Installation work will require some line closures.</p>

<h2>Benefits</h2>

<ul>
	<li>A new fleet of air-conditioned trains, with brighter more spacious interiors, low floors and dedicated spaces for wheelchair users, CCTV and other improved features</li>
	<li>Space for more customers</li>
	<li>Faster journeys and reduced waiting times</li>
	<li>Fewer delays as safe but obsolete equipment - dating back to the 1920s in some places - is replaced with modern, computerised signalling and control systems</li>
	<li>Better live customer information on platforms and to smart devices</li>
</ul>

<h2>Timeline</h2>

<ul>
	<li>2017:&nbsp;start to install new signalling on the first section of track. Trains begin to be fitted with new on-board signalling equipment</li>
	<li>2018: new Hammersmith Service Control Centre opens. Improved reliability and customer information on sections of Circle and Hammersmith &amp; City lines</li>
	<li>2019: first section of new signalling is complete and goes into operational use</li>
	<li>2020: new signalling complete across central London</li>
	<li>2021: initial improvements to journey times in central London and to Barking - up to 30 trains per hour during the peak</li>
	<li>2022: final section of new signalling system completed. Trains increased to 32 per hour in central London and to Barking during peak times</li>
	<li>2023: more trains on the Metropolitan line at peak times. Increased services on the busiest sections and better customer information</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/campaign/tube-improvements"  class="plain-button">Improving the Tube</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are transforming the Circle, District, Hammersmith & City and Metropolitan lines to increase capacity and boost reliability, making journeys faster and more comfortable";}
        
            
        


 