
    
  


<!-- rhroot -->
@{ViewBag.Title = "Northern line extension";}
@{ViewBag.Keywords = "Tube passengers,N,Wandsworth,Consultation,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/northern-line-extension";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Northern line extension</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Northern line extension</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Northern line extension (NLE) between Kennington and Battersea will help regenerate the Vauxhall, Nine Elms and Battersea areas by supporting new jobs and homes. The extension is scheduled to be completed in autumn 2021.
        
      </div>
    
    <div class="on-this-page">
      <p>Two new stations are being built at Nine Elms and Battersea Power Station.</p>
      
           
      <div>

<h2>Main worksites</h2>

<ul>
	<li>Battersea Power Station (new station)</li>
	<li>Kennington Green (headhouse)</li>
	<li>Kennington Park (headhouse)</li>
	<li>Kennington Tube station (new cross passages)</li>
	<li>Nine Elms next to Wandsworth Road and Pascal Street (new station)</li>
</ul>

<p>The joint venture Ferrovial Agroman Laing O'Rouke is designing and building the NLE.</p>

<p><a href="https://tfl.gov.uk/info-for/media/press-releases/2017/november/breakthrough-for-northern-line-extension-tunnelling-machin">Main tunnelling finished</a> in November 2017 after&nbsp;two tunnels were created&nbsp;between Battersea and new shafts at Kennington Green and Kennington Park.</p>

<p>Documents related to the project, including those in support of our Transport &amp; Works Act Order (TWAO) application, noise monitoring reports and all but the most recent community communications, are on the <a href="/corporate/publications-and-reports/northern-line-extension">Northern line extension page in Publications &amp; reports</a>.</p>

<h2>Tube map of proposed extension</h2>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/nle-map-october-2015.gif" alt="Northern line extension tube map" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Benefits of the NLE</h2>

<p>The NLE will improve transport links and public spaces in the Vauxhall, Nine Elms and Battersea area, a designated regeneration area on the South Bank.</p>

<p>Up to 25,000 jobs and 20,000 new homes could be created. Journey times from Nine Elms or Battersea to the West End or the City will, in some cases, be less than 15 minutes.</p>

<p>An independent report on the economic impact of the NLE has shown it could generate substantial benefits to the area.</p>

<p>The extension is supported by the Mayor of London and Wandsworth, Lambeth and Southwark councils.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-battersea-crossover-diamond.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Diamond crossover track installed at Battersea</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-first-engineering-train.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">First engineering train to travel into the Northern line extension</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-tunnel-boring-machine.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Tunnel boring machine breaks through at Kennington</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-shuttering-on-eastern-superstructure.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Shuttering at Nine Elms station</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-kennington-park.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Iron rings around the existing Northern line at Kennington Park</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-tunnels-with-rail-and-bracketry.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Tunnels and track</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-start-of-tunnelling.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Main tunnelling begins</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-start-of-tunnelling-belt.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Main tunnel works begin</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-lifted.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>
<span class="figure-description">Tunnel boring machines Helen and Amy are moved in</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-lowering.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-lowering-side.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-in-place.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/nle-boring-machine-end.jpg" alt="Northern line extension" />
                <figcaption>
<span class="figure-title">Northern line extension</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
<div>



<h2>Kennington</h2>


<h3>New head houses/shafts</h3>

<p>As part of the project we're building two new head houses and shafts at Kennington Green and Kennington Park. These will provide ventilation and emergency access to the Tube once the extension is open.</p>

<p>More information is on the <a href="https://consultations.tfl.gov.uk/nle/kennington-green">Kennington Green consultation page</a> and the <a href="https://consultations.tfl.gov.uk/nle/kennington-park/">Kennington Park consultation page.</a></p>
<div class="multi-document-download-container">
    
</div>

</div>
 
<div>




<h3>Monitoring passenger movements in Kennington station</h3>
<p>We have sent Southwark Council our proposal for monitoring passenger movements at Kennington Tube station. This analysis will be used to compare forecast and actual passenger numbers, get insight into people's movements through the station and to ensure our customers' safety.</p>
<p>This protocol is required by Southwark as part of our approval to build and operate the Northern line extension. You can comment on the method we propose on <a href="http://planbuild.southwark.gov.uk:8190/online-applications/applicationDetails.do?activeTab=makeComment&amp;keyVal=_STHWR_DCAPR_9572215.">Southwark's planning application portal</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/northern-line-extension-condition-19-protocol.pdf">
    <div class="document-download-text">
        <p>Proposed protocol for monitoring passenger numbers at Kennington station</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 333KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 
</div>

</div>
 
<div>



<h2>Latest updates</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/battersea-update-sep-nov19.pdf">
    <div class="document-download-text">
        <p>Battersea Power Station update - September to November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 470KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-green-update-dec-feb20.pdf">
    <div class="document-download-text">
        <p>Kennington Green update - December 2019 to February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 208KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-park-update-dec-feb20.pdf">
    <div class="document-download-text">
        <p>Kennington Park update - December 2019 to February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 178KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nine-elms-progress-update-jan-mar-2020.pdf">
    <div class="document-download-text">
        <p>Nine Elms update - January to March 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 382KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 
</div>

</div>
 <div>

<h2>Community Liaison Groups (CLGs)</h2>

<p>We are committed to engaging with the communities and stakeholders that may be affected by the NLE.</p>

<p>Four CLGs meet quarterly. These consider local issues specific to work sites and tunnelling along the route:</p>

<ul>
	<li>Battersea CLG</li>
	<li>Kennington Green CLG</li>
	<li>Kennington Park and Newington CLG</li>
	<li>Nine Elms and Oval CLG</li>
</ul>

<p>These public&nbsp;meetings are chaired by councillors and held in public. Residents are welcome to attend as observers.</p>
</div>
 
<div>




<h3>Most recent presentations</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/battersea-clg-presentation-6feb20.pdf">
    <div class="document-download-text">
        <p>Battersea CLG presentation - February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-green-update-28jan20.pdf">
    <div class="document-download-text">
        <p>Kennington Green CLG presentation - January 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-park-clg-presentation-30jan20.pdf">
    <div class="document-download-text">
        <p>Kennington Park CLG presentation - January 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.98 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nine-elms-clg-presentation-4feb20.pdf">
    <div class="document-download-text">
        <p>Nine Elms CLG presentation - February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.58 -->
 
</div>

</div>
 
<div>




<h3>Latest CLG minutes</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-battersea-clg-minutes-21nov19-approved.pdf">
    <div class="document-download-text">
        <p>Battersea CLG minutes - November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-green-clg-minutes-8apr19-approved.pdf">
    <div class="document-download-text">
        <p>Kennington Green CLG minutes - April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-park-clg-minutes-14nov19-approved.pdf">
    <div class="document-download-text">
        <p>Kennington Park CLG minutes - November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nine-elms-clg-minutes-19nov19-approved.pdf">
    <div class="document-download-text">
        <p>Nine Elms CLG minutes - November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 390KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
</div>

</div>
 
<div>



<h2>Ground movement contours</h2>


<p>The NLE works will cause some ground movement which may affect some properties close to the work sites and above the running tunnel routes. Properties in these areas are shown within the blue line on the drawing below.</p>
<p>All residents affected have been contacted for a defects survey.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nle-routewide-ground-movement-contours.pdf">
    <div class="document-download-text">
        <p>NLE route-wide ground movement contours</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.27 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/northern-line-extension" class="heading">
                    <h2 id="sub-menu-heading">Northern line extension<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/northern-line-extension/consultation">Consultation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/northern-line-extension/sign-up-for-updates">Sign up for updates</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact the NLE team</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 2424 (24 hours)
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:nle&#64;tfl.gov.uk">nle&#64;tfl.gov.uk</a></p>
        </div>
        
        
    </div>
</div>
 <div class="follow-social email">
  
  <div class="social-image">
    <span class="mode-icon underground">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>NLE updates</h3>
    <p>Sign up here to receive the latest news about the Northern line extension</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/improvements-and-projects/sign-up-for-updates">Sign up for NLE updates</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/nine-elms" class="plain-button">Nine Elms</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.nineelmslondon.com/" class="plain-button">Nine Elms on the South Bank</a>
<a href="http://www.wandsworth.gov.uk/info/200536/nine_elms" class="plain-button">Wandsworth Council website</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Work is in progress to extend the Northern line to Nine Elms and Battersea";}
        
            
        


 