
    
  



@{ViewBag.Title = "Old Street roundabout";}
@{ViewBag.Keywords = "Cyclists,Drivers,Pedestrians,O,Hackney,Islington,Consultation,Roads,Cycling,Driving,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/old-street-roundabout";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Old Street roundabout</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Old Street roundabout</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're working closely with Islington and Hackney Councils to make Old Street roundabout more pedestrian- and cycle-friendly. We aim to finish the main works in October 2020.
        
      </div>
    
    <div class="on-this-page">
      <p>Removing the&nbsp;roundabout and returning the&nbsp;traffic to two-way will let us improve pedestrian crossings and add segregated cycle lanes. A new public space to be built around a new station entrance will make it easier to walk into and around the station and change between trains and buses</p>

<h2>Switching traffic to two-way</h2>

<p>Old Street roundabout is now running with two-way traffic.</p>

<p>The southeastern arm of the roundabout is temporarily closed to vehicles. The right turn from Old Street west in City Road south is permanently banned.</p>

<p>Take extra care when walking, cycling and driving in the area - traffic may be coming from a different direction than you're used to.</p>

<p><a href="/status-updates/major-works-and-events/old-street-roundabout">Find out more about how your journey may be affected.</a></p>

<h3>Final road layout</h3>

<p>Although traffic will flow in two directions after this switchover, the final road layout at Old Street will only be in place when we close off the northwestern arm of the roundabout in spring 2020. We'll update this page with details closer to the time.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/old-street-roundabout-revised-consultation-plan.pdf">
    <div class="document-download-text">
        <p>Old Street roundabout - map of proposed changes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/old-street-roundabout-map-thumb.jpg" alt="Map of proposed changes at Old Street roundabout" />
    </div>

</a>

<!-- 1.49 -->
 
</div>

</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/old-street-main-entrance-day.jpg" alt="Old Street" />
                <figcaption>
<span class="figure-title">Old Street</span>
<span class="figure-description">Main entrance view - day time</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/old-street-main-entrance-night.jpg" alt="Old Street" />
                <figcaption>
<span class="figure-title">Old Street</span>
<span class="figure-description">Main entrance view - night time</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>What we're doing</h2>

<p>As part of the scheme we will:</p>

<ul>
	<li>Remove the existing roundabout and close the northwest arm to create a new public space</li>
	<li>Switch road traffic movements to two-way</li>
	<li>Remodel the entrances to the Tube station by closing three of the four existing subway entrances. These will be replaced by two new station entrances,&nbsp;one accessible from Cowper Street and a main station entrance with a green roof to complement the public space and environment</li>
	<li>Improve facilities for pedestrians and cyclists travelling through the junction with segregated cycle lanes and signal-controlled pedestrian crossings</li>
	<li>Build two new lifts to the St Agnes Well mall retail concourse.&nbsp;One will be a designated public lift and the other a service lift for the retail business and Tube station</li>
</ul>

<h2>The works</h2>

<h3>Phase A - enabling works and site investigations</h3>

<p><strong>We have:</strong></p>

<ul>
	<li>Completed trial hole investigations on the pedestrianised area of Cowper Street</li>
	<li>Closed the end of Cowper Street nearest to the roundabout for pedestrians until early 2020. This lets us finish these works and build the new Cowper Street station entrance</li>
</ul>

<h3>Phase B - advanced highway works</h3>

<h4><strong>We have:</strong></h4>

<ul>
	<li>Removed the traffic islands on all four arms of the roundabout to make sure traffic flows safely during&nbsp;Phase C</li>
	<li>Closed the southeastern pedestrian subway (Subway 2) leading to St Agnes Well and the Tube</li>
</ul>

<h3>Phase C &#45; main works</h3>

<h4>Since May 2019 we have:</h4>

<ul>
	<li>Closed the southeastern arm of the roundabout to traffic. Two-way traffic is now running around the junction</li>
	<li>Created dedicated cycle and pedestrian routes through the works site</li>
	<li>Installed&nbsp;a temporary service lift</li>
	<li>Completed diversion of a 24-inch Thames Water main</li>
</ul>

<p>Other works in this phase include:</p>

<ul>
	<li>Building the new entrance at Cowper Street and subway works</li>
	<li>Structural works to prepare for construction of new main entrance</li>
	<li>Highways and drainage works on the southeastern arm</li>
</ul>

<h3>Phase D - main works</h3>

<h4>Spring 2020 - October 2020</h4>

<p>Main works will include:</p>

<ul>
	<li>Closing the northwestern arm of the roundabout to traffic</li>
	<li>Building a new main station entrance</li>
	<li>Building two new lifts into St Agnes Well mall</li>
	<li>Transforming the roundabout into a new public space</li>
	<li>Permanently closing Subways 1 and 3</li>
</ul>

<p>These works will be done Monday-Saturday, 07:00-19:00 with some night works between 20:30-05:30 because of Tube operations.</p>

<h2>Public drop-in sessions</h2>

<p>We hold weekly public drop-in sessions to share more about the Old Street roundabout improvement works.</p>

<p>When:</p>

<ul>
	<li>Every Monday, 11:00-13:00</li>
	<li>Every Tuesday, 11:00-13:00</li>
	<li>Second and fourth Wednesday of every month, 17:00-19:00</li>
</ul>

<p>Where: Serata Hall, a bar and restaurant at 207 Old Street, London EC1V 9NR (exit the Tube station from Subway 4)</p>

<p>These sessions are run in collaboration with Islington Council.</p>

<h2>Contact</h2>

<p>Our dedicated public liaison officer can answer questions about the works:</p>

<p>Email: <a href="mailto:david.kingston&#64;morgansindall.com?subject=Old%20Street%20roundabout%20works">david.kingston&#64;morgansindall.com</a></p>

<p>For general information about the project:</p>

<p>Email: <a href="mailto:OldStreetroundabout&#64;tfl.gov.uk">OldStreetroundabout&#64;tfl.gov.uk</a></p>

<h2>Consultation</h2>

<p>A public consultation on the proposals for Old Street was held between November 2014 and January 2015.</p>

<p>More than 1,300 comments were received. The headline results:</p>

<ul>
	<li>87% of respondents believed that the proposals would improve conditions for pedestrians and cyclists</li>
	<li>63% believed that bus and tube passengers would also benefit</li>
</ul>

<p>See the full consultation report on the <a href="https://consultations.tfl.gov.uk/roads/old-street-roundabout">Old Street roundabout consultation page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:OldStreetroundabout&#64;tfl.gov.uk">OldStreetroundabout&#64;tfl.gov.uk</a><br />
<br />
<strong>Contact us if you have questions or comments about the scheme.</strong></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/tube-improvements" class="plain-button">Tube improvement</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Work to make the Old Street area more pedestrian and cycle-friendly includes removing the roundabout";}
        
            
        


 