
    
  



@{ViewBag.Title = "Preparing for the Elizabeth line";}
@{ViewBag.Keywords = "Passengers with accessibility needs,Public,Rail passengers,Tube passengers,Visitors,C,E,T,Barking and Dagenham,Bexley,Camden,City of London,Ealing,Greenwich,Havering,Hillingdon,Islington,Newham,Redbridge,Tower Hamlets,Westminster,Accessible travel,Boroughs,Rail improvements,Safety and security,Crossrail,Rail,TfL Rail,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/preparing-for-the-elizabeth-line";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
                 <li><a href="/travel-information/improvements-and-projects/elizabeth-line">Elizabeth line</a></li>
                
            
            
                <li><span class="last-breadcrumb">Preparing for the Elizabeth line</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Preparing for the Elizabeth line</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Elizabeth line will stretch more than 60 miles from Reading and Heathrow in the west through central tunnels to Shenfield and Abbey Wood in the east. Many improvements are being made to get ready.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>TfL Rail&nbsp;services to Reading</h2>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/tfl-rail-class-345-438_rdax_400x250.jpg" alt="TfL Rail class 345 train" />
        
        
        
    </div>
    <p>TfL Rail now runs stopping services from Paddington to Reading.</p>

<p>During peak times, services from Reading run every 15 minutes. Two trains an hour will run during off-peak. A <a href="/modes/tfl-rail/tfl-rail-timetables">new TfL Rail timetable</a>&nbsp;introduced on 15 December 2019 shows changes to train and departure times.</p>

<p>Children under 11 and Freedom Pass holders are able to travel for free. Existing ticketing arrangements will apply and fares will remain at the current price. New fares and contactless will be introduced on 2 January 2020.</p>

<p>The TfL Rail service between Paddington and Reading will become part of the new Elizabeth line when it launches.</p>

<p>TfL Rail currently operates between Paddington, Hayes &amp; Harlington and Heathrow Terminals 2&amp;3 and 4 as well as Liverpool Street to Shenfield in the east.</p>
 </div>
 <div>

<h2>Improvements along the TfL Rail route</h2>

<p>Improvements to services and station facilities are well&nbsp;underway across the&nbsp;TfL Rail route.<br />
New features include:</p>

<ul>
	<li><strong>Station staff from first to last train: </strong>If you need assistance there is no need to pre-book&nbsp;—&nbsp;staff will be on hand to help you</li>
	<li><strong>New trains: </strong>These new high-capacity trains feature air-conditioned walk-through carriages and&nbsp;include dedicated wheelchair spaces as well as separate multi-use spaces which can also be used for buggies, luggage and bicycles. A fleet of 70 new 200 metre trains will serve the Elizabeth line when it is completed</li>
	<li><strong>Wi-Fi on new trains: </strong>Free onboard Wi-Fi is gradually being introduced on the new trains that will form the Elizabeth line. If you're travelling on one of the new trains between Liverpool Street to Shenfield or Paddington to Reading, look for the signage to see if you can sign on. When completed, all Elizabeth line trains will be equipped with free on-board Wi-Fi<br />
	&nbsp;</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/elizabeth-line-tcr-int.jpg" alt="Tottenham Court Road Elizabeth line station, interior" />
        
        
        
    </div>   
 </div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
  </ul>
</div>
 <div>

<h2>New stations in central London</h2>

<p>Around 200 million passengers will travel on the Elizabeth line each year so the new stations need to cope with large numbers of passengers, be easy to navigate and&nbsp;accessible for everyone. Each of the ten new stations will have its own, distinct character, conceived by different architects which reflect the environment and heritage of the local area.</p>

<h2>Improvements in existing stations</h2>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/ilford-station-exterior-700x438_rdax_400x250.jpg" alt="Ilford station" />
        
        
        
    </div>
    <ul>
	<li><strong>New and improved buildings: </strong>Brighter and more&nbsp;spacious ticket halls and waiting areas are being installed&nbsp;at a number of stations</li>
	<li><strong><a href="/travel-information/improvements-and-projects/step-free-access">Step-free access</a> at every station: </strong>New lifts and footbridges are being installed to provide step-free access and better walking routes</li>
	<li><strong>Platform enhancements: </strong>New signage, help points, information screens and CCTV to&nbsp;help get your journey off to a good start</li>
</ul>
 </div>
 <div>

<h2>Major upgrades&nbsp;to&nbsp;the eastern and western sections</h2>

<p>The eastern and western sections of the Elizabeth line route runs on the existing track network between Liverpool Street and Shenfield, and Paddington to Heathrow and Reading, until the central section of the Elizabeth line opens. During this time a number of major upgrades are being carried out by Network Rail in preparation.</p>

<p>To find out more about Network Rail works visit these pages on their website:</p>

<ul>
	<li><a href="https://www.networkrail.co.uk/our-railway-upgrade-plan/key-projects/crossrail/">Crossrail project</a></li>
	<li><a href="https://www.networkrail.co.uk/running-the-railway/looking-after-the-railway/planned-works/">Planned works</a>, with information about weekend and holiday closures</li>
</ul>

<p>The Elizabeth line&nbsp;will provide quicker, easier, more reliable journeys for customers. Thank you for your patience during all of this Crossrail project work.</p>

<h2>Liverpool Street to Shenfield</h2>

<p>Improvements are being made at stations from Liverpool Street to Shenfield in preparation for the Elizabeth line.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="brentwood-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Brentwood station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="brentwood-station-heading" class="accordion-heading">Brentwood station</div>
            </div>
            <div id="brentwood-station-content" class="start-hidden" role="region" aria-labelledby="brentwood-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Restored the station building and redecorated throughout to make the station cleaner and brighter</li>
	<li>Refurbished the ticket office and installed new digital information screens&nbsp;</li>
	<li>Installed new ticket machines and ticket gates to help make journeys easier</li>
	<li>Refurbished the waiting rooms and toilets&nbsp;</li>
	<li>Made the station more accessible with new ticket office windows and accessible toilets</li>
	<li>Installed a water fountain and added new benches on the platforms</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>Longer platforms for the new trains</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="chadwell-heath-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Chadwell Heath station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="chadwell-heath-station-heading" class="accordion-heading">Chadwell Heath station</div>
            </div>
            <div id="chadwell-heath-station-content" class="start-hidden" role="region" aria-labelledby="chadwell-heath-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Restored the station building and redecorated throughout to make the station cleaner and brighter</li>
	<li>Refurbished the ticket office and installed new digital information screens&nbsp;</li>
	<li>Installed new ticket machines and ticket gates to help make journeys easier</li>
	<li>Refurbished the waiting room and installed a new waiting shelter</li>
	<li>Made the station more accessible with new ticket office windows and an accessible toilet</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>Longer platforms for the new trains</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="forest-gate-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Forest Gate station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="forest-gate-station-heading" class="accordion-heading">Forest Gate station</div>
            </div>
            <div id="forest-gate-station-content" class="start-hidden" role="region" aria-labelledby="forest-gate-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Refurbished the station building and improved lighting to make the station cleaner and brighter</li>
	<li>Refurbished the ticket office and installed new ticket machines and digital information screens</li>
	<li>Installed new lifts to provide step-free access from the street to platforms 1,2 and 3</li>
	<li>Refurbished the waiting shelter on platform 1 and added new benches on platforms</li>
	<li>Made the station more accessible with new ticket office windows and an accessible toilet</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>Longer platforms for the new trains</li>
	<li>A new lift offering step-free access from the street to platform 4</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="gidea-park-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Gidea Park station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="gidea-park-station-heading" class="accordion-heading">Gidea Park station</div>
            </div>
            <div id="gidea-park-station-content" class="start-hidden" role="region" aria-labelledby="gidea-park-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Restored the station building and redecorated throughout to make the station cleaner and brighter</li>
	<li>Installed two new lifts providing step-free access from the street to all platforms</li>
	<li>Installed new ticket machines at both entrances to help make journeys easier</li>
	<li>Refurbished the ticket office and installed new digital information screens&nbsp;</li>
	<li>Made the station more accessible with new ticket office windows and an accessible toilet</li>
	<li>Refurbished the waiting rooms and toilets and added new benches on the platforms</li>
</ul>

<h3>What's next</h3>

<p>Network Rail's work to upgrade the station is expected to be completed in line with the full Elizabeth line opening and will include:</p>

<ul>
	<li>Longer platforms for the new trains</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="goodmayes-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Goodmayes station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="goodmayes-station-heading" class="accordion-heading">Goodmayes station</div>
            </div>
            <div id="goodmayes-station-content" class="start-hidden" role="region" aria-labelledby="goodmayes-station-heading">
<h3>What we've&nbsp;done so far</h3>

<ul>
	<li>Restored the station building and redecorated throughout to make the station cleaner and brighter</li>
	<li>Installed two new lifts providing step-free access from the street to platforms 2,3 &amp; 4</li>
	<li>Installed new ticket machines and ticket gates to help make journeys easier</li>
	<li>Installed a new waiting shelter, benches on the platforms and an accessible toilet</li>
</ul>

<h3>What's next</h3>

<p>Network Rail is improving this&nbsp;station:</p>

<ul>
	<li>Longer platforms for the new trains</li>
	<li>New lift to platform 4</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="harold-wood-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Harold Wood station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="harold-wood-station-heading" class="accordion-heading">Harold Wood station</div>
            </div>
            <div id="harold-wood-station-content" class="start-hidden" role="region" aria-labelledby="harold-wood-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Restored the station building and redecorated throughout to make the station cleaner and brighter</li>
	<li>Refurbished the waiting rooms and added new benches on the platforms</li>
	<li>Refurbished the toilets and made them accessible</li>
	<li>Installed four new lifts providing step-free access to platforms</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>A refurbished ticket hall with new ticket gates and ticket machines</li>
</ul>

<p>Until the new ticket hall has been refurbished, access to trains and tickets continues to be via the car park entrance on Station Road only.</p>

<p>During this time, there are 81 car park spaces available. Season ticket holders and disabled space users can use alternative spaces. Other users may find it easier to use the car park at nearby Brentwood station.</p>

<p>Take care on the extra stairs, or take an eastbound train to Brentwood and change there to a westbound train. Alternatively, speak to a member of staff for advice.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ilford-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Ilford station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ilford-station-heading" class="accordion-heading">Ilford station</div>
            </div>
            <div id="ilford-station-content" class="start-hidden" role="region" aria-labelledby="ilford-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Created a new entrance from York Road with ticket gates, digital information screens and a new ticket machine</li>
	<li>Redecorated throughout to make the station cleaner and brighter</li>
	<li>Refurbished the waiting room with USB ports for phone charging</li>
	<li>Added new benches on the platforms</li>
	<li>Refurbished the toilets</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>Longer platforms for the new trains</li>
	<li>Two new station entrances on Cranbrook Road and Ilford Hill</li>
	<li>A new ticket hall and ticket gates to ease congestion at peak times</li>
	<li>Three new lifts to provide step-free access to platforms</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="manor-park-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Manor Park station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="manor-park-station-heading" class="accordion-heading">Manor Park station</div>
            </div>
            <div id="manor-park-station-content" class="start-hidden" role="region" aria-labelledby="manor-park-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Installed a new footbridge and lifts to provide step-free access from street level to all platforms</li>
	<li>Refurbished the ticket hall and installed new digital information screens and ticket machines</li>
	<li>Refurbished the platforms and added new benches</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>A new accessible toilet</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="maryland-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Maryland station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="maryland-station-heading" class="accordion-heading">Maryland station</div>
            </div>
            <div id="maryland-station-content" class="start-hidden" role="region" aria-labelledby="maryland-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Refurbished the station entrance and installed new ticket gates and ticket machines</li>
	<li>Installed three new lifts providing step-free access from street to all platforms</li>
	<li>Refurbished the platforms and added new benches</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>New digital information screens</li>
	<li>A new accessible toilet</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="romford-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Romford station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="romford-station-heading" class="accordion-heading">Romford station</div>
            </div>
            <div id="romford-station-content" class="start-hidden" role="region" aria-labelledby="romford-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Redecorated all platforms and added new benches</li>
	<li>Installed new ticket machines</li>
	<li>Refurbished the toilets</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>A major rebuild of the existing station entrance and a new south entrance with a ticket hall and ticket gates</li>
	<li>New lifts to provide step- free access to platforms</li>
	<li>New accessible toilet on platform 5</li>
	<li>Longer, refurbished platforms for the new trains</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="seven-kings-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Seven Kings station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="seven-kings-station-heading" class="accordion-heading">Seven Kings station</div>
            </div>
            <div id="seven-kings-station-content" class="start-hidden" role="region" aria-labelledby="seven-kings-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Created a brighter and more open ticket hall with new, digital information screens and accessible ticket office windows</li>
	<li>Built a footbridge and installed lifts providing step-free access from street level to all platforms</li>
	<li>Refurbished the waiting shelters and added new benches to platforms</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>Refurbishment of platform 3 toilets</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="shenfield-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Shenfield station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="shenfield-station-heading" class="accordion-heading">Shenfield station</div>
            </div>
            <div id="shenfield-station-content" class="start-hidden" role="region" aria-labelledby="shenfield-station-heading">
<p>A number of improvements are being delivered at Shenfield station in preparation for the new Elizabeth line services, including:</p>

<ul>
	<li>A new bay platform (platform 6) for Elizabeth line trains</li>
	<li>Platform extensions to accommodate the new 200 metre long Elizabeth line trains</li>
	<li>New station signs, help points, customer information screens and CCTV.</li>
</ul>

<p>In addition to the station improvements, new sidings have been constructed to the east of the station and significant track work has been carried out.</p>

<h3>What we've done so far</h3>

<p>Network Rail has upgraded tracks, signalling and overhead lines, and built a new platform. These improvements will mean more reliable services across the line. They also make way for the new trains to run in and out of the brand new platform.</p>

            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Paddington to Heathrow and Reading</h2>

<p>Improvements are being made at stations from Paddington to Heathrow and Reading in preparation for the Elizabeth line.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="acton-main-line-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Acton Main Line station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="acton-main-line-station-heading" class="accordion-heading">Acton Main Line station</div>
            </div>
            <div id="acton-main-line-station-content" class="start-hidden" role="region" aria-labelledby="acton-main-line-station-heading">
<p>What being done:</p>

<ul>
	<li>Building a new bright, spacious ticket hall with new ticket gates, ticket office and digital information screens</li>
	<li>Installing two new lifts and a new footbridge providing step-free access to platforms</li>
	<li>Extending platforms for the longer trains</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="burnham-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Burnham station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="burnham-station-heading" class="accordion-heading">Burnham station</div>
            </div>
            <div id="burnham-station-content" class="start-hidden" role="region" aria-labelledby="burnham-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Installed a lift to all platforms providing step-free access</li>
	<li>Added new ticket machines and digital information screens</li>
	<li>Added new benches on the platforms</li>
	<li>Improved cycle facilities outside the station</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ealing-broadway-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Ealing Broadway station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ealing-broadway-station-heading" class="accordion-heading">Ealing Broadway station</div>
            </div>
            <div id="ealing-broadway-station-content" class="start-hidden" role="region" aria-labelledby="ealing-broadway-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Installed new ticket machines</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>A new ticket hall with digital information screens and ticket gates</li>
	<li>Four new lifts providing step-free access from street to platforms</li>
	<li>New toilets and a new waiting room on platform 3</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hanwell-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Hanwell station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hanwell-station-heading" class="accordion-heading">Hanwell station</div>
            </div>
            <div id="hanwell-station-content" class="start-hidden" role="region" aria-labelledby="hanwell-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Installed new digital information screens</li>
	<li>Installed two new lifts providing step-free access from street to platform</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>Refurbishment of the ticket office and platforms</li>
	<li>A new waiting room on platform 2 and a refurbished waiting room on platform 3</li>
	<li>Refurbishment of the &nbsp;toilet and a new accessible toilet</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hayes-and-harlington-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Hayes & Harlington station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hayes-and-harlington-station-heading" class="accordion-heading">Hayes & Harlington station</div>
            </div>
            <div id="hayes-and-harlington-station-content" class="start-hidden" role="region" aria-labelledby="hayes-and-harlington-station-heading">
<h3>What we've done so far:</h3>

<ul>
	<li>Installed new ticket machines and new, digital information screens</li>
	<li>Added new benches to the platforms and a new waiting shelter on platforms 4 &amp; 5</li>
</ul>

<h3>What's next:</h3>

<ul>
	<li>A new, more spacious ticket hall and new ticket gates</li>
	<li>Four new lifts and a new footbridge providing step-free access to platforms</li>
	<li>New toilets</li>
	<li>Longer platforms for the new trains</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="iver-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Iver station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="iver-station-heading" class="accordion-heading">Iver station</div>
            </div>
            <div id="iver-station-content" class="start-hidden" role="region" aria-labelledby="iver-station-heading">
<p>Iver station will benefit from a number of improvements in preparation for Elizabeth line services.</p>

<h3>What we've done so far</h3>

<ul>
	<li>Refurbished the waiting rooms and added new benches on the platforms</li>
	<li>A new station building, with new ticket hall, ticket office and ticket gates and a new accessible toilet</li>
	<li>Three new lifts providing step-free access to all platforms</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>Longer platforms for the new trains</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="langley-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Langley station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="langley-station-heading" class="accordion-heading">Langley station</div>
            </div>
            <div id="langley-station-content" class="start-hidden" role="region" aria-labelledby="langley-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Added new benches on the platforms</li>
	<li>Installed new ticket machines</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>Refurbishment of the station building and a new ticket hall, ticket office and ticket gates</li>
	<li>Three new lifts and a new footbridge providing step-free access to all platforms</li>
	<li>A new south entrance with ticket gates</li>
	<li>Refurbished toilets and waiting room</li>
	<li>New digital information screens</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="maidenhead-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Maidenhead station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="maidenhead-station-heading" class="accordion-heading">Maidenhead station</div>
            </div>
            <div id="maidenhead-station-content" class="start-hidden" role="region" aria-labelledby="maidenhead-station-heading">
<p>Improvements are being carried out by Network Rail and are due to be completed when the Elizabeth line fully opens. These include:</p>

<ul>
	<li>Improvements to the ticket hall</li>
	<li>A new lift to platform 1</li>
	<li>Extended platforms for the longer trains</li>
	<li>New platform canopies to sccommodate overhead line equipment</li>
	<li>New signs, help points, customer information screens and CCTV</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="reading-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Reading station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="reading-station-heading" class="accordion-heading">Reading station</div>
            </div>
            <div id="reading-station-content" class="start-hidden" role="region" aria-labelledby="reading-station-heading">
<p>Reading station requires relatively little work to prepare for the new Elizabeth line service.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="slough-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Slough station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="slough-station-heading" class="accordion-heading">Slough station</div>
            </div>
            <div id="slough-station-content" class="start-hidden" role="region" aria-labelledby="slough-station-heading">
<p>Improvements are being carried out by Network Rail and are due to be completed when the Elizabeth line fully opens. These include:</p>

<ul>
	<li>Improved ticket gates at the southern entrance</li>
	<li>Extending platforms 2 to 5 for the longer trains</li>
	<li>Cutting back station canopies to accommodate overhead line equipment</li>
	<li>New signs, help points, customer information screens and CCTV</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="southall-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Southall station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="southall-station-heading" class="accordion-heading">Southall station</div>
            </div>
            <div id="southall-station-content" class="start-hidden" role="region" aria-labelledby="southall-station-heading">
<h3>What we've done so far:</h3>

<ul>
	<li>Installed new ticket machines and digital information screens</li>
	<li>Added new benches to the platforms</li>
</ul>

<h3>What's next:</h3>

<ul>
	<li>A new station building with a ticket hall and ticket gates</li>
	<li>Three new lifts and a new footbridge providing step free access to platforms</li>
	<li>Refurbished toilets and waiting rooms</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="taplow-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Taplow station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="taplow-station-heading" class="accordion-heading">Taplow station</div>
            </div>
            <div id="taplow-station-content" class="start-hidden" role="region" aria-labelledby="taplow-station-heading">
<h3>What we've done so far</h3>

<ul>
	<li>Refurbished the waiting room and added new benches to the platforms</li>
	<li>Three new lifts and a footbridge providing step-free access to platforms</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>Refurbished ticket hall and ticket office</li>
	<li>New ticket gates at the south entrance</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="twyford-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Twyford station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="twyford-station-heading" class="accordion-heading">Twyford station</div>
            </div>
            <div id="twyford-station-content" class="start-hidden" role="region" aria-labelledby="twyford-station-heading">
<p>Twyford station requires relatively little work to prepare for the new Elizabeth line service.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="west-drayton-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-West Drayton station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="west-drayton-station-heading" class="accordion-heading">West Drayton station</div>
            </div>
            <div id="west-drayton-station-content" class="start-hidden" role="region" aria-labelledby="west-drayton-station-heading">
<h3>What's been done so far</h3>

<ul>
	<li>Refurbished the ticket hall and installed new ticket machines and digital information screens</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>A footbridge and three new lifts to provide step-free access to every platform</li>
	<li>A bigger station entrance with new ticket gates</li>
	<li>Longer platforms for the new trains</li>
	<li>New toilets and waiting rooms</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="west-ealing-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-West Ealing station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="west-ealing-station-heading" class="accordion-heading">West Ealing station</div>
            </div>
            <div id="west-ealing-station-content" class="start-hidden" role="region" aria-labelledby="west-ealing-station-heading">
<h3>What's been done so far</h3>

<ul>
	<li>Added new benches to the platforms</li>
	<li>Installed new digital information screens</li>
</ul>

<h3>What's next</h3>

<ul>
	<li>A new station building with a ticket hall, ticket machines and ticket gates</li>
	<li>A new footbridge and two new lifts providing step free access to all platforms</li>
</ul>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/elizabeth-line" class="heading">
                    <h2 id="sub-menu-heading">Elizabeth line<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/preparing-for-the-elizabeth-line">Preparing for the Elizabeth line</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/new-trains">New trains</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/improving-accessibility">Improving accessibility</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're making improvements across the TfL Rail route to get them ready for the new line.";}
        
            
        


 