
    
  


<!-- rhroot -->
@{ViewBag.Title = "South Kensington station";}
@{ViewBag.Keywords = "Public,Tube passengers,K,S,Kensington and Chelsea,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/south-kensington";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">South Kensington station</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>South Kensington station</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We plan to improve accessibility and relieve congestion in South Kensington station. We're also proposing to develop our land around the station to create new homes, shops and office space as well as step-free access to the District and Circle lines.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/south-kensinton-station-exterior_rdax_400x250.jpg" alt="South Kensington station exterior" />
        
        
        
    </div>
    <p>South Kensington station's current ticket hall and the stairs to the District and Circle line platforms are often crowded. We want to make journeys through the station quicker and easier for our customers.</p>

<p>We were granted Listed Building Consent by the Royal Borough of Kensington and Chelsea (RBKC) in January 2018. Design work has continued since then&nbsp;while we wait to appoint a contractor.</p>

<h2>Station upgrade plans</h2>

<p>Our station upgrade is organised in phases. Phase one will add the extra&nbsp;room needed before the Piccadilly line escalators can be replaced.</p>

<h3>Phase one</h3>

<ul>
	<li>A new dedicated platform for eastbound District and Circle line services</li>
	<li>A canopy over the new platform designed to complement the historic retaining wall</li>
	<li>A new staircase between the ticket hall and the new platform</li>
	<li>A larger, more spacious ticket hall with more gates</li>
	<li>Preparations for step-free access to the District and Circle line platforms in the future</li>
	<li>New ticketing facilities</li>
	<li>Restored skylight</li>
	<li>Environmentally friendly drainage, with new plantings</li>
	<li>A new emergency escape stair from the eastbound platform to the bridge where Thurloe Street crosses the Tube tracks (a single, emergency-only door opening onto Thurloe Street)</li>
	<li>The ability to change the emergency escape stair into a bridge for passengers changing between lines if needed in the future</li>
</ul>

<h3>Future phases of work</h3>

<p>Included are:</p>

<ul>
	<li>Full replacement of all escalators in the station</li>
	<li>Commercial improvements and other benefits around the station</li>
	<li>A new step-free access entrance at 20-34 Thurloe Street (as part of the development)</li>
</ul>

<p>Step-free access will also be available from:</p>

<ul>
	<li>Street to train on all District and Circle line platforms</li>
	<li>Ticket hall to the museum subway</li>
	<li>Ticket hall to the Piccadilly line platforms</li>
</ul>

<h2>Why we're doing the work</h2>

<p>South Kensington station is a listed heritage site and a gateway to one of the Capital's best-known cultural&nbsp;quarters and popular tourist destinations. It is one of the busiest stations on our network - about 34 million customers pass through each year.</p>

<p>Since 2015 we've been talking with the local community - residents as well as community groups, cultural institutions and RBKC - about plans to upgrade the station, and about development opportunities in and around the station. Our discussions have helped to shape and develop our proposals.</p>

<p>We're now planning these works, which will run until 2020 (see timeline below).</p>

<p>We will give our neighbours advance notice of our plans so they know about any works due to take place around the station.</p>

<p>Benefits for our passengers and the local community include:</p>

<ul>
	<li>Quicker journeys, thanks to less congestion</li>
	<li>Step-free access from street to District and Circle line platforms and the museum subway followed by step-free access to the Piccadilly line platforms</li>
	<li>Restored heritage features</li>
	<li>Improved residential properties around the station, and better quality advertising and retail space</li>
	<li>Keeping the station open while we replace all five escalators to the Piccadilly line</li>
</ul>

<h2>Development around the station</h2>

<p>We are also working with <a href="http://www.native-land.com/">Native Land</a> to develop our land around the station. The development will respect the character of the local area, and will provide step-free access to the District and Circle line platforms&nbsp;through the&nbsp;new entrance on Thurloe Street.</p>

<p>The proposals, designed by Stirling Prize-winning architect <a href="https://www.rsh-p.com/">Rogers Stirk Harbour&nbsp;+ Partners</a>, aim to sensitively repair and enhance the Grade-II listed station and surrounding area's historic streets, while&nbsp;also making&nbsp;improvements for those who live, work and visit the area.</p>

<p>Get more information and contact details on our dedicated <a href="https://www.southkensingtonstation.co.uk/">South Kensington station project website</a>.</p>

<h3>Our proposals</h3>

<ul>
	<li>Step-free access to the District and Circle lines</li>
	<li>Restoration of the historic station arcade</li>
	<li>Improvement of the main station entrances</li>
	<li>Improvements to properties around the station that reflect the importance of this unique location</li>
</ul>

<p>We propose a five-storey building next to the station entrances that will&nbsp;have workspaces, restaurants and shops.</p>

<p>The design of the new 'Bullnose' building (referred to because of its unique shape) at the front of the station draws on the initial 19th&nbsp;century vision for the site. Structural drawings show it was originally designed to have several floors - the proposed building will mirror the distinct curved shape of the Bullnose and use the iconic sign from above the arcade entrance across the new retail units.</p>

<p>New homes around the station, including along the station side of Pelham Street, will recreate the historic row of buildings that were there before. These buildings will also offer potential for independent retail outlets.</p>

<h3>20-34 Thurloe Street</h3>

<p>We want to upgrade the building along 20-34 Thurloe Street to the north of the station, with new homes behind the historic Regency facade replacing the current apartments. The proposals also include new homes in Thurloe Square to reinstate housing where the square connects with Pelham Place.&nbsp;This was removed when the railway was built.</p>

<p>Subject to planning permission the entire&nbsp;development, including step-free access to the District and Circle lines, could be complete in 2022.</p>
 </div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/south-kensington-overview.jpg" alt="Overview of the proposed development" />
                <figcaption>
<span class="figure-title">Overview of the proposed development</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/south-kensington-bullnose-neighbours.jpg" alt="Around the station" />
                <figcaption>
<span class="figure-title">Around the station</span>
<span class="figure-description">The Bullnose in relation to neighbouring buildings</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/south-kensington-thurloe-street.jpg" alt="Around the station" />
                <figcaption>
<span class="figure-title">Around the station</span>
<span class="figure-description">The Bullnose and new station entrance on Thurloe Street</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/sks-tickethall.jpg" alt="Ticket hall - artist's impression" />
                <figcaption>
<span class="figure-title">Ticket hall - artist's impression</span>
<span class="figure-description">Improvements will make the ticket hall larger and restore the skylight</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/sks-concourse.jpg" alt="Ticket hall - artist's impression" />
                <figcaption>
<span class="figure-title">Ticket hall - artist's impression</span>
<span class="figure-description">Improvements will make the ticket hall larger and prepare it for step-free access</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/sks-stairview.jpg" alt="Ticket hall stairwell - artist's impression" />
                <figcaption>
<span class="figure-title">Ticket hall stairwell - artist's impression</span>
<span class="figure-description">Improvements will create a new stair to the new eastbound platform</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/sks-canopy-stairs.jpg" alt="New platform - artist's impression" />
                <figcaption>
<span class="figure-title">New platform - artist's impression</span>
<span class="figure-description">New platform for eastbound District and Circle line trains</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/sks-platform-eastbound.jpg" alt="New platform - artist's impression" />
                <figcaption>
<span class="figure-title">New platform - artist's impression</span>
<span class="figure-description">New platform with customer signage and seating</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Timeline</h2>

<p><strong>Summer 2015:</strong> Pre-application meetings with RBKC start</p>

<p><strong>Autumn 2015 (ongoing):</strong> Communications begin with local residents and other stakeholders about our plans</p>

<p><strong>January 2018:</strong> RBKC grants Listed Building Consent application for station capacity improvements</p>

<p><strong>March 2018:</strong> Native Land selected as our preferred partner to help us develop the area around the station</p>

<p><strong>April 2019:</strong> Consultation starts on proposals for development around the station</p>

<p><strong>2019:</strong> Preparation works continue to upgrade the station's capacity</p>

<p><strong>2020:</strong> Planning application submitted to RBKC for development around the station</p>

<p><strong>By end 2020:</strong> Detailed design works will start, followed by construction works on site. Plans to replace the Piccadilly line escalators will move ahead after work on the District and Circle line platform is finished</p>

<p><strong>When construction works finish:</strong> Step-free access from Thurloe Street to the ticket hall, museum subway and District and Circle lines will be complete</p>
</div>
 <div>


</div>
 
<div>



<h2>Consultative Working Groups (CWGs)</h2>


<p>We discussed our plans for improving South Kensington station with local residents' associations and societies. These meetings followed the creation of the South Kensington Station CWG.</p>

<p>Documents showing our initial activities in planning the station upgrade and development around the station, plus presentations and minutes from CWG meetings, are on the <a href="/travel-information/improvements-and-projects/documents-and-presentations">presentations and documents page</a>.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 <div>

<h2>History of the station</h2>
<p>South Kensington station is one of the oldest on the London Underground network. It opened in 1868 as the terminus of both the Metropolitan Railway and the Metropolitan District Railway.</p>
<p><strong>1871</strong> - The station was substantially rebuilt within three years of opening. It was widened to the south to allow the two rival companies to run their own trains on their own dedicated tracks and platforms.  A reversing track in the central passenger platform was included and the tracks were covered by a double-arch glazed roof.</p>
<p><strong>1885</strong> - The pedestrian subway was built from the station to the museums</p>
<p><strong>1907</strong> - The construction of the electric Piccadilly line prompted the electrification of the existing District line and a modernisation of the station.  The Metropolitan District Railway's architect, George Sherrin, designed a new entrance to the District line that included a shopping arcade, a new ticket hall space and new canopies over the platforms.</p>
<p>The architect for the Piccadilly line, Leslie Green, provided a new ticket hall building with access to the deep-level platforms via stairs and lifts.  The building deliberately did not follow the architecture of the rest of the station but instead featured the oxblood red, glazed terracotta fa&ccedil;ade.</p>
<p><strong>Late 20th century</strong> - In 1966 the reversing track separating the central platforms was decommissioned and filled in to make the wide island platform in use today.  The two outside platforms were closed and the tracks and passenger access were removed.  In 1970, escalators were installed from the ticket hall to the Piccadilly line and the lifts were decommissioned.  In 1987, the ticket hall was extended to the current configuration.</p>
<p>The original parade of shops and residential premises along the northern
side of Pelham Street were demolished in the early 1970s when piles
were sunk for a mothballed hotel development. Since then this side of
Pelham Street has been left bare with a wall and hoardings. </p>
<p><strong>Today</strong> - South Kensington station is often congested with a high demand from the local community and tourists and school groups accessing the nearby museums and cultural centres.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/south-kensington" class="heading">
                    <h2 id="sub-menu-heading">South Kensington station<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/documents-and-presentations">Presentations and documents</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:commercialdevelopment&#64;tfl.gov.uk">commercialdevelopment&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're working to reduce congestion and improve access at South Kensington station";}
        
            
        


 