
    
  



@{ViewBag.Title = "TfL Rail improvements";}
@{ViewBag.Keywords = "TfL Rail,T,Barking and Dagenham,City of London,Havering,Newham,Redbridge,Crossrail,Rail improvements,Elizabeth line,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/tfl-rail-improvements";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "/travel-information/improvements-and-projects/preparing-for-the-elizabeth-line");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">TfL Rail improvements</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>TfL Rail improvements</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have taken over rail services from Paddington to Heathrow and Liverpool Street to Shenfield to prepare for the Elizabeth line. You can use contactless (card or device) or an Oyster card to pay for your fare.
        
      </div>
    
    <div class="on-this-page">
      <p>TfL Rail&nbsp;has taken&nbsp;over the former Heathrow Connect service between Paddington and Heathrow Terminals 2&nbsp;&amp; 3, 4&nbsp;&amp; 5, as well as&nbsp;the GWR stopping services between Paddington and Hayes &amp; Harlington.</p>

<p>All stations are now staffed from the first train to the last and if you need assistance there is no need to pre-book &#45; staff will be on hand to help you</p>

<h2>Fares&nbsp;between Paddington&nbsp;and Heathrow</h2>

<p>The single adult pay as you go fare between Paddington and Heathrow is &pound;10.20 during peak hours (06:30 - 09:30, and 16:00 - 19:00, Monday to Friday). At all other times the single adult pay as you go fare is &pound;10.10.</p>

<p>Use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a>, <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster</a> or a <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster</a> card to travel to and from Heathrow airport on TfL Rail&nbsp;and you may also benefit&nbsp;from <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">daily&nbsp;capping</a>.</p>

<h2>Station improvements</h2>

<p>Improvement work at TfL Rail stations is continuing. Step-free access will be available at all stations, and all ticket halls are being rebuilt or refurbished, with improved lighting, CCTV and customer information.</p>

<p>These stations will make up the western and eastern ends of the <a href="/travel-information/improvements-and-projects/elizabeth-line">Elizabeth line</a>.</p>
      
           
      <div>

<h2>Paddington to Heathrow and Reading</h2>
<p>We are continuing the work to improve stations between Paddington and Heathrow.</p>
<h3>Acton Main line</h3>
<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>
<p>The work includes:</p>
<ul>
    <li>A new, bright, spacious ticket hall</li>
    <li>Two new lifts and a new footbridge providing step-free access to platforms</li>
    <li>New ticket gates and ticket office</li>
    <li>Improved information, CCTV and lighting</li>
</ul>
<h3>Burnham</h3>
<p>Network Rail is improving customer information, CCTV and lighting at this station. Work is due to finish when the Elizabeth line fully opens.</p>
<h3>Ealing Broadway</h3>
<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>
<p>The work includes:</p>
<ul>
    <li>A new, larger entrance and ticket hall</li>
    <li>Four new lifts providing step-free access</li>
    <li>New staircases to platforms 1 and 2/3</li>
    <li>New ticket gates and ticket office</li>
    <li>New customer toilets and retail space</li>
    <li>Improved decoration, information, CCTV and lighting</li>
</ul>
<h3>Hanwell</h3>
<p>Our improvement work will continue until the Elizabeth line fully opens. It includes:</p>
<ul>
    <li>Two new lifts providing step free access to platforms</li>
    <li>Refurbished entrances and subway</li>
</ul>
<p>Network Rail will also be providing:  </p>
<ul>
    <li>Improved customer Information</li>
    <li>Improved CCTV and lightning</li>
</ul>
<h3>Hayes &amp; Harlington</h3>
<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>
<p>The work includes:</p>
<ul>
    <li>A new, more spacious ticket hall</li>
    <li>Four new lifts and a new footbridge providing step-free access to platforms</li>
    <li>New waiting room on platforms 4/5</li>
    <li>New ticket gates and ticket office</li>
    <li>Improved decoration, information, CCTV and lighting</li>
</ul>
<h3>Iver</h3>
<p>Our improvement work will continue until the Elizabeth line fully opens. It includes:</p>
<ul>
    <li>Three new lifts providing step free access to all platforms</li>
    <li>New entrance, including new ticket hall, ticket office and ticket gates</li>
</ul>
<p>Network rail is also improving customer information and lighting.</p>
<p>During this work please use the temporary walking route to reach the ticket office and footbridge</p>
<h3>Langley</h3>
<p>Our improvement work will continue until the Elizabeth line fully opens. It includes:</p>
<ul>
    <li>Three new lifts and a new footbridge providing step-free access to all platforms</li>
    <li>A new ticket hall, ticket office and ticket gates</li>
</ul>
<p>
Network rail is also improving customer information and lighting.</p>
<h3>Southhall</h3>
<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>
<p>The work includes:</p>
<ul>
    <li>A new ticket hall</li>
    <li>Three new lifts and a new footbridge providing step free access to platforms</li>
    <li>New ticket halls and ticket office</li>
    <li>Improved information, CCTV and lighting</li>
</ul>
<h3>Taplow</h3>
<p>Our improvement work will continue until the Elizabeth line fully opens. It includes:</p>
<ul>
    <li>Two new lifts and a footbridge providing step-free access to platforms 2/3 and 4</li>
    <li>Refurbished ticket hall and ticket office</li>
    <li>Refurbished waiting rooms and toilets</li>
</ul>
<p>Network rail is also improving customer information and lighting.</p>
<p>During this work, please use the temporary footbridge to reach platforms.</p>
<h3>West Drayton</h3>
<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>
<p>The work includes:</p>
<ul>
    <li>Three new lifts and extended footbridge providing step-free access to platforms</li>
    <li>A new entrance, improved customer information</li>
    <li>Improved CCTV and lighting</li>
</ul>
<p>We are also making improvements to the station which will be finished by autumn 2018 and include refurbishing the existing ticket hall, ticket office, waiting rooms and toilets.</p>
<h3>West Ealing</h3>
<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>
<p>The work includes:</p>
<ul>
    <li>A new ticket hall</li>
    <li>Two new lifts providing step free access to all platforms</li>
    <li>A new footbridge and stairs</li>
    <li>New ticket gates and ticket office</li>
    <li>Improved information, CCTV and lighting</li>
</ul>
</div>
 <div>

<h2>Liverpool Street to Shenfield</h2>

<p>Much of the work currently taking place is done at evenings and weekends when trains are not running. Thank you for your patience during all of this work.</p>

<p>Work at several stations is now complete - see <a href="/travel-information/improvements-and-projects/what-we-ve-done-so-far">what we've done so far</a>.</p>

<h3>Chadwell Heath station</h3>

<p>Our improvements include refurbishing and redecorating platform canopies. We are also putting in new platform shelters which will be complete by the end of December 2018.</p>

<h3>Forest Gate station</h3>

<ul>
	<li>Three new lifts offering step-free access from the street to all platforms</li>
	<li>Refurbished footbridge and ticket hall with new ticket gates and ticket machines</li>
	<li>Improved lighting, CCTV and PA systems, help points and customer information</li>
	<li>Longer and refurbished platforms for the new trains</li>
	<li>New platform seating and a refurbished waiting room</li>
</ul>

<p>Network Rail's work to upgrade the station is expected to be complete in winter 2018.</p>

<h3>Gidea Park station</h3>

<ul>
	<li>Three new lifts providing step-free access from the street to all platforms</li>
	<li>Refurbished footbridge and ticket hall with new ticket gates and ticket machines</li>
	<li>Improved lighting, CCTV and PA systems, help points and customer information</li>
	<li>Longer and refurbished platforms for the new trains</li>
	<li>New platform seating and a refurbished waiting room</li>
</ul>

<p>Network Rail's work to upgrade the station is expected to be complete in&nbsp;winter 2018.</p>

<p>Once Network Rail finishes refurbishing the footbridge and installing the lift, customers will have step-free access to all platforms.</p>

<h3>Goodmayes station</h3>

<ul>
	<li>Three new lifts providing step-free access from the street to all platforms</li>
	<li>Refurbished ticket hall with new ticket gates and ticket machines</li>
	<li>Improved lighting, CCTV and PA systems, help points and customer information</li>
	<li>Longer and refurbished platforms for the new trains</li>
	<li>New platform seating and a refurbished waiting room</li>
</ul>

<p>Network Rail's work to upgrade the station is expected to be complete in winter 2018.</p>

<p>During this work, please use the temporary ticket office outside the station entrance on Goodmayes Road. Alternatively, use contactless payment or nearby <a href="https://tfl.gov.uk/maps/oyster-ticket-stops?Input=Goodmayes%20Road,%20Ilford%20IG3%209UH,%20United%20Kingdom&amp;InputGeolocation=0,0&amp;googlePredictionId=ChIJYVUswTCk2EcRwKjyqSKkVqg">Oyster ticket stops</a>.</p>

<p>Improvements we're making until winter 2018 include refurbishing and redecorating platform buildings and canopies. We will also put in new platform shelters and seating.</p>

<h3>Harold Wood station</h3>

<p>Improvements currently in progress include:</p>

<ul>
	<li>Three new lifts providing step-free access from the street to all platforms</li>
	<li>Refurbished ticket hall with new ticket gates and ticket machines</li>
	<li>Improved lighting, CCTV and PA systems, Help points and customer information</li>
	<li>Longer and refurbished platforms for the new trains</li>
	<li>New platform seating and a refurbished waiting room</li>
</ul>

<p>Network Rail's work to upgrade the station is expected to be complete in spring 2019.&nbsp;</p>

<p>Until then, access to trains and tickets continues to be via the car park entrance on Station Road only.</p>

<p>Please take care on the extra 32 stairs, or take an eastbound train to Brentwood and change there to a westbound train. Alternatively, speak to a member of staff for advice.</p>

<p>During this time, there will be 81 car park spaces available. Season ticket holders and disabled space users can use alternative spaces. Other users may find it easier to use the car park at nearby Brentwood station.</p>

<h3>Ilford station</h3>

<p>Network Rail is currently planning a major station rebuild for Ilford. It intends to put a build contractor in place and start getting the site ready by the end of 2018. The work should be complete when the Elizabeth line fully opens.</p>

<p>In the meantime, until winter 2018, we are making improvements which include refurbishing platform canopies, station toilets and building new platform shelters.</p>

<h3>Manor Park station</h3>

<p>We're making improvements which include footbridge and lift works. Step-free access and improved walking routes will be available after&nbsp;February 2019.</p>

<p>Until then please follow signs and staff directions to trains by way of the temporary footbridge.</p>

<p>Take care on the additional 78 stairs.</p>

<p>To avoid the additional stairs, please take bus route 86 from stop F on Romford Road to Stratford station, or route W19 from stop B (opposite the station) to Ilford station. You can also speak to a member of staff for advice.</p>

<h3>Maryland station</h3>

<p>Our improvement work will continue until&nbsp;February 2019 and include:</p>

<ul>
	<li>Three new lifts providing step-free access</li>
	<li>New entrance doors and ticket machines</li>
	<li>New accessible customer toilet and retail space</li>
	<li>Improved decoration internally and externally</li>
</ul>

<h3>Romford station</h3>

<p>Network Rail is carrying out a major station rebuild for Romford which is due to be complete by December 2019, and includes:</p>

<ul>
	<li>Main entrance widened</li>
	<li>New northern&nbsp;entrance</li>
	<li>New lift to platform 1/2</li>
	<li>New southern entrance</li>
	<li>Lifts to ticket hall and platforms 3/4 and 5</li>
	<li>Refurbished ticket hall</li>
</ul>

<p>A new platform is due to be finished by autumn 2018.</p>

<h3>Seven Kings station</h3>

<p>Work to install a footbridge and three new lifts for step-free access to all platforms is taking place until&nbsp;February 2019.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/goodmayes-station.jpg" alt="Goodmayes station" />
                <figcaption>
<span class="figure-title">Goodmayes station</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>New trains</h2>
<p>New trains are being introduced between Liverpool Street and Shenfield. <a href="/travel-information/improvements-and-projects/new-trains">Watch a video about the new trains</a>.</p>
<p>Network Rail is carrying out work to move some platform edges at TfL Rail stations to make way for the new, more spacious trains. </p>
<p>While this work takes place, and until all the new trains are running, the step and gap between the train and the platform will be larger in some places. Platform surfaces may also be uneven. Please take extra care when getting on or off the train.</p>
<h2>Elizabeth line</h2>
<p>TfL Rail services will become part of the Elizabeth line when it launches in stages. This line will use the tunnels and stations being built by <a href="http://www.crossrail.co.uk">Crossrail Ltd</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/travel-information/improvements-and-projects/index"  class="plain-button">See all improvements and projects</a>

</div>
<div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/elizabeth-line" class="plain-button">Elizabeth line</a>
<a href="/modes/tfl-rail/index" class="plain-button">TfL Rail</a>
<a href="/travel-information/improvements-and-projects/step-free-access" class="plain-button">Step-free access</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Stations on TfL Rail lines have been improved ahead of the start of full Elizabeth line services";}
        
            
        


 