
    
  



@{ViewBag.Title = "Tottenham Hale";}
@{ViewBag.Keywords = "Cyclists,Drivers,Pedestrians,T,Haringey,Tube improvement,Buses,Cycling,Driving,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/tottenham-hale";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Tottenham Hale</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Tottenham Hale</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're making transport improvements in Tottenham that will help regenerate the area. Work is expected to finish in late 2020.
        
      </div>
    
    <div class="on-this-page">
      <h3>Benefits</h3>

<p>The improved station will be a focal point of the new district centre and an iconic gateway to Tottenham and the Upper Lea Valley. Passengers will benefit from improved:</p>

<ul>
	<li>Interchange and journey times</li>
	<li>Accessibility and legibility</li>
	<li>Ambience and journey experience</li>
	<li>Retail opportunities</li>
</ul>

<h2>Improvements to the area</h2>

<p>The plans for improving Tottenham Hale station were approved by Haringey Council's Planning Committee in March 2014.</p>

<p>We introduced a two-way traffic system in 2015 to help reduce the impact of traffic in the area, and to create the opportunity for other developers and Haringey Council to continue the transformation of Tottenham.</p>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/station-view-with-shops.jpg" alt="Tottenham Hale" />
                <figcaption>
<span class="figure-title">Tottenham Hale</span>
<span class="figure-description">Station with shops</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/tube-gateline.jpg" alt="Tottenham Hale" />
                <figcaption>
<span class="figure-title">Tottenham Hale</span>
<span class="figure-description">Ticket gates in the station</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/front-of-station.jpg" alt="Tottenham Hale" />
                <figcaption>
<span class="figure-title">Tottenham Hale</span>
<span class="figure-description">Front of station</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/station-with-bridge.jpg" alt="Tottenham Hale" />
                <figcaption>
<span class="figure-title">Tottenham Hale</span>
<span class="figure-description">Station with bridge</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/tottenham-hale-bus-station.jpg" alt="Tottenham Hale" />
                <figcaption>
<span class="figure-title">Tottenham Hale</span>
<span class="figure-description">Completed bus station</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
<div>




<p>Tottenham Hale, as part of the Upper Lea Valley regeneration plans, has been identified for 5,000 new homes and 4,000 new jobs with the goal of transforming the area into a new district centre.</p>

<p>Significant transport investment is the focus. This includes:</p>

<ul>
	<li>Removal of the Tottenham Hale gyratory system</li>
	<li>Construction of a new bus station and public square</li>
	<li>Tottenham Hale Tube/rail station improvement</li>
	<li>Upgrade of the West Anglia main line by Network Rail - this will enable a more frequent local rail service at Tottenham Hale</li>
</ul>

<p>The changes will make the area more accessible and safer for pedestrians, cyclists and public transport users.</p>

<p>Improvements began with a redesigned taxi rank space outside the station in January 2017.</p>

<h2>Tube/rail station</h2>

<p>Tottenham Hale station is an important transport hub and a strategic interchange with links to central London, the West End, the City of London, Stratford, Stansted Airport and Cambridge. However, constraints on existing transport capacity at the station mean we need to make improvements to allow for future demand at Tottenham Hale.</p>

<h3>What is happening?</h3>

<p>We have been working closely with the London Borough of Haringey, Greater London Authority, Network Rail and Greater Anglia to improve Tottenham Hale station.</p>

<p>Improvements include:</p>

<ul>
	<li>A new landmark entrance to the station</li>
	<li>Enlarged station concourse to reduce crowding and queuing</li>
	<li>Step-free access to National Rail platforms via two new lifts and a bridge created by Network Rail</li>
	<li>Relocation of the station vent shaft</li>
	<li>Provision for over-station development</li>
	<li>Space for new retail units</li>
</ul>

<p>The walking route into and out of the station has changed. Until the new station opens, It will run between the front of the new station building and the bus station. Step-free access is still available.</p>

<p>Other station upgrade works are progressing. Delays in 2019 happened because we had less access than we needed to the railway line above ground. However, we will be able to work during overnight closures and open the new station by late 2020.</p>

<h3>Changes to bus stops</h3>

<p>As part of work to change the road layout, we are reconfiguring the bus station in three phases. Until 18 April 2020 some bus routes will use different stops. <a href="https://tfl.gov.uk/bus/status/">Check the status of your bus journey</a> or see posters at the station to find your stop.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tottenham-hale-bus-stop-changes-to-april-2018.pdf">
    <div class="document-download-text">
        <p>Bus stops to 18 April 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 <div>


        <h2>Background</h2>
        <p>Tottenham Hale is the commercial heart of Tottenham and a key area for growth and regeneration.</p>
        <p>Tottenham Hale is located within the Upper Lea Valley Opportunity Area, where there are plans for the creation of 15,000 new jobs and 20,100 new homes.</p>
        <p>At Tottenham Hale there is the capacity for 5,000 new homes and 4,000 new jobs and the vision is to transform the area in to a new district centre.</p>
        <p>Tottenham Hale station will be a focal point of this new district centre and should be an iconic gateway to Tottenham and the Upper Lea Valley.</p>
    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.greateranglia.co.uk" class="plain-button">Greater Anglia</a>
<a href="http://www.london.gov.uk" class="plain-button">Greater London Authority</a>
<a href="http://www.haringey.gov.uk/tottenham" class="plain-button">London Borough of Haringey</a>
<a href="http://www.networkrail.co.uk" class="plain-button">Network Rail</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Work to rebuild Tottenham Hale station will continue until 2020";}
        
            
        


 