
    
  



@{ViewBag.Title = "Vauxhall Cross gyratory";}
@{ViewBag.Keywords = "Cyclists,Drivers,Pedestrians,V,Lambeth,Southwark,Wandsworth,Westminster,Consultation,Environment,Roads,Buses,Cycling,Deliveries,Driving,Motorcycle,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/vauxhall-gyratory";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Vauxhall Cross gyratory</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Vauxhall Cross gyratory</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are working closely with Lambeth Council to return the one-way road system at Vauxhall to two-way roads and improve the area for pedestrians and cyclists. We plan to start construction of the new road layout and bus station in 2021.
        
      </div>
    
    <div class="on-this-page">
      <p>The proposed changes will help to improve connectivity and create a better environment for people living, working and travelling through Vauxhall.</p>
<p>
We will:</p>
<ul>
    <li>Remove the existing one-way road system (Parry Street, Wandsworth Road, Kennington Way and South Lambeth Road) by converting these roads to two-way</li>
    <li>Provide more cycle and pedestrian crossings as well as segregated lanes and parking for cyclists</li>
    <li>Improve existing public spaces and provide new public spaces</li>
    <li>Redesign the transport interchange, including a new central bus station, so that it works in a two-way arrangement</li>
</ul>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="QKA4z4Bm5qw" data-video-caption="Proposed Vauxhall Cross bus station"></li>
  
  </ul>
</div>
</div>
 <div>

<p><a href="https://planning.lambeth.gov.uk/online-applications/applicationDetails.do?activeTab=consulteeComments&amp;keyVal=OX93X2BOK0U00">Our planning application</a> for the proposed bus station buildings and associated buildings was approved by Lambeth Council in February 2018.</p>

<p>We expect to start construction in 2021 and finish by 2024, subject to approvals.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vauxhall-cross-street-railway-bridge.jpg" alt="Vauxhall Cross gyratory" />
                <figcaption>
<span class="figure-title">Vauxhall Cross gyratory</span>
<span class="figure-description">Artist's impression of proposals for  Kennington Lane and South Lambeth Road junction</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vauxhall-cross-railway-bridge.jpg" alt="Vauxhall Cross gyratory" />
                <figcaption>
<span class="figure-title">Vauxhall Cross gyratory</span>
<span class="figure-description">Artist's impression of proposals for South Lambeth Road and South Lambeth Place</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vauxhall-from-vauxhall-bridge.jpg" alt="Vauxhall Cross gyratory" />
                <figcaption>
<span class="figure-title">Vauxhall Cross gyratory</span>
<span class="figure-description">Vauxhall Cross - from Vauxhall Bridge</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vauxhall-cross-view-01-08.jpg" alt="Vauxhall Cross gyratory" />
                <figcaption>
<span class="figure-title">Vauxhall Cross gyratory</span>
<span class="figure-description">Artist's impression of proposals for Albert Embankment</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vauxhall-wandsworth-road.jpg" alt="Vauxhall Cross gyratory" />
                <figcaption>
<span class="figure-title">Vauxhall Cross gyratory</span>
<span class="figure-description">Wandsworth Road - looking north with new bus station on right</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vauxhall-bondway-looking-north.jpg" alt="Vauxhall Cross gyratory" />
                <figcaption>
<span class="figure-title">Vauxhall Cross gyratory</span>
<span class="figure-description">Bondway - looking north with new bus station on left </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vauxhall-square-daytime.jpg" alt="Vauxhall Cross gyratory" />
                <figcaption>
<span class="figure-title">Vauxhall Cross gyratory</span>
<span class="figure-description">The station square (daytime) from the rail station entrance</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vauxhall-square-night.jpg" alt="Vauxhall Cross gyratory" />
                <figcaption>
<span class="figure-title">Vauxhall Cross gyratory</span>
<span class="figure-description">The station square (night) from the rail station entrance</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/vauxhall-bus-station-canopy.jpg" alt="Vauxhall Cross gyratory" />
                <figcaption>
<span class="figure-title">Vauxhall Cross gyratory</span>
<span class="figure-description">Bus station canopy - Bondway is on the right</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<p>Our second consultation on detailed design proposals closed in January 2016. Our response to issues raised during the consultation can be found on the <a href="https://consultations.tfl.gov.uk/roads/vauxhall-cross/">Vauxhall Cross consultation page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            Email <a href="mailto:consultations&#64;tfl.gov.uk">consultations&#64;tfl.gov.uk</a><br />
<br />
<strong>Contact us if you have questions or comments about the scheme.</strong><br />
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Related website</h3>

<div class="vertical-button-container">

<a href="http://www.nineelmslondon.com/vauxhall" class="plain-button">Vauxhall Regeneration</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We plan to start converting the one-way road system back to two-way in 2020";}
        
            
        


 