
    
  



@{ViewBag.Title = "My vehicles";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/account-active-vehicles-37471";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
                <li><span class="last-breadcrumb">My vehicles</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>My vehicles</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>View active vehicles on your account and the dates they were added to any services or discounts.</p>
        
      </div>
    
    
      <p>You can also request a vehicle report which we will email to you. This will give you the details of all the vehicles on your account and any charges you need to pay.</p>
      
           
      


		
		<!-- 1. account-active-vehicles -->
		@{
            dynamic reportContent = new ContentModel();
            reportContent.ReportButtonLabel = "Get a vehicle report";
            reportContent.Heading = "Send a vehicle report";
            reportContent.EmailPalceHolder = "Email";
            reportContent.Description = "Enter an email address";
            reportContent.SuccessHeading = "Report on its way";
            reportContent.SuccessMessage = "The report may take a while to appear in your inbox, but an email is on its way.";
            reportContent.ErrorHeading = "Error";
            reportContent.ErrorMessage = "We could not send your report. Try again.";
            reportContent.InProgressHeading = "Vehicle list";
            reportContent.InProgressMessage = "The email is on its way.";

             Html.RenderAction("VehicleReport", "VehicleList", new
                {
                    area = "Ruc",
                    content = reportContent
                }
            );
        }
        <br/>
    	@{
            dynamic vehicleListContent = new ContentModel();
    
            /* Charge labels and messages */
            vehicleListContent.NonChargeableLabel = "No charge due";
            vehicleListContent.NonChargeableMessage = "Based on the vehicle details entered and information held by the DVLA and TfL today, you don't have to pay the ULEZ charge for this vehicle. This may change - always check to see if you need to pay to drive within the zone.";
            vehicleListContent.PayableHighLabel = "Should be paid";
            vehicleListContent.PayableHighMessage = "This vehicle does not meet the ULEZ emissions standards. You need to pay the ULEZ charge if you drive within the zone. The zone operates all the time except Christmas Day - charging days run from midnight to midnight.";
            vehicleListContent.PayableLowLabel = "Should be paid";
            vehicleListContent.PayableLowMessage = "This vehicle does not meet the ULEZ emissions standards. You need to pay the ULEZ charge if you drive within the zone. The zone operates all the time except Christmas Day - charging days run from midnight to midnight.";
            vehicleListContent.ExemptLabel = "Exempt";
            vehicleListContent.ExemptMessage = "Based on the vehicle details entered and information held by the DVLA and TfL today, this vehicle is exempt from this charge. This may change - always check to see if you need to pay to drive within the zone.";
            vehicleListContent.CompliantLabel = "Meets the standard";
            vehicleListContent.CompliantMessage = "This vehicle either meets the ULEZ emissions standards, is exempt or you don't have to pay the charge for it.";
            vehicleListContent.PayableLabel = "Should be paid";
            vehicleListContent.PayableMessage = "You need to pay the Congestion Charge for this vehicle if you drive within the zone Monday to Friday, 07:00-18:00 excluding bank holidays and the period between Christmas Day and New Year's Day.";
            vehicleListContent.FullDiscountLabel = "100% discount";
            vehicleListContent.FullDiscountMessage = "This vehicle is currently registered for a 100% discount from this charge. Check when the discount expires in the 'Manage discounts' section of your account.";
            vehicleListContent.UlezCompliantHeading = "ULEZ  - meets the standard";
            vehicleListContent.UlezNonCompliantHighHeading = "ULEZ";
            vehicleListContent.UlezNonCompliantLowHeading = "ULEZ"; 
            vehicleListContent.UlezNonCompliantHighHeading = "ULEZ";
            vehicleListContent.UlezNonCompliantLowHeading = "ULEZ"; 
            vehicleListContent.ChargeabilityUnknownMessage = "We don't hold any charge details for this vehicle.";
            vehicleListContent.UnknownVehicleWarningMessage = "We don't have any details for this vehicle at the moment. If you want to add it to a discount application or to Auto Pay you need to add it as a new vehicle.";
            vehicleListContent.ChargeabilityUnknownLabel = "Unknown";
    
            /* CommonList CMS properties */
            vehicleListContent.ServiceError = "There was a problem - we can't retrieve your vehicles";
    
            /* Search, Sort Filter Section */
            vehicleListContent.SearchLabelText = "Search by number plate";
            vehicleListContent.SearchPlaceholderText = "eg AB01ABC";
            vehicleListContent.SortLabelText = "Sort";
            vehicleListContent.ApplyFilterButtonText = "Apply filter";
            vehicleListContent.ResetFilterButtonText = "Reset filter";
    
            /* Composite Vehicle List Summary*/
            vehicleListContent.TotalRecordsLabelTemplate = "{0} vehicle";
            vehicleListContent.PluralTotalRecordsLabelTemplate = "{0} vehicles";
            vehicleListContent.DownloadButtonText = "Download list";
            vehicleListContent.DownloadButtonUrl = "//";
    
            /* Composite Vehicle List Panel */
            vehicleListContent.AddTagText = "Add tag";
            vehicleListContent.EditTagText = "Edit tag";
            vehicleListContent.CcLabel = "CC";
            vehicleListContent.UlezLabel = "ULEZ";
            vehicleListContent.DateAddedText = "Date added";
            vehicleListContent.ExpiryDateText = "Expiry date";
            vehicleListContent.MoreDetailsLabelText = "Charge details";
            vehicleListContent.LessDetailsLabelText= "Charge details";
    
            /* Add, Edit, Remove Tag Modal */
            vehicleListContent.AddTagModalHeadingText = "Add a tag";
            vehicleListContent.AddTagModalMessageText = "Adding a tag will help you identify your vehicle more easily.";
            vehicleListContent.EditTagModalHeadingText = "Edit tag";
            vehicleListContent.EditTagModalMessageText = "Change your vehicle tag or remove it.";
            vehicleListContent.AddTagLabel = "Add tag";
            vehicleListContent.EditTagLabel = "Edit tag";
            vehicleListContent.TagModalSaveButtonText = "Save";
            vehicleListContent.TagModalCancelButtonText = "Cancel";
    
            /* Remove Vehicle Modal */
            vehicleListContent.RemoveVehicleModalHeadingText = "Are you sure?";
            vehicleListContent.RemoveVehicleModalMessageText = "This will remove the vehicle from your list.";
            vehicleListContent.RemoveVehicleModalConfirmButtonText = "Remove";
            vehicleListContent.RemoveVehicleModalCancelButtonText = "Keep";
    
            /* Minimum list size message */
            vehicleListContent.MinimumListSizeWarning = "You must have a minimum of 6 vehicles on your Fleet Auto Pay service. You can't remove any more vehicles.";
            vehicleListContent.VehicleDetailUrl = "/modes/driving/account-vehicle-details-37472?vrm={0}&country={1}";
             
            Html.RenderAction("Index", "CompositeVehicles", new
                {
                    content = vehicleListContent
                }
            );
        }
		
		<br />

        <h2>Manage my vehicles</h2>

        <ul class="vertical-button-container stacked-cta-list">

            @ModulesHelpers.BoxedLinkListItem(
                href: "/modes/driving/account-quick-management-list-37474",
                id: "quick-manage-link",
                text: "Manage vehicles on Quick Management list"
            )

            @ModulesHelpers.BoxedLinkListItem(
                href: "/modes/driving/cc-autopay-manage-manage-29152",
                id: "manage-autopay-link",
                text: "Manage or set up Auto Pay"
            )

            @ModulesHelpers.BoxedLinkListItem(
                href: "/modes/driving/cc-discount-manage-discounts-32822",
                id: "manage-discounts-link",
                text: "Manage vehicles on discounts"
            )

        </ul>

        @ModulesHelpers.BoxedLink(
            href: "/modes/driving/cc-autopay-manage-view-vehicle-history-30894",
            id: "vehicle-history-link",
            text: "All vehicle history", 
            soloButton: true
        )
        
        @FormHelpers.DottedSeparator()
        @ModulesHelpers.BackLink()

        @this.ScriptBlock(
            @<script>
                queue.push(
                    "@Html.ScriptPath("specific/list-filters-text.min.js")", null,
                    "@Html.ScriptPath("modules/M020-on-this-page.min.js")", null,
                    "@Html.ScriptPath("specific/results-paginator.min.js")", function () {
                       $('#vehicle-list').paginator();
                });
            </script>
        )

		
	  

  
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "View active vehicles on your account and the dates they were added to any services or discounts.";}
        
            
        


 