
    
  



@{ViewBag.Title = "Transaction history";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-autopay-manage-view-statements-29248";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/auto-pay">Auto Pay</a></li>
                
            
            
            
                <li><span class="last-breadcrumb">Transaction history</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transaction history</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>View details of all transactions over the last 24 months on your Auto Pay service.</p>
        
      </div>
    
    
      <p>You can:</p>
<ul>
    <li>Download these transactions as a .csv file and open them in the program of your choice</li>
    <li>Download a custom file by using search and filter options first</li>
    <li>See more details of any charges incurred on your account by expanding each tile</li>
</ul>
      
           
      

 


		
		<!-- 3. cc/autopay/manage/view-statement -->
		@using TfL.Ruc.Services.ViewModels.Ruc.Autopay
		@{
            dynamic content = new ContentModel();
            content.ListHeading = "My Auto Pay transactions";
            content.SearchLabel = "Search for a vehicle";
            content.DownloadFilteredListButtonText = "Download .csv";
            content.FilterHeadingText = "Filter by date range";
            content.FromDateText = "From date ";
            content.ToDateText = "To date ";
            content.SortHeadingText = "Sort by:";
            content.TypeText = "Type";
            content.OrderText = "Order";
            content.AmountSuffix = "(credit)";
            content.FilterButtonText = "Apply filters";
            content.TransactionTypeLabel = "Transaction type: ";
            content.VRMLabel = "Number plate (Vehicle Registration Mark): ";
            content.PaymentDateLabel = "Date: ";
            content.TagLabel = "Tag:";
            content.DateAddedForLabel = "Journey date: ";
            content.ReferenceLabel = "Reference: ";
            content.StatementIdLabel = "Statement: ";
            content.DateRangeLabel = "Date range";
            //content.ListHeading = "Statements";
            content.ReceiptIdLabel = "Receipt number: ";
            content.AmountLabel = "Amount: ";

            Html.RenderAction(
                CommonDictionary.ListModule.ListActionName,
                "FinancialHistory",
                new
                {
                    area = "Ruc",
                    content = content,
                    autopayOnly = true,
                    transactionDetailUrl = "/modes/driving/cc-autopay-manage-transaction-detail-30898",
                    evidentialRecordUrl = "/modes/driving/cc-autopay-manage-evidential-record-36782"
                }
            );

        
        }

        @ModulesHelpers.BackLink()
        
        @this.ScriptBlock(
        @<script>
            queue.push(
                "@Html.ScriptPath("specific/list-filters-text.min.js")", null,
                "@Html.ScriptPath("specific/results-paginator.min.js")", null,
                "@Html.ScriptPath("specific/pages/statements.min.js")", function() {
                     tfl.rucstatements.init();
                }
            );
        </script>
        
        )
        
		
	  

  
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "View details of all transactions over the last 24 months on your Auto Pay service.";}
        
            
        


 